{% extends "layouts/base.html" %}

{% block title %} 내역별 잔액 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <style>
        div#byCust table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(1), div#byCust table td:nth-child(2) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(2) {
            left: 12rem;
            min-width: 10rem;
        }

        div#byCust table tbody#custTb td {
            background-color: white;
        }
        div#byCust table tbody#custTotalTb td {
            background-color: #c9dae1;
        }

        div#byItem table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table tr:nth-child(1) th:nth-child(6),
        div#byItem table td:nth-child(1), div#byItem table td:nth-child(2), div#byItem table td:nth-child(3), div#byItem table td:nth-child(4), div#byItem table td:nth-child(5), div#byItem table td:nth-child(6) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table td:nth-child(2) {
            left: 12rem;
            min-width: 8rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table td:nth-child(3) {
            min-width: 6rem;
            left: 20rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table td:nth-child(4) {
            left: 26rem;
            min-width: 6rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table td:nth-child(5) {
            min-width: 6rem;
            left: 32rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(6), div#byItem table td:nth-child(6) {
            left: 38rem;
            min-width: 6rem;
        }

        div#byItem table tbody#itemTb td {
            background-color: white;
        }
        div#byItem table tbody#itemTotalTb td {
            background-color: #c9dae1;
        }
    </style>

    <!--<div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>-->
    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card bg-gradient-primary">
                    <div class="card-header bg-transparent">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fa fa-credit-card fs-4 me-3"></i>내역별 잔액</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card">
                    <div class="card-header border border-light border-top-0 border-end-0 border-start-0 pb-0">
                        <div class="row">
                            <div class="col-lg-3 col-3 text-start">
                              <div class="input-group shadow-none">
                                  <label class="mt-1 me-4" style="font-size: 0.85rem; width: 5rem" for="inputStrDate"><i class="fas fa-search me-2"></i>일자</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputDate" id="inputDate" style="max-width: 10rem;height: 2rem; font-size: 0.8rem">
                              </div>
                            </div>
                            <div class="col-lg-1 col-1 text-end">
                              <button type="button" class="btn btn-sm btn-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                            </div>
                        </div>
                    </div>
                    <div class="px-0 py-0 card-body height-500">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <div class="m-2 table-responsive-sm overflow-auto border border-light">
                                    <table class="table mb-0 align-items-center justify-content-center">
                                        <thead class="text-white font-weight-normal" style="background-color: rgb(0, 92, 151);" id="codeHead">
                                        <tr id="#headTr" class="headTr_tr">

                                        </tr>
                                        </thead>
                                        <tbody class="text-dark" id="sheetTb">
                                          <tr id="#sheetTr" class="sheetTr_tr">

                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            document.getElementById('inputDate').valueAsDate = new Date

            var sDate = document.getElementById('inputDate').value
            var date = sDate.replace(/\-/g, '')
            var year = date.slice(0, 4)

            let data = {'date': date, 'year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "breakdown_balance_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.headList;
                    var list2 = data.mainList;
                    var list3 = data.codeList;
                    var list4 = data.codeList2;
                    var list5 = data.monthList;
                    var list6 = data.circleList;

                    $("#codeHead").html("");
                    $("#sheetTb").html("");

                    {# 헤더 #}
                    $("#codeHead").append("<tr  id='#headTr' class='headTr_tr'>" + "</tr> ");
                    $(".headTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>구분</td>");
                    for (var i = 0; i < list.length; i++) {
                        $(".headTr_tr").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + list[i][1] + "수불내역서</td>" );
                    }
                    $(".headTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>수불내역서 계</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>계정별내역서</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>월별집계</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>자금유동현황</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>평 균</td>" );

                    {#  메인 데이터  #}
                    var total = 0;
                    $("#sheetTb").append("<tr  id='#sheetTr' class='sheetTr_tr'>" + "</tr> ");
                    $(".sheetTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>잔액</td>");
                    for (var i = 0; i < list2.length; i++) {
                        if(list[i][0] == list2[i][0]){
                            total += list2[i][1]
                            $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list2[i][1]) + "</td>" );
                        }
                    }
                    for (var i = 0; i < list.length - list2.length; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>0</td>" );
                    }

                    {# 수불내역서 계 #}
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td>" );

                    var codeTotal = 0;
                    for (var i = 0; i < list3.length; i++) {
                        codeTotal = list3[i][0]
                    }

                    for (var i = 0; i < list4.length; i++) {
                        if(list4[i][0] == '1'){
                            codeTotal -= list4[i][1]
                        }
                        if(list4[i][0] == '2'){
                            codeTotal += list4[i][1]
                        }
                    }
                    {# 계정별내역서 계 #}
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(codeTotal) + "</td>" );

                    {# 월별 집계 계 #}
                    var monthTotal = 0;
                    for (var i = 0; i < 1; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[i][5]) + "</td>");
                        monthTotal = list5[i][5]
                    }

                    {# 자금 유동 현황 #}
                    var circleTotal = 0;
                    for (var i = 0; i < 1; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list6[i][5]) + "</td>");
                        circleTotal = list6[i][5]
                    }

                    {#  평균  #}
                    var avg = (total + codeTotal + monthTotal + circleTotal) / 4
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(avg) + "</td>");
                }
            })
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {

            var sDate = document.getElementById('inputDate').value
            var date = sDate.replace(/\-/g, '')
            var year = date.slice(0, 4)

            let data = {'date': date, 'year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "breakdown_balance_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.headList;
                    var list2 = data.mainList;
                    var list3 = data.codeList;
                    var list4 = data.codeList2;
                    var list5 = data.monthList;
                    var list6 = data.circleList;

                    $("#codeHead").html("");
                    $("#sheetTb").html("");

                    {# 헤더 #}
                    $("#codeHead").append("<tr  id='#headTr' class='headTr_tr'>" + "</tr> ");
                    $(".headTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>구분</td>");
                    for (var i = 0; i < list.length; i++) {
                        $(".headTr_tr").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + list[i][1] + "수불내역서</td>" );
                    }
                    $(".headTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>수불내역서 계</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>계정별내역서</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>월별집계</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>자금유동현황</td>" +
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>평 균</td>" );

                    {#  메인 데이터  #}
                    var total = 0;
                    $("#sheetTb").append("<tr  id='#sheetTr' class='sheetTr_tr'>" + "</tr> ");
                    $(".sheetTr_tr").append(
                        "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>잔액</td>");
                    for (var i = 0; i < list2.length; i++) {
                        if(list[i][0] == list2[i][0]){
                            total += list2[i][1]
                            $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list2[i][1]) + "</td>" );
                        }
                    }
                    for (var i = 0; i < list.length - list2.length; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>0</td>" );
                    }

                    {# 수불내역서 계 #}
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td>" );

                    var codeTotal = 0;
                    for (var i = 0; i < list3.length; i++) {
                        codeTotal = list3[i][0]
                    }

                    for (var i = 0; i < list4.length; i++) {
                        if(list4[i][0] == '1'){
                            codeTotal -= list4[i][1]
                        }
                        if(list4[i][0] == '2'){
                            codeTotal += list4[i][1]
                        }
                    }
                    {# 계정별내역서 계 #}
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(codeTotal) + "</td>" );

                    {# 월별 집계 계 #}
                    var monthTotal = 0;
                    for (var i = 0; i < 1; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[i][5]) + "</td>");
                        monthTotal = list5[i][5]
                    }

                    {# 자금 유동 현황 #}
                    var circleTotal = 0;
                    for (var i = 0; i < 1; i++) {
                        $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(list6[i][5]) + "</td>");
                        circleTotal = list6[i][5]
                    }

                    {#  평균  #}
                    var avg = (total + codeTotal + monthTotal + circleTotal) / 4
                    $(".sheetTr_tr").append("<td class='text-end border border-light p-1' style='font-size: 0.85rem'>" + addComma(avg) + "</td>");
                }
            })
        });
    </script>
{% endblock %}