{% extends "layouts/base.html" %}

{% block title %} 월별 자금 유동 현황 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <style>
        div#byCust table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(1), div#byCust table td:nth-child(2) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(2) {
            left: 12rem;
            min-width: 10rem;
        }

        div#byCust table tbody#custTb td {
            background-color: white;
        }
        div#byCust table tbody#custTotalTb td {
            background-color: #c9dae1;
        }

        div#byItem table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table tr:nth-child(1) th:nth-child(6),
        div#byItem table td:nth-child(1), div#byItem table td:nth-child(2), div#byItem table td:nth-child(3), div#byItem table td:nth-child(4), div#byItem table td:nth-child(5), div#byItem table td:nth-child(6) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table td:nth-child(2) {
            left: 12rem;
            min-width: 8rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table td:nth-child(3) {
            min-width: 6rem;
            left: 20rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table td:nth-child(4) {
            left: 26rem;
            min-width: 6rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table td:nth-child(5) {
            min-width: 6rem;
            left: 32rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(6), div#byItem table td:nth-child(6) {
            left: 38rem;
            min-width: 6rem;
        }

        div#byItem table tbody#itemTb td {
            background-color: white;
        }
        div#byItem table tbody#itemTotalTb td {
            background-color: #c9dae1;
        }
    </style>

    <!--<div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>-->
    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card rounded-2 shadow-none bg-gradient-faded-info">
                    <div class="card-body">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>월별 자금 유동 현황</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                  <div class="card border shadow-xs">
                    <div class="pb-0 pt-0 card-header border-bottom">
                        <div class="row p-2">
                            <div class="col-lg-3 col-3 text-start">
                                 <div class="input-group shadow-none">
                                    <label class="mt-1" style="font-size: 0.85rem; width: 4rem" for="inputGbn"><i class="fas fa-search me-2"></i>구분</label>
                                    <select style="height: 2rem; font-size: 0.8rem; max-width: 12rem" class="form-control border border-light rounded-0 text-center text-dark p-1" id="inputGbn" name="inputGbn">
                                        <option value="1">매출</option>
                                        <option value="2">매입</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-3 text-start">
                                <div class="input-group shadow-none">
                                    <label class="mt-1" style="font-size: 0.85rem; width: 4rem" for="inputYear"><i class="fas fa-search me-2"></i>년도</label>
                                    <input class="form-control border border-light rounded-1 text-center me-2" type="number" name="inputYear" id="inputYear" style="max-width: 10rem;height: 2rem; font-size: 0.8rem">
                                </div>
                            </div>
                            <div class="col-lg-3 col-3 text-start">
                                <button type="button" class="btn btn-sm btn-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                            </div>
                        </div>
                    </div>
                      <div class="px-0 py-0 card-body">
                          <div class="row">
                              <div class="col-lg-12 col-12">
                                  <!--<h6 class="mx-3 my-2"><i class="ni ni-books me-3"></i>계정별 내역서</h6>-->
                                  <div class="m-2 table-responsive-sm overflow-auto" style="height: 60vh">
                                      <table class="table mb-0 align-items-center justify-content-center">
                                          <thead class="bg-dark text-white font-weight-bolder">
                                          <tr>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" rowspan="2">매출 업체명</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" rowspan="2">계정</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" rowspan="2">결재조건</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">1월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">2월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">3월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">4월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">5월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">6월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">7월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">8월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">9월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">10월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">11월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="2">12월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1" colspan="4">미수/미지급현황</th>
                                          </tr>
                                          <tr>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">전원이월</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">계산서</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">입금</th>
                                              <th style="font-size: 0.8rem; background-color: #e2c6c2; border-bottom: 1px solid #1e293b !important;" class="text-dark text-center border border-white font-weight-bolder p-1">미수/미지급</th>
                                          </tr>
                                          </thead>
                                          <tbody id="sheetTb">
                                            <tr id="#sheetTr" class="sheetTr_tr">

                                            </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <table class="m-2">
                                      <tbody class="bg-dark text-white" id="subTb">
                                          <tr id="#subTr" class="subTr_tr">
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var totalBill = 0;
            var totalDeposit = 0;
            var totalBal = 0;

            date = new Date();
            var year = date.getFullYear();
            document.getElementById("inputYear").value = year;
            var gbn = document.getElementById('inputGbn').value;
            var data = {'Year': year, 'gbn': gbn}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "monthly_circle_funds_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    $("#sheetTb").html("");
                    for (var i = 0; i < list.length; i++) {

                        {# 미수/미지급금 계산 #}
                        for(var j = 2; j < 26; j++){
                            if(i % 2 == 0){
                                totalBill += list[i][j]
                            } else if(i % 2 == 1){
                                totalDeposit += list[i][j]
                            }
                        }
                        totalBal = totalBill - totalDeposit

                        $("#sheetTb").append(
                            "<tr id='#sheetTr' class='sheetTr_tr'>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem' >" + list[i][1] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>매출</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>당월</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][3]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][4]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][5]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][6]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][7]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][8]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][9]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][10]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][11]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][12]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][13]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][14]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][15]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][16]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][17]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][18]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][19]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][20]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][21]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][22]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][23]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][24]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][25]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBill) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalDeposit) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBal) + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

        {# 구분에 따른 조회 #}
        $('#inputGbn').change(function () {
            var totalBill = 0;
            var totalDeposit = 0;
            var totalBal = 0;

            var gbn = document.getElementById('inputGbn').value;
            var year = document.getElementById('inputYear').value;

            let data = {'gbn': gbn, 'Year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "monthly_circle_funds_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    $("#sheetTb").html("");
                    for (var i = 0; i < list.length; i++) {

                        {# 미수/미지급금 계산 #}
                        for(var j = 2; j < 26; j++){
                            if(i % 2 == 0){
                                totalBill += list[i][j]
                            } else if(i % 2 == 1){
                                totalDeposit += list[i][j]
                            }
                        }
                        totalBal = totalBill - totalDeposit

                        $("#sheetTb").append(
                            "<tr id='#sheetTr' class='sheetTr_tr'>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem' >" + list[i][1] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>매출</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>당월</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][3]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][4]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][5]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][6]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][7]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][8]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][9]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][10]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][11]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][12]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][13]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][14]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][15]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][16]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][17]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][18]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][19]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][20]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][21]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][22]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][23]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][24]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][25]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBill) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalDeposit) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBal) + "</td> " +
                            "</tr> ");
                    }

                }
            })

        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var totalBill = 0;
            var totalDeposit = 0;
            var totalBal = 0;

            var gbn = document.getElementById('inputGbn').value;
            var year = document.getElementById('inputYear').value;

            let data = {'gbn': gbn, 'Year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "monthly_circle_funds_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    $("#sheetTb").html("");
                    for (var i = 0; i < list.length; i++) {

                        {# 미수/미지급금 계산 #}
                        for(var j = 2; j < 26; j++){
                            if(i % 2 == 0){
                                totalBill += list[i][j]
                            } else if(i % 2 == 1){
                                totalDeposit += list[i][j]
                            }
                        }
                        totalBal = totalBill - totalDeposit

                        $("#sheetTb").append(
                            "<tr id='#sheetTr' class='sheetTr_tr'>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem' >" + list[i][1] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>매출</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>당월</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][3]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][4]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][5]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][6]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][7]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][8]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][9]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][10]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][11]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][12]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][13]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][14]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][15]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][16]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][17]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][18]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][19]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][20]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][21]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][22]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][23]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][24]) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][25]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBill) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalDeposit) + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(totalBal) + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

    </script>

{% endblock %}