{% extends "layouts/base.html" %}

{% block title %} 월별 집계 현황 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <style>
        div#byCust table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(1), div#byCust table td:nth-child(2) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byCust table tr:nth-child(1) th:nth-child(1), div#byCust table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byCust table tr:nth-child(1) th:nth-child(2), div#byCust table td:nth-child(2) {
            left: 12rem;
            min-width: 10rem;
        }

        div#byCust table tbody#custTb td {
            background-color: white;
        }
        div#byCust table tbody#custTotalTb td {
            background-color: #c9dae1;
        }

        div#byItem table {
            {#보더 부분에 왼쪽으로 스크롤 할 때 비쳤던거 방지#}
            border-collapse: separate;
            border-spacing: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table tr:nth-child(1) th:nth-child(6),
        div#byItem table td:nth-child(1), div#byItem table td:nth-child(2), div#byItem table td:nth-child(3), div#byItem table td:nth-child(4), div#byItem table td:nth-child(5), div#byItem table td:nth-child(6) {
            position: sticky;
            z-index: 4 !important;
        }
        div#byItem table tr:nth-child(1) th:nth-child(1), div#byItem table td:nth-child(1) {
            min-width: 12rem;
            left: 0;
        }
        div#byItem table tr:nth-child(1) th:nth-child(2), div#byItem table td:nth-child(2) {
            left: 12rem;
            min-width: 8rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(3), div#byItem table td:nth-child(3) {
            min-width: 6rem;
            left: 20rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(4), div#byItem table td:nth-child(4) {
            left: 26rem;
            min-width: 6rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(5), div#byItem table td:nth-child(5) {
            min-width: 6rem;
            left: 32rem;
        }
        div#byItem table tr:nth-child(1) th:nth-child(6), div#byItem table td:nth-child(6) {
            left: 38rem;
            min-width: 6rem;
        }

        div#byItem table tbody#itemTb td {
            background-color: white;
        }
        div#byItem table tbody#itemTotalTb td {
            background-color: #c9dae1;
        }
    </style>

    <!--<div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>-->
    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card rounded-2 shadow-none bg-gradient-faded-info">
                    <div class="card-body">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>월별 집계 현황</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                  <div class="card border shadow-xs">
                    <div class="pb-0 pt-0 card-header border-bottom" style="height: 6vh">
                      <div class="row">
                          <div class="p-2 col-lg-3 col-3 text-start">
                            <div class="input-group shadow-none">
                                <label class="mt-1" style="font-size: 0.85rem; width: 4rem" for="inputYear"><i class="fas fa-search me-2"></i>년도</label>
                                <input class="form-control border border-light rounded-1 text-center me-2" type="number" name="inputYear" id="inputYear" style="max-width: 10rem;height: 2rem; font-size: 0.8rem">
                            </div>
                          </div>
                          <div class="p-2 col-lg-1 col-1 text-start">
                            <button type="button" class="btn btn-sm btn-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                          </div>
                          <div class="p-2 col-lg-6 col-6 text-start">
                          </div>
                      </div>
                    </div>
                      <div class="px-0 py-0 card-body">
                          <div class="row">
                              <div class="col-lg-12 col-12">
                                  <!--<h6 class="mx-3 my-2"><i class="ni ni-books me-3"></i>계정별 내역서</h6>-->
                                  <div class="m-2 table-responsive-sm overflow-auto" style="height: 60vh">
                                      <table class="table mb-0 align-items-center justify-content-center">
                                          <thead class="bg-dark text-white font-weight-bolder" id="codeHead">
                                          <tr id="#codeTr" class="codeTr_tr">

                                          </tr>
                                          </thead>
                                          <tbody id="sheetTb">
                                            <tr id="#sheetTr" class="sheetTr_tr">

                                            </tr>
                                          </tbody>
                                          <tfoot id="totalTb">
                                          <tr id="#totalTr" class="totalTr_tr">
                                          </tr>
                                          </tfoot>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var hCount = 0;
            var hTotal = 0;
            var now = new Date();
            var Year = now.getFullYear()
            document.getElementById('inputYear').value = Year

            var year = document.getElementById('inputYear').value

            let data = {'Year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "monthly_count_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.headerList;
                    {# 매입/매출 #}
                    var list2 = data.headList;
                    {# 출금/입금 #}
                    var list3 = data.headList2;

                    $("#codeHead").html("");
                    $("#sheetTb").html("");

                    {# 1번째줄 헤더 #}
                    $("#codeHead").append("<td class='text-center p-1' style='font-size: 0.85rem' rowspan='3'>구분</td>");
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list3.length; j++) {
                                if(list3[j][0].startsWith('4') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list2.length; j++) {
                                if(list2[j][0].startsWith('4') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '3') {
                            for (var j = 0; j < list2.length; j++) {
                                if(list2[j][0].startsWith('5') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '4') {
                            for (var j = 0; j < list3.length; j++) {
                                if(list3[j][0].startsWith('5') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                    }

                    {# 2번째줄 헤더 #}
                    $("#codeHead").append("<tr  id='#codeTr' class='codeTr_tr'>" + "</tr> ");
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list3.length; j++) {

                                if (list3[j][0].startsWith('4') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list3[j][1] + "</td>");
                                    {# 환급금/ 수입이자 #}

                                }
                            }
                        }
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list2.length; j++) {
                                if (list2[j][0].startsWith('4') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list2[j][1] + "</td>");
                                {# 상품매출/ 생산매출 #}

                                }
                            }
                        }
                        if (list[i][0] === '3') {
                            for (var j = 0; j < list2.length; j++) {
                                if (list2[j][0].startsWith('5') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list2[j][1] + "</td>");
                                }
                            }
                        }
                        if (list[i][0] === '4') {
                            for (var j = 0; j < list3.length; j++) {
                                if (list3[j][0].startsWith('5') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list3[j][1] + "</td>");
                                }
                            }
                        }
                    }

                    $("#codeHead").append("<tr  id='#codeTr' class='codeTr_tr'>" + "</tr> ");
                    $("#codeHead").append("<td class='text-center p-1' style='font-size: 0.85rem'></td> ");
                    for (var h = 0; h < hTotal; h++) {
                        $("#codeHead").append(
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>금 액</td> " +
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출 대비</td>");
                    }







                {#    데이터     #}
                    {# 매입/매출 #}
                    var list4 = data.mainList;
                    {# 출금/입금 #}
                    var list5 = data.mainList2;

                    for (var d = 1; d < 13; d++) {
                        $("#sheetTb").append("<tr id='#sheetTr' class='sheetTr_tr'>" +
                            "<td class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem'>" + d + "월</td> " +
                            "</tr> ");
                    }





                    {# 메인데이터 #}
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list5.length; j++) {
                                if(list5[j][12].startsWith('4') === true){
                                    {#$("#sheetTb").insertCell(-1);#}
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비(투자입금)</td>");
                                        {#alert(list4[j][d])#}
                                    }
                                }
                            }
                        }
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list4.length; j++) {
                                if (list4[j][12].startsWith('4') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list4[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비(매출)</td>");
                                        {#alert(list5[j][d])#}
                                    }
                                }
                            }
                        }
                        if (list[i][0] === '3') {
                           for (var j = 0; j < list4.length; j++) {
                                if (list4[j][12].startsWith('5') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list4[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비(매입)</td>");
                                    }
                                }
                            }
                        }
                        if (list[i][0] === '4') {
                           for (var j = 0; j < list5.length; j++) {
                                if (list5[j][12].startsWith('5') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비(투자지출)</td>");
                                    }
                                }
                            }
                        }

                    {#    소계   #}
                        $(".sheetTr_tr").eq(d).append(
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'></td>" +
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비금(소계)</td>");
                    }

                }
            })
        });


        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var hCount = 0;
            var hTotal = 0;

            var year = document.getElementById('inputYear').value

            let data = {'Year': year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "monthly_count_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.headerList;
                    {# 매입/매출 #}
                    var list2 = data.headList;
                    {# 출금/입금 #}
                    var list3 = data.headList2;

                    $("#codeHead").html("");
                    $("#sheetTb").html("");

                    {# 1번째줄 헤더 #}
                    $("#codeHead").append("<td class='text-center p-1' style='font-size: 0.85rem' rowspan='3'>구분</td>");
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list3.length; j++) {
                                if(list3[j][0].startsWith('4') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list2.length; j++) {
                                if(list2[j][0].startsWith('4') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '3') {
                            for (var j = 0; j < list2.length; j++) {
                                if(list2[j][0].startsWith('5') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                        hCount = 0;
                        if (list[i][0] === '4') {
                            for (var j = 0; j < list3.length; j++) {
                                if(list3[j][0].startsWith('5') === true){
                                    hCount += 1;
                                    hTotal += 1;
                                }
                            }
                            $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='" + hCount * 2 + "'>" + list[i][1] + "</td>");
                        }
                    }

                    {# 2번째줄 헤더 #}
                    $("#codeHead").append("<tr  id='#codeTr' class='codeTr_tr'>" + "</tr> ");
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list3.length; j++) {

                                if (list3[j][0].startsWith('4') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list3[j][1] + "</td>");
                                    {# 환급금/ 수입이자 #}

                                }
                            }
                        }
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list2.length; j++) {
                                if (list2[j][0].startsWith('4') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list2[j][1] + "</td>");
                                {# 상품매출/ 생산매출 #}

                                }
                            }
                        }
                        if (list[i][0] === '3') {
                            for (var j = 0; j < list2.length; j++) {
                                if (list2[j][0].startsWith('5') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list2[j][1] + "</td>");
                                }
                            }
                        }
                        if (list[i][0] === '4') {
                            for (var j = 0; j < list3.length; j++) {
                                if (list3[j][0].startsWith('5') === true) {
                                    $("#codeHead").append("<td class='text-center border border-light p-1' style='font-size: 0.85rem' colspan='2'>" + list3[j][1] + "</td>");
                                }
                            }
                        }
                    }

                    $("#codeHead").append("<tr  id='#codeTr' class='codeTr_tr'>" + "</tr> ");
                    $("#codeHead").append("<td class='text-center p-1' style='font-size: 0.85rem'></td> ");
                    for (var h = 0; h < hTotal; h++) {
                        $("#codeHead").append(
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>금 액</td> " +
                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출 대비</td>");
                    }







                {#    데이터     #}
                    {# 매입/매출 #}
                    var list4 = data.mainList;
                    {# 출금/입금 #}
                    var list5 = data.mainList2;

                    for (var d = 1; d < 13; d++) {
                        $("#sheetTb").append("<tr id='#sheetTr' class='sheetTr_tr'>" +
                            "<td class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem'>" + d + "월</td> " +
                            "</tr> ");
                    }





                    {# 메인데이터 #}
                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] === '1') {
                            for (var j = 0; j < list5.length; j++) {
                                if(list5[j][12].startsWith('4') === true){
                                    {#$("#sheetTb").insertCell(-1);#}
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비금(투자입금)</td>");
                                        {#alert(list4[j][d])#}
                                    }
                                }

                            }
                        }
                        if (list[i][0] === '2') {
                            for (var j = 0; j < list4.length; j++) {
                                if (list4[j][12].startsWith('4') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list4[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비금(매출)</td>");
                                        {#alert(list5[j][d])#}
                                    }
                                }
                            }
                        }
                        if (list[i][0] === '3') {
                           for (var j = 0; j < list4.length; j++) {
                                if (list4[j][12].startsWith('5') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list4[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비금(매입)</td>");
                                    }
                                }
                            }
                        }
                        if (list[i][0] === '4') {
                           for (var j = 0; j < list5.length; j++) {
                                if (list5[j][12].startsWith('5') === true) {
                                    for (var d = 0; d < 12; d++) {
                                        $(".sheetTr_tr").eq(d).append(
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>" + addComma(list5[j][d]) + "</td>" +
                                            "<td class='text-center border border-light p-1' style='font-size: 0.85rem'>매출대비금(투자지출)</td>");
                                    }
                                }
                            }
                        }
                    }

                }
            })
        });
    </script>

{% endblock %}