{% extends "layouts/base.html" %}

{% block title %} 월 손익 계산서 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card rounded-2 shadow-none bg-gradient-faded-info">
                    <div class="card-body">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>월 손익 계산서</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card">
                    <div class="card-header border border-light border-top-0 border-end-0 border-start-0 pb-0">
                        <div class="row">
                            <div class="col-lg-3 col-3 text-start">
                              <div class="input-group shadow-none">
                                  <label class="mt-1 me-4" style="font-size: 0.85rem; width: 5rem" for="inputStrDate"><i class="fas fa-search me-2"></i>년월</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="month" name="inputYM" id="inputYM" style="max-width: 8rem;height: 2rem; font-size: 0.8rem">
                              </div>
                            </div>
                            <div class="col-lg-1 col-1 text-end">
                              <button type="button" class="btn btn-sm btn-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                            </div>
                        </div>
                    </div>
                    <div class="px-0 py-0 card-body">
                        <div class="row">
                            <div class="col-lg-9 col-9">
                                <div class="m-2 table-responsive-sm overflow-auto" style="height: 60vh">
                                    <table class="table mb-0 align-items-center justify-content-center">
                                        <colgroup>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="15%"/>
                                            <col width="6%"/>
                                        </colgroup>
                                        <thead id="headTb">
                                        <tr id="#headTr" class="headTr_tr">

                                        </tr>
                                        </thead>
                                        <tbody id="sheetTb">
                                          <tr id="#sheetTr" class="sheetTr_tr">

                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            date = new Date();
            var year = date.getFullYear().toString();
            var month = (date.getMonth()+1).toString();
            month = month.padStart(2, '0')
            var fdate = year + month
            document.getElementById("inputYM").value = fdate.replace(/(\d{4})(\d{2})/g, '$1-$2');

            var input = document.getElementById('inputYM').value
            var ym = input.replace(/\-/g, '')
            var yyyy = ym.slice(0,4);
            var mm = ym.slice(4,6);

            var data = {'ym': ym, 'yyyy': yyyy, 'mm': mm}

            $.ajax({
            type: "post",
            data: data,
            url: '{% url "monthly_profit_loss_search" %}',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                var list = data.mheadList;
                var list2 = data.headList;
                var list3 = data.mainList;

                $("#headTb").html("");
                $("#sheetTb").html("");

                $("#headTb").append("<tr id='#headTr' class='headTr_tr'>" +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem' colspan='6'>" + month + "월</th> " +
                    "</tr> ");

                $("#headTb").append("<tr id='#headTr' class='headTr_tr'>" +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>항목</th> " +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>금액</th> " +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>매출 대비</th> " +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>일평균</th> " +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>비 고</th> " +
                    "<th class='text-center bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>분기점</th> " +
                    "</tr> ");


                for (var i = 0; i < list.length; i++) {

                    $("#sheetTb").append("<tr id='#sheetTr' class='sheetTr_tr'>" +
                        "<td class='text-start bg-dark border border-top text-white p-1' style='font-size: 0.85rem; width: 3rem'>" + list[i][1] + "</td> " +
                        "</tr> ");

                    for (var j = 0; j < list2.length; j++) {

                        if (list[i][0] === list2[j][0]) {

                            $("#sheetTb").append("<tr id='#sheetTr' class='sheetTr_tr'>" +
                                "<td class='text-start bg-gray-700 border border-top text-white p-1 ps-3' style='font-size: 0.85rem; width: 3rem'>" + list2[i][3] + "</td> " +
                                "</tr> ");
                        }
                    }
                }


            }
            })
        });

    </script>
{% endblock %}