{% extends "layouts/base.html" %}

{% block title %} 월 손익 계산서 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card rounded-2 shadow-none bg-gradient-faded-info">
                    <div class="card-body">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>월 손익 계산서</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card">
                    <div class="card-header border border-light border-top-0 border-end-0 border-start-0 pb-0">
                        <div class="row">
                            <div class="col-lg-3 col-3 text-start">
                              <div class="input-group shadow-none">
                                  <label class="mt-1 me-4" style="font-size: 0.85rem; width: 5rem" for="inputStrDate"><i class="fas fa-search me-2"></i>년월</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="month" name="inputStrDate" id="inputStrDate" style="max-width: 8rem;height: 2rem; font-size: 0.8rem">
                              </div>
                            </div>
                            <div class="col-lg-1 col-1 text-end">
                              <button type="button" class="btn btn-sm btn-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                            </div>
                        </div>
                    </div>
                    <div class="px-0 py-0 card-body">
                        <div class="row">
                            <div class="col-lg-9 col-9">
                                <div class="m-2 table-responsive-sm overflow-auto" style="height: 60vh">
                                    <table class="table mb-0 align-items-center justify-content-center">
                                        <colgroup>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="8%"/>
                                            <col width="15%"/>
                                            <col width="6%"/>
                                        </colgroup>
                                        <thead class="bg-dark text-white font-weight-bolder">
                                        <tr>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">항목</th>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">금액</th>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">매출 대비</th>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">일평균</th>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">비 고</th>
                                            <th class="text-center p-2" style="font-size: 0.8rem;">분기점</th>
                                        </tr>
                                        </thead>
                                        <tbody id="sheetTb">
                                          <tr id="#sheetTr" class="sheetTr_tr">

                                          </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}