{% extends "layouts/base.html" %}

{% block title %} depositWithdrawal - 입금등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pb-6 bg-cover pt-7" style="background-image: url('/static/assets/img/header-orange-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid">
    <div class="py-2 bg-transparent border-0 shadow-none card card-body">
        <div class="row">
          <div class="col-auto my-auto">
            <div class="h-100">
                <div class="input-group">
                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>조회 일자</label>
                    <input class="form-control border border-light rounded-1 text-center" type="date" id="inputStrDate" name="inputStrDate"/>
                    <label style="font-size: 1rem">-</label>
                    <input class="form-control border border-light rounded-1 text-center" type="date" id="inputEndDate" name="inputEndDate"/>
                </div>
            </div>
          </div>
          <div class="col-6 my-auto"></div>
        </div>
      </div>
    </div>
    <div class="px-5 py-4 container-fluid">
        <div class="my-4 row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body height-150">
                        <h5><i class="fas fa-documents"></i>은행 계좌 리스트</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="table-responsive-sm">
                                    <table class="table mb-0 align-items-center justify-content-center">
                                        <colgroup>
                                            <col width="2%">
                                            <col width="6%">
                                            <col width="8%">
                                        </colgroup>
                                        <thead class="bg-gray-100">
                                        <tr>
                                            <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">은행명</th>
                                            <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계좌번호</th>
                                            <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계좌명</th>
                                        </tr>
                                        </thead>
                                        <tbody id="actMainTb">
                                        <tr id="actMainTr" class="actMainTr_tr">

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-4">
            <div class="col-12 text-start mx-3 my-2">
                <div class="badge badge-success w-10">
                    <h5>계좌 번호</h5>
                </div>
            </div>
        </div>
        <div class="my-4 row">
            <div class="col-12">
                <div class="card mb-3 mt-lg-0 mt-4">
                    <div class="card-body pb-0 height-500">
                        <div class="table-responsive-sm">
                            <table class="table mb-0 align-items-center justify-content-center">
                                <colgroup>
                                    <col width="2%">
                                    <col width="6%">
                                    <col width="8%">
                                </colgroup>
                                <thead class="bg-gray-100">
                                <tr>
                                    <th style="font-size: 1rem"
                                        class="text-secondary text-center font-weight-semibold opacity-7 p-2">
                                        은행명
                                    </th>
                                    <th style="font-size: 1rem"
                                        class="text-secondary text-center font-weight-semibold opacity-7 p-2">
                                        계좌번호
                                    </th>
                                    <th style="font-size: 1rem"
                                        class="text-secondary text-center font-weight-semibold opacity-7 p-2">
                                        계좌명
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="actMainTb">
                                <tr id="actMainTr" class="actMainTr_tr">

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
{% endblock %}