{% extends "layouts/base.html" %}

{% block title %} yearlyMonthly-account-report : 년간월별현황 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!--<div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>-->
    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card rounded-2 shadow-none bg-gradient-faded-info">
                    <div class="card-body">
                        <h5 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>계정별 년간 월간 현황</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card-profile pb-3">
                    <div class="row">
                        <div class="col-lg-2 col-2">
                            <select style="height: 2rem; font-size: 0.8rem" class="form-control text-center text-dark p-1" id="inputActCode" name="inputActCode"></select>
                        </div>
                        <div class="col-lg-9 col-9"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="line-chart-gradient" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card card-body">
                    <div class="p-0 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem"></th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">1월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">2월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">3월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">4월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">5월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">6월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">7월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">8월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">9월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">10월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">11월</th>
                                <th class="pb-0 border border-2 border-dark border-top-0 border-start-0 border-end-0 text-uppercase text-dark font-weight-bolder text-center" style="font-size: 0.85rem">12월</th>
                            </tr>
                            </thead>
                            <tbody id="mainTb">
                            <tr id="mainTr" class="mainTr_tr">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var ctx2 = document.getElementById("line-chart-gradient").getContext("2d");

            var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

            gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.31)');
            gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
            gradientStroke1.addColorStop(0, 'rgba(94, 114, 228,0)'); //purple colors

            var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
            // linear-gradient(180deg, rgba(47, 47, 47, 0.19) 0%, rgba(37, 37, 37, 0) 63.87%)

            gradientStroke2.addColorStop(1, 'rgba(47, 47, 47, 0.19)');
            gradientStroke2.addColorStop(0.2, 'rgba(47, 47, 47, 0.0)');
            gradientStroke2.addColorStop(0, 'rgba(47, 47, 47,0)'); //purple colors

            var inputActCode = "";
            var inputActCodeTxt = "";

            $("#inputActCode").html("");

            $.ajax({
            type: "post",
            url: '{% url "ym_account_cbo" %}',
            async: false,
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            success: function (data) {

                var combolist = data.cboMList;
                for (var i = 0; i < combolist.length; i++) {
                    if (combolist[i][0] == inputActCode) {
                        inputActCodeTxt = inputActCodeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                    } else {
                        inputActCodeTxt = inputActCodeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                    }
                }

                var combolist = data.cboAList;
                for (var i = 0; i < combolist.length; i++) {
                    if (combolist[i][0] == inputActCode) {
                        inputActCodeTxt = inputActCodeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                    } else {
                        inputActCodeTxt = inputActCodeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                    }
                }

                $("#inputActCode").append(inputActCodeTxt);

            }
            });

            date = new Date();
            var year = date.getFullYear();
            var actCode = document.getElementById('inputActCode').value;

            let data2 = {'year': year, 'actCode': actCode}

            $.ajax({
                type: "post",
                data: data2,
                url: '{% url "ym_account_search" %}',
                async: false,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    var list = data.saleLineList;
                    var list3 = data.lastList;

                    var score = [];
                    for (var i = 0; i < list.length; i++) {
                        var Year = list[i][0]
                        for (var j = 1; j < 13; j++) {
                            score.push(list[i][j])
                        }
                    }

                    var score2 = [];
                    for (var i = 0; i < list3.length; i++) {
                        var lastYear = list3[i][0]
                        for (var j = 1; j < 13; j++) {
                            score2.push(list3[i][j])
                        }
                    }

                    new Chart(ctx2, {
                        type: "line",
                        data: {
                            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                            datasets: [{
                                label: Year + "년 매출",
                                tension: 0.4,
                                borderWidth: 0,
                                pointRadius: 0,
                                borderColor: "#774DD3",
                                borderWidth: 3,
                                backgroundColor: gradientStroke1,
                                fill: true,
                                data: score,
                                maxBarThickness: 6

                            },
                                {
                                    label: lastYear + "년 매출",
                                    tension: 0.4,
                                    borderWidth: 0,
                                    pointRadius: 0,
                                    borderColor: "#FFE933",
                                    borderWidth: 3,
                                    backgroundColor: gradientStroke2,
                                    fill: true,
                                    data: score2,
                                    maxBarThickness: 6
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: false,
                                }
                            },
                            interaction: {
                                intersect: false,
                                mode: 'index',
                            },
                            scales: {
                                y: {
                                    grid: {
                                        drawBorder: false,
                                        display: true,
                                        drawOnChartArea: true,
                                        drawTicks: false,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        minY: 1000000,
                                        display: true,
                                        padding: 10,
                                        color: '#b2b9bf',
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                                x: {
                                    grid: {
                                        drawBorder: false,
                                        display: false,
                                        drawOnChartArea: false,
                                        drawTicks: false,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        display: true,
                                        color: '#b2b9bf',
                                        padding: 10,
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                            },
                        },
                    });


                    var list2 = data.saleLineList;

                    $("#mainTb").html("");
                    for (var j = 0; j < list2.length; j++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-center border border-secondary border-top-0 border-end-0 p-1 mb-0 font-weight-bold' style='font-size: 0.85rem' >" + Year + "년</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][1]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][2]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][3]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][4]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][5]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][6]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][7]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][8]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][9]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][10]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][11]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][12]) + "</td> " +
                            "</tr> ");
                    }

                    var list2 = data.lastList;

                    for (var j = 0; j < list2.length; j++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-center border border-secondary border-top-0 border-end-0 p-1 mb-0 font-weight-bold' style='font-size: 0.85rem' >" + lastYear+ "년</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][1]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][2]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][3]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][4]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][5]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][6]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][7]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][8]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][9]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][10]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][11]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][12]) + "</td> " +
                            "</tr> ");
                    }

                }
            });
        });

        {# 계정별 따른 조회 #}
        $('#inputActCode').change(function () {
            {#const canvas = document.getElementById("line-chart-gradient");#}
            {#canvas.width = canvas.width;#}

            var ctx2 = document.getElementById("line-chart-gradient").getContext("2d");

            var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

            gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.31)');
            gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
            gradientStroke1.addColorStop(0, 'rgba(94, 114, 228,0)'); //purple colors

            var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
            // linear-gradient(180deg, rgba(47, 47, 47, 0.19) 0%, rgba(37, 37, 37, 0) 63.87%)

            gradientStroke2.addColorStop(1, 'rgba(47, 47, 47, 0.19)');
            gradientStroke2.addColorStop(0.2, 'rgba(47, 47, 47, 0.0)');
            gradientStroke2.addColorStop(0, 'rgba(47, 47, 47,0)'); //purple colors

            date = new Date();
            var year = date.getFullYear();
            var actCode = document.getElementById('inputActCode').value;

           let data2 = {'year': year, 'actCode': actCode}

            $.ajax({
                type: "post",
                data: data2,
                url: '{% url "ym_account_search" %}',
                async: false,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    var list = data.saleLineList;
                    var list3 = data.lastList;

                    var score = [];
                    for (var i = 0; i < list.length; i++) {
                        var Year = list[i][0]
                        for (var j = 1; j < 13; j++) {
                            score.push(list[i][j])
                        }
                    }

                    var score2 = [];
                    for (var i = 0; i < list3.length; i++) {
                        var lastYear = list3[i][0]
                        for (var j = 1; j < 13; j++) {
                            score2.push(list3[i][j])
                        }
                    }

                    new Chart(ctx2, {
                        type: "line",
                        data: {
                            labels: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                            datasets: [{
                                label: Year + "년 매출",
                                tension: 0.4,
                                borderWidth: 0,
                                pointRadius: 0,
                                borderColor: "#774DD3",
                                borderWidth: 3,
                                backgroundColor: gradientStroke1,
                                fill: true,
                                data: score,
                                maxBarThickness: 6

                            },
                                {
                                    label: lastYear + "년 매출",
                                    tension: 0.4,
                                    borderWidth: 0,
                                    pointRadius: 0,
                                    borderColor: "#FFE933",
                                    borderWidth: 3,
                                    backgroundColor: gradientStroke2,
                                    fill: true,
                                    data: score2,
                                    maxBarThickness: 6
                                },
                            ],
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            plugins: {
                                legend: {
                                    display: false,
                                }
                            },
                            interaction: {
                                intersect: false,
                                mode: 'index',
                            },
                            scales: {
                                y: {
                                    grid: {
                                        drawBorder: false,
                                        display: true,
                                        drawOnChartArea: true,
                                        drawTicks: false,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        minY: 1000000,
                                        display: true,
                                        padding: 10,
                                        color: '#b2b9bf',
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                                x: {
                                    grid: {
                                        drawBorder: false,
                                        display: false,
                                        drawOnChartArea: false,
                                        drawTicks: false,
                                        borderDash: [5, 5]
                                    },
                                    ticks: {
                                        display: true,
                                        color: '#b2b9bf',
                                        padding: 10,
                                        font: {
                                            size: 11,
                                            family: "Open Sans",
                                            style: 'normal',
                                            lineHeight: 2
                                        },
                                    }
                                },
                            },
                        },
                    });

                    var list2 = data.saleLineList;

                    $("#mainTb").html("");
                    for (var j = 0; j < list2.length; j++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-center border border-secondary border-top-0 border-end-0 p-1 mb-0 font-weight-bold' style='font-size: 0.85rem' >" + Year + "년</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][1]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][2]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][3]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][4]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][5]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][6]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][7]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][8]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][9]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][10]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][11]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][12]) + "</td> " +
                            "</tr> ");
                    }

                    var list2 = data.lastList;

                    for (var j = 0; j < list2.length; j++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-center border border-secondary border-top-0 border-end-0 p-1 mb-0 font-weight-bold' style='font-size: 0.85rem' >" + lastYear + "년</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][1]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][2]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][3]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][4]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][5]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][6]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][7]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][8]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][9]) + "</td> " +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][10]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][11]) + "</td>" +
                            "<td class='text-end border border-top-0 border-secondary p-1 mb-0' style='font-size: 0.75rem'>" + addComma(list2[j][12]) + "</td> " +
                            "</tr> ");
                    }

                }
            });
        });
    </script>
{% endblock %}