{% extends "layouts/base.html" %}

{% block title %} 사용자 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-2 d-md-flex align-items-center">
                    <h5 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>사용자 등록</h5>
                    <button type="button" class="mb-0 mb-2 btn btn-sm btn-success btn-sm align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                          <i class="fas fa-search me-2 fs-6"></i>조회
                    </button>
                    <button type="button" class="mb-0 btn btn-sm btn-primary btn-sm align-items-center me-2" id="btnSave" name="btnSave">
                          <i class="fas fa-plus me-2 fs-6"></i>저장
                    </button>
                    <button type="button" class="mb-0 btn btn-sm btn-white text-dark btn-sm align-items-center me-2" id="btnClear" name="btnClear">
                          <i class="fas fa-eraser me-2 fs-6"></i>초기화
                    </button>
                    <button type="button" class="mb-0 btn btn-sm btn-dark btn-sm align-items-center" id="btnDlt" name="btnDlt">
                          <i class="fas fa-minus me-2 fs-6"></i>삭제
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card height-600">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row pb-0">
                          <div class="p-2 pb-0 col-lg-3 col-3 mt-lg-0">
                            <div class="input-group shadow-none">
                                <label class="me-3 mt-2" style="font-size: 0.8rem"><i class="fas fa-search me-2"></i>사원 번호/ 이름</label>
                                <input style="height: 2rem; max-width: 10rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center" type="text" id="inputEmpNo" name="inputEmpNo"/>
                            </div>
                          </div>
                          <div class="p-2 pb-0 col-lg-3 mt-lg-0">
                              <div class="input-group shadow-none">
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" value="1" checked/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">근무자</label>
                                </span>
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" value="2"/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">퇴직자</label>
                                </span>
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" value="0"/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">전 체</label>
                                </span>
                              </div>
                          </div>
                          <div class="p-2 pb-0 col-lg-3 mt-lg-0"></div>
                          <div class="p-2 pb-0 col-lg-2 mt-lg-0 text-end">
                              <div class="input-group shadow-none">
                                <label class="input-group-text tex-body border-0 bg-transparent" style="font-size: 0.8rem"><i class="fa fa-users me-2"></i>인원 수</label>
                                <input style="height: 2rem; max-width: 3rem; font-size: 1rem" readonly class="form-control border-0 bg-transparent text-center mt-2 text-success font-weight-bold" id="inputEmpNum" name="inputEmpNum"/>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-1 table-responsive height-500 overflow-auto">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="6%">
                                <col width="8%">
                                <col width="6%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="10%">
                                <col width="8%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th style="font-size: 0.85rem" class="p-1 text-start">선택</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">사 번</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">이 름</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">비밀 번호</th>
                              <th style="font-size: 0.85rem" class="p-1 text-center">입사 일자</th>
                              <th style="font-size: 0.85rem" class="p-1 text-center">퇴사 일자</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">직 급</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">부 서</th>
                              <th style="font-size: 0.85rem" class="p-1 text-start">전화 번호</th>
                            </tr>
                          </thead>
                          <tbody id="empMainTb">
                            <tr id="empMainTr" class="empMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 col-lg-4 col-4 mb-md-0">
                <div class="card shadow-xs border height-600">
                    <form class="form-control border-0 shadow-none dropzone" id="dropzone" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body p-1">
                            <div class="row">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>사 번</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpNo" name="txtEmpNo"/>
                                </div>
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>이 름</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpName" name="txtEmpName"/>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>비밀 번호</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpPw" name="txtEmpPw"/>
                                </div>
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>전화 번호</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpTel" name="txtEmpTel" maxlength="13"/>
                                </div>
                                <!--<div class="col-2">
                                    <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>구 분</label>
                                    <input class="form-check" type="checkbox" id="chkGbn" name="chkGbn"/>
                                </div>
                                <div class="col-4"></div>-->
                            </div>
                            <div class="row mt-1">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>입사 일자</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="date" id="txtEmployDate" name="txtEmployDate"/>
                                </div>
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>퇴사 일자</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="date" id="txtQuitDate" name="txtQuitDate"/>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>사업장</label>
                                    <input readonly style="height: 2rem; font-size: 0.8rem" class="form-control text-start bg-transparent" value="" type="text" id="cboCom" name="cboCom"/>
                                    <!--<select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboCom" id="cboCom"></select>-->
                                </div>
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>전결금액</label>
                                    <input style="height: 2rem; font-size: 0.8rem" class="form-control text-end" value="0" type="text" id="txtLimit" name="txtLimit"/>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>직 급</label>
                                    <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboGroup" id="cboGroup"></select>
                                </div>
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>부 서</label>
                                    <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboDpt" id="cboDpt"></select>
                                </div>
                                <div hidden class="col-2">
                                    <label class="" style="font-size: 1rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>입력 사번</label>
                                    <input class="form-control" type="text" id="txtEmp" name="txtEmp"/>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>등 급</label>
                                    <select style="height: 2rem; font-size: 0.8rem; width: 5rem" class="form-control border border-light rounded-1 text-center p-0" name="cboClass" id="cboClass"></select>
                                </div>
                                <div class="col-6 text-end">
                                    <label class="text-danger mt-4 me-2" style="font-size: 1rem"><i class="fa fa-check-square-o me-2 text-danger text-sm"></i>승 인</label>
                                    <input class="text-danger bg-danger-soft" type="checkbox" id="chkPermit" name="chkPermit" value="charge"/>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <!--<div class="col-6">
                                    <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>사용 유무</label>
                                    <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="usage" id="usage">
                                        <option value="0">사용</option>
                                        <option value="1">미사용</option>
                                    </select>
                                </div>-->
                                <div class="col-6"></div>

                            </div>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-6 text-end">
                                    <div class="form-group">
                                        <label class="mt-4 form-label" style="font-size: 1rem"><i class="fas fa-signature me-2"></i>Signature</label>
                                        <input name="file" id="file" type="file" class="" style="display: none;" />
                                        <div class="form-group text-end mt-2 text-sm">
                                            <a class="btn btn-outline-primary btn-sm" style="font-size: 0.7rem" type="button" id="btnFile">파일 선택</a>
                                            <a class="btn btn-outline-dark btn-sm" style="font-size: 0.7rem" type="button" id="btnFileLook">파일 보기</a>
                                        </div>
                                        <div hidden><span id="file_name"></span></div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-12">
                                    <canvas height="100" width="100" class="signature-pad">

                                    </canvas>
                                </div>
                            </div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        Dropzone.autoDiscover = false;
        var drop = document.getElementById('dropzone')
        var myDropzone = new Dropzone(drop, {
            url: "/file/post",
            addRemoveLinks: true

        });

    </script>
    <script>

        //파일선택창에서 이미지 선택 후 확인 누르면 그 동시에 발생하는 이벤트
        $('#file').change(function(event) {
            var file = event.target.files[0]

            var reader = new FileReader(); //1

            reader.onload = function(e) {
                $('#itemimage').attr('src', e.target.result); //3
            }

            reader.readAsDataURL(file); //2
        });

        {# 파일 선택 버튼 클릭시 #}
        $(document).on('click', '#btnFile', function () {
            $("#file").click();
        });

        {# 파일 보기 버튼 클릭시 #}
        $(document).on('click', '#btnFileLook', function () {
            var empCode = $("#txtEmpNo").val();
            var empClass = $("#cboClass").val();

            location.href = "{% url 'download_file_emp' %}?empCode=" + empCode + "&empClass=" + empClass;
        });

        $(document).on('change', '#file', function () {
            let selectedFile = $(this).prop('files')[0];
            if (selectedFile != null) {
                $('#file_name').text(selectedFile.name);
            }
        });

        $('input[name=txtEmpTel]').on('input', function () {
            var txtEmpTel = $(this).val();

            var regex_txtEmpTel = txtEmpTel.replace(/[^0-9]/g, '').replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/\-{1,2}$/g, "");
            $(this).val(regex_txtEmpTel);
        });

    </script>

    <script>
        $(document).ready(function () {

            var group = "";
            var dpt = "";
            var com = "";
            var cboClass = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";
            var cboClassTxt = "<option value=''>:: 선택 ::</option>";
            {#document.getElementById('txtEmployDate').valueAsDate = new Date#}
            {#document.getElementById('txtQuitDate').valueAsDate = new Date#}

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#inputEmpNum").html("");
            $("#cboClass").html("");

            var empType = $('input[name=inputEmpCount]:checked').val();

            let data = {'empType': empType}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    $("#empMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#empMainTb").append(
                            "<tr id='#empMainTr' class='empMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkEmp[]' name='chkEmp[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.8rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][3].replace(/[0-9]/g, '*') + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][5].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][7] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][9] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][10].replace(/(\d{3})(\d{4})(\d{4})/g, '$1-$2-$3') + "</td> " +
                            "</tr> ");
                    }
                    {# /[0-9]/g: 숫자, /[^0-9]/g: 문자 #}

                    var Num = list.length;
                    document.getElementById("inputEmpNum").value = Num;

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.comClass;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboClass) {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][0] + "</option>";
                        } else {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][0] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboClass").append(cboClassTxt);

                }
            })
        });

        $(document).on('click', "#inputEmpCount", function () {
            $("#btnSearch").trigger('click');
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var group = "";
            var dpt = "";
            var com = "";
            var cboClass = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";
            var cboClassTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#inputEmpNum").html("");
            $("#cboClass").html("");

            var empType = $('input[name=inputEmpCount]:checked').val();
            let empCode = document.getElementById('inputEmpNo').value;

            let data = {'empType': empType, 'empCode': empCode}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    $("#empMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#empMainTb").append(
                            "<tr id='#empMainTr' class='empMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkEmp[]' name='chkEmp[]' value='" + list[i][0] + "," + list[i][14] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.8rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][3].replace(/[0-9]/g, '*') + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][5].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][7] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][9] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][10].replace(/(\d{3})(\d{4})(\d{4})/g, '$1-$2-$3') + "</td> " +
                            "</tr> ");
                    }
                    var Num = list.length;
                    document.getElementById("inputEmpNum").value = Num;

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.comClass;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboClass) {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][0] + "</option>";
                        } else {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][0] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboClass").append(cboClassTxt);
                }
            })
        });

        {#검색창에서 엔터 클릭시 조회 버튼 클릭 #}
        $('input[type="text"]').keydown(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                if (event.currentTarget.id === 'inputEmpNo') {
                    $("#btnSearch").trigger('click');
                }
            }
        });

        {#  테이블 로우 클릭 시  #}
        $(document).on('click', '#empMainTb .empMainTr_tr', function () {
            var itemimg = "";
            var Rfilename = ""
            var imglc = ""
            var group = "";
            var dpt = "";
            var com = "";
            var cboClass = "";
            var chkPermit = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";
            var cboClassTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#cboClass").html("");

            let empCode = $(this).attr('main_code');
            var empType = $(this).children().eq(2).text()

            let data = {'empType': empType, 'empCode': empCode}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    for (var i = 0; i < list.length; i++) {

                        $("#txtEmpNo").val(list[i][0])
                        $("#txtEmpName").val(list[i][2])
                        $("#txtEmpPw").val(list[i][3])
                        $("#txtEmpTel").val(list[i][10])
                        $("#txtEmployDate").val(list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtQuitDate").val(list[i][5].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtLimit").val(addComma(list[i][16]))
                        $("#cboCom").val(list[i][17])
                        group = list[i][6];
                        dpt = list[i][8];
                        cboClass = list[i][14];
                        chkPermit = list[i][18];

                        {#imglc = '/static'#}
                        {#itemimg = list[i][15]#}
                        {#Rfilename = itemimg.substring(7)#}
                        {##}
                        {#document.getElementById("sign").src = imglc + itemimg;#}
                        {#document.getElementById("sign").dataset.origin = imglc + itemimg;#}
                    }

                    if(chkPermit == 'charge'){
                        {#$(`#chkPermit`).trigger('click');#}
                        $(`#chkPermit`).prop("checked",true);
                    }
                    else{
                        $(`#chkPermit`).prop("checked",false);
                    }

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.comClass;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboClass) {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][0] + "</option>";
                        } else {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][0] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboClass").append(cboClassTxt);
                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            var formData = new FormData($('#dropzone')[0]);
            var empNo = document.getElementById('txtEmpNo').value
            {#document.getElementById('chkPermit').value#}
            var empPW = document.getElementById('txtEmpPw').value
            {#var empDpt = document.getElementById('cboDpt').value#}
            {#var empGroup = document.getElementById('cboGroup').value#}
            {#var empCom = document.getElementById('cboCom').value#}
            {#var empTel = document.getElementById('txtEmpTel').value#}
            {#var empRDate = document.getElementById('txtEmployDate').value#}
            {#var empQDate = document.getElementById('txtQuitDate').value#}
            {#var inepno = document.getElementById('txtEmp').value#}
            {#var limit = document.getElementById('txtLimit').value#}

            if(empNo == '')
            {
                alert("사번을 입력해주세요.")
                return false
            }
            if(empPW == '')
            {
                alert("비밀번호를 입력해주세요.")
                return false
            }

            {#let data = {'empNo': empNo,'empNm': empNm,'empPW': empPW#}
            {#, 'empDpt': empDpt, 'empGroup': empGroup, 'empCom': empCom, 'empTel': empTel, 'empRDate': empRDate, 'empQDate': empQDate, 'inepno': inepno, 'limit': limit}#}
            var saveresult = confirm("저장 하시겠습니까?")

            if(saveresult == true){
                $.ajax({
                    type: "post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    url: '{% url "base_emp_save" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.sucYn === 'Y') {
                            alert('저장 되었습니다.')
                            location.href = "{% url 'base_emp' %}";
                        } else if (data.sucYn === 'N' && data.message == 'same file name exists') {
                            if (confirm('동일한 파일명이 존재합니다. 덮어쓰시겠습니까?')) {
                                formData.append('fileOverwriteYn', 'Y');
                                $.ajax({
                                    type: "post",
                                    data: formData,
                                    cache: false,
                                    contentType: false,
                                    processData: false,
                                    dataType: "json",
                                    url: '{% url "base_emp_save" %}',
                                    headers: {
                                        'X-CSRFTOKEN': '{{ csrf_token }}'
                                    },
                                    success: function (data) {
                                        if (data.sucYn === 'Y') {
                                            alert('저장 되었습니다.')
                                            location.href = "{% url 'base_emp' %}";
                                        }
                                    }
                                });
                            }
                        }
                    }
                });
            }
            if(saveresult == false){
                alert('취소하셨습니다.')
            }
        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkEmp[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkEmp[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "base_emp_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'base_emp' %}";
                        }

                    });
            } else {

            }
        });

        {# 초기화 버튼 #}
        $(document).on('click', "#btnClear", function () {
            var group = "";
            var dpt = "";
            var cboClass = "";
            var com = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";
            var cboClassTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#cboClass").html("");


            var empType = "";

            let data = {'empType': empType}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "base_emp_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    $("#txtEmpNo").val("");
                    $("#txtEmpName").val("");
                    $("#txtEmpPw").val("");
                    $("#cboDpt").html("");
                    $("#cboGroup").html("");
                    $("#cboCom").val("");
                    $("#txtEmpTel").val("");
                    $("#txtEmployDate").val("");
                    $("#txtQuitDate").val("");
                    $("#txtEmp").val("");
                    $("#txtLimit").val("");
                    $(`#chkPermit`).prop("checked",false);

                    {#$(`#chkPermit`).checked = false;#}

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.comClass;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboClass) {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboClassTxt = cboClassTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboClass").append(cboClassTxt);
                }
            })
        });
    </script>

{% endblock %}