{% extends "layouts/base.html" %}

{% block title %} base_cust {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-2 d-md-flex align-items-center">
                    <h5 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>업체 정보 등록</h5>
                    <button type="button" class="mb-0 mb-2 btn btn-success btn-sm align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                          <i class="fas fa-search me-2 fs-6"></i>조회
                    </button>
                    <button type="button" class="mb-0 btn btn-primary btn-sm align-items-center me-2" id="btnSave" name="btnSave">
                          <i class="fas fa-plus me-2 fs-6"></i>저장
                    </button>
                    <button type="button" class="mb-0 btn btn-white btn-sm align-items-center me-2 text-dark" id="btnClear" name="btnClear">
                          <i class="fas fa-eraser me-2 fs-6"></i>초기화
                    </button>
                    <button type="button" class="mb-0 btn btn-dark btn-sm align-items-center" id="btnDlt" name="btnDlt">
                          <i class="fas fa-minus me-2 fs-6"></i>삭제
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-7 col-md-5">
                <div class="border shadow-xs card h-100">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row pb-0">
                          <div class="p-2 pb-0 col-lg-3 col-3 mt-lg-0">
                            <div class="input-group shadow-none">
                                <span class="input-group-text bg-transparent border-0">
                                    <label style="font-size: 0.85rem"><i class="fas fa-search me-2"></i>업체 구분</label>
                                </span>
                                <select class="form-control border border-light rounded-1 text-center p-0" name="inputCustType" id="inputCustType" style="font-size: 0.8rem; height: 2rem; max-width: 8rem">

                                </select>
                            </div>
                          </div>
                          <div class="p-2 pb-0 col-lg-4 col-4 mt-lg-0">
                            <div class="input-group shadow-none">
                                <span class="input-group-text bg-transparent border-0">
                                    <label style="font-size: 0.85rem"><i class="fas fa-search me-2"></i>업체 코드/명</label>
                                </span>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" type="text" id="inputCustCode" name="inputCustCode"/>
                            </div>
                          </div>
                          <div class="p-3 col-lg-3 mt-lg-0" hidden>
                            <div class="input-group shadow-none">
                                <span class="input-group-text bg-transparent border-0 ">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>거래 여부</label>
                                </span>
                                <select class="form-control border border-light p-0 rounded-1 text-center" name="inputYn" id="inputYn" style="font-size: 0.8rem; height: 2rem">

                                </select>
                            </div>
                          </div>
                          <div class="p-2 col-lg-1 mt-lg-0"></div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="6%">
                                <col width="12%">
                                <col width="8%">
                                <col width="15%">
                                <col width="8%">
                                <col width="6%">
                                <col width="8%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th style="font-size: 0.8rem" class="p-1">선택</th>
                              <th style="font-size: 0.8rem" class="p-1">업체 코드</th>
                              <th style="font-size: 0.8rem" class="p-1">업 체 명</th>
                              <th style="font-size: 0.8rem" class="p-1">대표자</th>
                              <th style="font-size: 0.8rem" class="p-1">주 소</th>
                              <th style="font-size: 0.8rem" class="p-1">사업자 번호</th>
                              <th style="font-size: 0.8rem" class="p-1">우편 번호</th>
                              <th style="font-size: 0.8rem" class="p-1">전화 번호</th>
                            </tr>
                          </thead>
                          <tbody id="custMainTb">
                            <tr id="custMainTr" class="custMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-5 col-md-3 mb-md-0">
                <div class="card shadow-xs border h-100">
                    <form method="post" id="dropzone">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-4">
                                        <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>업체명</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtCustName" name="txtCustName"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>업체 코드</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtCustCode" name="txtCustCode"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>대표자</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtCeo" name="txtCeo"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>사업자 번호</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtRegNum" name="txtRegNum"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>업 태</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtCustCat" name="txtCustCat"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>업 종</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtCustType" name="txtCustType"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>우편 번호</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtPostCode" name="txtPostCode"/>
                                    </div>
                                    <div class="col-8">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>주 소</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtAddress" name="txtAddress"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>전화 번호</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="text" id="txtTelePhone" name="txtTelePhone"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>FAX</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="text" id="txtFax" name="txtFax"/>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>등록일</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="date" id="txtRegDate" name="txtRegDate"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>e-Mail</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="email" id="txtEMail" name="txtEMail"/>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>홈페이지 주소</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtWebAddress" name="txtWebAddress"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>업체 분류</label>
                                        <select style="font-size: 0.8rem; height: 2rem" class="form-control border border-light rounded-1 text-center p-0" name="cboCustType" id="cboCustType"></select>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>결제</label>
                                        <select style="height: 2rem; font-size: 0.8rem; width: 8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboApv" id="cboApv">
                                            <option value="0">당월</option>
                                            <option value="1">익월</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>결제 일자</label>
                                        <select style="height: 2rem; font-size: 0.8rem; width: 8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboDay" id="cboDay"></select>
                                    </div>
                                    <!--<div class="col-4">
                                        <label class="mt-4" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>업체군 분류</label>
                                        <select style="font-size: 0.8rem; height: 2rem" class="form-control border border-light rounded-1 text-center p-0" name="cboCustType2" id="cboCustType2"></select>
                                    </div>-->
                                    <div hidden class="col-4">
                                        <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>사용자</label>
                                        <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtUser" name="txtUser"/>
                                    </div>
                                </div>
                            </div>
                            <label class="" style="font-size: 0.8rem"><i class="fa fa-money-check-dollar me-2 text-dark text-sm"></i>거래처 계좌 정보</label>
                            <div class="table-responsive height-100 w-60 border border-light" id="custTb">
                                <table class="table" id="bankTb">
                                    <colgroup>
                                        <col width="2%">
                                        <col width="6%">
                                    </colgroup>
                                  <thead class="bg-gray-500">
                                    <tr>
                                      <th style="font-size: 0.85rem" class="text-white text-center p-0">은 행</th>
                                      <th style="font-size: 0.85rem" class="text-white text-center p-0">계좌 번호</th>
                                    </tr>
                                  </thead>
                                  <tbody id="subTb">
                                    <tr id="#subTr" class="subTr_tr">

                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
        var inputCustType = "";
        var inputYn = "";
        var cboCustType = "";
        var cboDay = "";
        var custBank = "";
        var custActNum = "";
        var inputCustTypeTxt = "<option value=''>:: 전체 ::</option>";
        var inputYnTxt = "<option value=''>:: 선택 ::</option>";
        var cboCustTypeTxt = "<option value=''>:: 선택 ::</option>";
        var cboDayTxt = "<option value=''>:: 선택 ::</option>";
        var custBankTxt = "<option value=''>:: 선택 ::</option>";
        var custActNumTxt = "<option value=''>:: 선택 ::</option>";

        $("#inputCustType").html("");
        $("#inputYn").html("");
        $("#cboCustType").html("");
        $("#cboDay").html("");

        var i = $('#bankTb tbody tr').length;
        {# 첫 화면에 2개 row가 뜨도록 #}
        $("#custBank_"+i).html("");

        $.ajax({
            type: "post",
            url: '{% url "base_cust_search" %}',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                var list = data.custList;

                $("#custMainTb").html("");
                for (var i = 0; i < list.length; i++) {
                    $("#custMainTb").append(
                        "<tr id='#custMainTr' class='custMainTr_tr' main_code='" + list[i][1] + "'>" +
                        "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkCust[]' name='chkCust[]' value='" + list[i][0] + "," + list[i][7] + "'/></div></td>" +
                        "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][1] + "</td>" +
                        "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][0] + "</td> " +
                        "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][2] + "</td> " +
                        "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][3] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][4] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][5] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][6] + "</td> " +
                        "<td hidden class='text-center p-1' style='font-size: 0.8rem'>" + list[i][7] + "</td> " +
                        "</tr> ");
                }



                var combolist = data.inputCustType;
                for (var i = 0; i < combolist.length; i++) {
                    if (combolist[i][0] == inputCustType) {
                        inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                    } else {
                        inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                    }
                }

                var combolist4 = data.cboCustYn;
                for (var i = 0; i < combolist4.length; i++) {
                    if (combolist4[i][0] == inputYn) {
                        inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                    } else {
                        inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                    }
                }

                var combolist2 = data.inputCustType;
                for (var i = 0; i < combolist2.length; i++) {
                    if (combolist2[i][0] == cboCustType) {
                        cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                    } else {
                        cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                    }
                }

                cboDayTxt = cboDayTxt + "<option value=''></option>";
                for (var i = 1; i < 32; i++) {
                    cboDayTxt = cboDayTxt + "<option value='" + i + "'>" + i + "일</option>";
                }
                cboDayTxt = cboDayTxt + "<option value='last'>말일</option>";

                var combolist5 = data.cboBank;
                for (var i = 0; i < combolist5.length; i++) {
                    if (combolist5[i][0] == custBank) {
                        custBankTxt = custBankTxt + "<option value='" + combolist5[i][0] + "' selected>" + combolist5[i][1] + "</option>";
                    } else {
                        custBankTxt = custBankTxt + "<option value='" + combolist5[i][0] + "'>" + combolist5[i][1] + "</option>";
                    }
                }

                $("#inputCustType").append(inputCustTypeTxt);
                $("#inputYn").append(inputYnTxt);
                $("#cboCustType").append(cboCustTypeTxt);
                $("#cboDay").append(cboDayTxt);


                {# 왼쪽 컬럼은 은행 종류 바인딩 #}
                $("#subTb").html("");
                for (var j = 0; j < 4; j++) {
                    $("#subTb").append(
                        "<tr id='#subTr' class='subTr_tr'>" +
                        "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-start p-0' type='text' id='custBank_" + j + "' name='custBank'/></td>" +
                        "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-start p-0' type='text' id='custActNum_" + j + "' name='custActNum'/></td>" +
                        "</tr> ");
                }

                {#$("#custBank_" + i).append(custBankTxt);#}
            }
        })
        });

        {# 업체 구분 #}
{#        $(document).on('click', "#inputCustType", function () {#}
{#            $("#btnSearch").trigger('click');#}
{#        });#}
{##}
        {# 거래여부 #}
{#        $(document).on('click', "#inputYn", function () {#}
{#            $("#btnSearch").trigger('click');#}
{#        });#}

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {

            var custType = document.getElementById('inputCustType').value;
            var custCode = document.getElementById('inputCustCode').value;
            var custYn = document.getElementById('inputYn').value;

            let data = {"custType": custType, "custCode": custCode, "custYn": custYn}

            $.ajax({
                type: "post",
                url: '{% url "base_cust_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.custList;

                    $("#custMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#custMainTb").append(
                            "<tr id='#custMainTr' class='custMainTr_tr' main_code='" + list[i][1] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkCust[]' name='chkCust[]' value='" + list[i][0] + "," + list[i][7] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.8rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][5] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.8rem'>" + list[i][6] + "</td> " +
                            "<td hidden class='text-center p-1' style='font-size: 0.8rem'>" + list[i][7] + "</td> " +
                            "</tr> ");
                    }
                }
            })
        });

        {#  테이블 로우 클릭 시  #}
        $(document).on('click', '#custMainTb .custMainTr_tr', function () {
            var cboCustType = "";
            var cboDay = "";
            var custBank = "";
            var cboCustTypeTxt = "<option value=''>:: 선택 ::</option>";
            var cboDayTxt = "<option value='last'>말일</option>";
            var custBankTxt = "<option value='last'>말일</option>";

            $("#cboCustType").html("");
            $("#cboDay").html("");
            $("#custBank").html("");

            let custCode = $(this).attr('main_code');

            let data = {'custCode': custCode}

            $.ajax({
                type: "post",
                url: '{% url "base_cust_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.custList;

                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list[i][j]);
                        }

                        $("#txtCustName").val(list[i][0])
                        $("#txtCustCode").val(list[i][1])
                        $("#txtCeo").val(list[i][2])
                        $("#txtRegNum").val(list[i][3])
                        $("#txtCustCat").val(list[i][4])
                        {# 업종 #}
                        $("#txtCustType").val(list[i][5])
                        $("#txtPostCode").val(list[i][6])
                        $("#txtAddress").val(list[i][7])
                        $("#txtTelePhone").val(list[i][8])
                        $("#txtFax").val(list[i][9])
                        $("#txtRegDate").val(list[i][19].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtEMail").val(list[i][12])
                        $("#txtWebAddress").val(list[i][13])
                        $("#txtUser").val(list[i][18])
                        {# 업체 구분 #}
                        cboCustType = list[i][14];
                        cboDay = list[i][20];
                    }

                    var combolist2 = data.cboCustType;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboCustType) {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    cboDayTxt = cboDayTxt + "<option value=''></option>";
                    for (var i = 1; i < 32; i++) {
                        if (i == cboDay) {
                            cboDayTxt = cboDayTxt + "<option value='" + i + "' selected>" + i + "일</option>";
                        } else {
                            cboDayTxt = cboDayTxt + "<option value='" + i + "'>" +i + "일</option>";
                        }
                    }
                    cboDayTxt = cboDayTxt + "<option value='last'>말일</option>";


                    var list2 = data.custBank;
                    $("#subTb").html("");
                    for (var i = 0; i < list2.length; i++) {
                        custBank = list[i][0]

                        $("#subTb").append(
                            "<tr id='#subTr' class='subTr_tr'>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-center p-0' type='text' id='custBank_" + j + "' name='custBank' value='" + list2[i][0] + "'/></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-start p-0' type='text' id='custActNum_" + j + "' name='custActNum' value='" + list2[i][1] + "'/></td>" +
                            "</tr> ");
                    }
                    if(list2.length < 3){
                        for (var j = 0; j < 3; j++) {
                            $("#subTb").append(
                                "<tr id='#subTr' class='subTr_tr'>" +
                                "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-center p-0' type='text' id='custBank_" + j + "' name='custBank'/></input></td>" +
                                "<td class='text-center p-1' style='font-size: 0.85rem'><input style='height: 2rem; font-size: 0.8rem' class='form-control text-start p-0' type='text' id='custActNum_" + j + "' name='custActNum'/></td>" +
                                "</tr> ");
                        }
                    }


                    $("#cboCustType").append(cboCustTypeTxt);
                    $("#cboDay").append(cboDayTxt);
                    $("#custBank").append(custBankTxt);
                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            var formData = new FormData($('#dropzone')[0]);

            var txtCustCode = document.getElementById('txtCustCode').value

            if(txtCustCode == '')
            {
                alert("업체코드를 입력해주세요.")
                return false
            }


            var saveresult = confirm("저장 하시겠습니까?")

            if (saveresult == true) {

                var Count = 0;
                $("#custTb tr td input[name='custBank']").each(function (index, ele) {
                    var ele_val = $(ele).val();

                    if(ele_val){
                        Count += 1;
                    }
                });


                var custArr = [];
                for (var i = 0; i < Count; i++) {

                    var custBank = $('#custBank_' + i).val();
                    var custActNum = $('#custActNum_' + i).val();

                    if (custBank) {
                        let data = {
                            'custBank': custBank,
                            'custActNum': custActNum,
                        };
                        custArr.push(data);
                    }
                }

                formData.append('custArrList', JSON.stringify(custArr))

                $.ajax({
                    type: "post",
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    url: '{% url "base_cust_save" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.sucYn === 'Y') {
                            alert('저장 되었습니다.')
                            location.href = "{% url 'base_cust' %}";
                        }
                    }
                });
            }

        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkCust[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkCust[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 거래처를 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "base_cust_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'base_cust' %}";
                        }

                    });
            } else {

            }
        });

        {# 초기화 버튼 #}
        $(document).on('click', "#btnClear", function () {
            var inputYn = "";
            var cboCustType = "";
            var inputYnTxt = "<option value=''>:: 선택 ::</option>";
            var cboCustTypeTxt = "<option value=''>:: 선택 ::</option>";

            $("#inputYn").html("");
            $("#cboCustType").html("");


            $.ajax({
                type: "post",
                url: '{% url "base_cust_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    $("#txtCustName").html("");
                    $("#txtCustCode").html("");
                    $("#txtCeo").html("");
                    $("#txtRegNum").html("");
                    $("#txtCustCat").html("");
                    $("#txtCustType").html("");
                    $("#txtPostCode").val("");
                    $("#txtAddress").val("");
                    $("#txtTelePhone").val("");
                    $("#txtFax").val("");
                    $("#txtWebAddress").val("");
                    $("#cboCustType").val("");
                    $("#txtUser").val("");

                    var combolist4 = data.cboCustYn;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == inputYn) {
                            inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        } else {
                            inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.inputCustType;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboCustType) {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    $("#inputYn").append(inputYnTxt);
                    $("#cboCustType").append(cboCustTypeTxt);

                }
            })
        });
    </script>
{% endblock %}