{% extends "layouts/base.html" %}

{% block title %} base_cust {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-3 d-md-flex align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h3 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>업체 정보 등록</h3>
                    </div>
                    <button type="button" class="mb-0 mb-2 btn btn-white btn-icon d-flex align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                      <span class="btn-inner--icon">
                          <i class="fas fa-search me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">조회</span>
                    </button>
                    <button type="submit" class="mb-0 btn btn-success btn-icon d-flex align-items-center me-2" id="btnSave" name="btnSave">
                      <span class="btn-inner--icon">
                          <i class="fas fa-plus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">저장</span>
                    </button>
                    <button type="button" class="mb-0 btn btn-dark btn-icon d-flex align-items-center" id="btnDlt" name="btnDlt">
                      <span class="btn-inner--icon">
                          <i class="fas fa-minus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">삭제</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-7 col-md-5">
                <div class="border shadow-xs card h-100">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row">
                          <div class="p-3 col-lg-3 mt-lg-0">
                            <div class="input-group">
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>업체 구분</label>
                                </span>
                                <select class="form-control border border-light rounded-1 text-center" name="inputCustType" id="inputCustType" style="font-size: 0.85rem">

                                </select>
                            </div>
                          </div>
                          <div class="p-3 col-lg-3 mt-lg-0">
                            <div class="input-group">
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>업체 코드/명</label>
                                </span>
                                <input class="form-control" type="text" id="inputCustCode" name="inputCustCode"/>
                            </div>
                          </div>
                          <div class="p-3 col-lg-3 mt-lg-0">
                            <div class="input-group">
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>거래 여부</label>
                                </span>
                                <select class="form-control border border-light rounded-1 text-center" name="inputYn" id="inputYn" style="font-size: 0.85rem">

                                </select>
                            </div>
                          </div>
                          <div class="p-3 col-lg-3 mt-lg-0"></div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="6%">
                                <col width="12%">
                                <col width="8%">
                                <col width="15%">
                                <col width="8%">
                                <col width="6%">
                                <col width="8%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-semibold opacity-7 p-2"></th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">업체 코드</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">업 체 명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">대표자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">주 소</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">사업자 번호</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">우편 번호</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">전화 번호</th>
                            </tr>
                          </thead>
                          <tbody id="custMainTb">
                            <tr id="custMainTr" class="custMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-5 col-md-3 mb-md-0">
                <div class="card shadow-xs border h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>업체명</label>
                                <input class="form-control" type="text" id="txtCustName" name="txtCustName"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>업체 코드</label>
                                <input class="form-control" type="text" id="txtCustCode" name="txtCustCode"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>대표자</label>
                                <input class="form-control" type="text" id="txtCeo" name="txtCeo"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>사업자 번호</label>
                                <input class="form-control" type="text" id="txtRegNum" name="txtRegNum"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>업 태</label>
                                <input class="form-control" type="text" id="txtCustCat" name="txtCustCat"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>업 종</label>
                                <input class="form-control" type="text" id="txtCustType" name="txtCustType"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>우편 번호</label>
                                <input class="form-control" type="text" id="txtPostCode" name="txtPostCode"/>
                            </div>
                            <div class="col-8">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>주 소</label>
                                <input class="form-control" type="text" id="txtAddress" name="txtAddress"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>전화 번호</label>
                                <input class="form-control" type="text" id="txtTelePhone" name="txtTelePhone"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>FAX</label>
                                <input class="form-control" type="text" id="txtFax" name="txtFax"/>
                            </div>
                            <div class="col-4">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>담당자</label>
                                <input class="form-control" type="text" id="txtEmp" name="txtEmp"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>담당자 핸드폰</label>
                                <input class="form-control" type="text" id="txtEmpPhone" name="txtEmpPhone"/>
                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>등록일</label>
                                <input class="form-control" type="date" id="txtRegDate" name="txtRegDate"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>e-Mail</label>
                                <input class="form-control" type="email" id="txtEMail" name="txtEMail"/>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-dark text-sm"></i>홈페이지 주소</label>
                                <input class="form-control" type="text" id="txtWebAddress" name="txtWebAddress"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>업체 분류</label>
                                <select class="form-control border border-light rounded-1 text-center" name="cboCustType" id="cboCustType"></select>
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>업체군 분류</label>
                                <select class="form-control border border-light rounded-1 text-center" name="cboCustType2" id="cboCustType2"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
        var inputCustType = "";
        var inputYn = "";
        var cboCustType = "";
        var cboCustType2 = "";
        var inputCustTypeTxt = "<option value=''>:: 전체 ::</option>";
        var inputYnTxt = "<option value=''>:: 전체 ::</option>";
        var cboCustTypeTxt = "<option value=''>:: 전체 ::</option>";
        var cboCustType2Txt = "<option value=''>:: 전체 ::</option>";

        $("#inputCustType").html("");
        $("#inputYn").html("");
        $("#cboCustType").html("");
        $("#cboCustType2").html("");

        $.ajax({
            type: "post",
            url: '{% url "base_cust_search" %}',
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                var list = data.custList;

                $("#custMainTb").html("");
                for (var i = 0; i < list.length; i++) {
                    $("#custMainTb").append(
                        "<tr id='#custMainTr' class='custMainTr_tr' main_code='" + list[i][0] + "'>" +
                        "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkCust[]' name='chkCust[]' value='" + list[i][0] + "," + list[i][7] + "'/></div></td>" +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                        "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                        "</tr> ");
                }

                var combolist = data.inputCustType;
                for (var i = 0; i < combolist.length; i++) {
                    if (combolist[i][0] == inputCustType) {
                        inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                    } else {
                        inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                    }
                }

                var combolist4 = data.cboCustYn;
                for (var i = 0; i < combolist4.length; i++) {
                    if (combolist4[i][0] == inputYn) {
                        inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                    } else {
                        inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                    }
                }

                var combolist2 = data.cboCustType;
                for (var i = 0; i < combolist2.length; i++) {
                    if (combolist2[i][0] == cboCustType) {
                        cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                    } else {
                        cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                    }
                }

                var combolist3 = data.cboCustType2;
                for (var i = 0; i < combolist3.length; i++) {
                    if (combolist3[i][0] == cboCustType2) {
                        cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                    } else {
                        cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                    }
                }

                $("#inputCustType").append(inputCustTypeTxt);
                $("#inputYn").append(inputYnTxt);
                $("#cboCustType").append(cboCustTypeTxt);
                $("#cbobankType2").append(cboCustType2Txt);

            }
        })
        });

        {# 업체 구분 #}
        $(document).on('click', "#inputCustType", function () {
            $("#btnSearch").trigger('click');
        });

        {# 거래여부 #}
        $(document).on('click', "#inputYn", function () {
            $("#btnSearch").trigger('click');
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var inputCustType = "";
            var inputYn = "";
            var cboCustType = "";
            var cboCustType2 = "";
            var inputCustTypeTxt = "<option value=''>:: 전체 ::</option>";
            var inputYnTxt = "<option value=''>:: 전체 ::</option>";
            var cboCustTypeTxt = "<option value=''>:: 전체 ::</option>";
            var cboCustType2Txt = "<option value=''>:: 전체 ::</option>";

            $("#inputCustType").html("");
            $("#inputYn").html("");
            $("#cboCustType").html("");
            $("#cboCustType2").html("");

            var custType = $('input[name=inputCustType]:checked').val();
            var custCode = document.getElementById('inputCustCode').value;
            var custYn = $('input[name=inputYn]:checked').val();

            let data = {"custType": custType, "custCode": custCode, "custYn": custYn}

            $.ajax({
                type: "post",
                url: '{% url "base_cust_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.custList;

                    $("#custMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#custMainTb").append(
                            "<tr id='#custMainTr' class='custMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkCust[]' name='chkCust[]' value='" + list[i][0] + "," + list[i][7] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "</tr> ");
                    }

                    var combolist = data.inputCustType;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == inputCustType) {
                            inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            inputCustTypeTxt = inputCustTypeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboCustYn;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == inputYn) {
                            inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        } else {
                            inputYnTxt = inputYnTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboCustType;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboCustType) {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboCustType2;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboCustType2) {
                            cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    $("#inputCustType").append(inputCustTypeTxt);
                    $("#inputYn").append(inputYnTxt);
                    $("#cboCustType").append(cboCustTypeTxt);
                    $("#cbobankType2").append(cboCustType2Txt);

                }
            })
        });

        {#  테이블 로우 클릭 시  #}
        $(document).on('click', '#custMainTb .custMainTr_tr', function () {
            var cboCustType = "";
            var cboCustType2 = "";
            var cboCustTypeTxt = "<option value=''>:: 전체 ::</option>";
            var cboCustType2Txt = "<option value=''>:: 전체 ::</option>";

            $("#cboCustType").html("");
            $("#cboCustType2").html("");

            let custCode = $(this).attr('main_code');

            let data = {'custCode': custCode}

            $.ajax({
                type: "post",
                url: '{% url "base_cust_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.custList;

                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list[i][j]);
                        }

                        $("#txtCustName").val(list[i][0])
                        $("#txtCustCode").val(list[i][1])
                        $("#txtCeo").val(list[i][2])
                        $("#txtRegNum").val(list[i][3])
                        $("#txtCustCat").val(list[i][4])
                        $("#txtCustType").val(list[i][5])
                        $("#txtPostCode").val(list[i][6])
                        $("#txtAddress").val(list[i][7])
                        $("#txtTelePhone").val(list[i][8])
                        $("#txtFax").val(list[i][9])
                        $("#txtEmp").val(list[i][10])
                        $("#txtEmpPhone").val(list[i][11])
                        {#$("#txtRegDate").val(list[i][12].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))#}
                        $("#txtEMail").val(list[i][12])
                        $("#txtWebAddress").val(list[i][13])
                        cboCustType = list[i][14];
                        cboCustType2 = list[i][16];
                    }

                    var combolist2 = data.cboCustType;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboCustType) {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboCustTypeTxt = cboCustTypeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboCustType2;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboCustType2) {
                            cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboCustType2Txt = cboCustType2Txt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    $("#cboCustType").append(cboCustTypeTxt);
                    $("#cboCustType2").append(cboCustType2Txt);
                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            $('form').submit();

        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkCust[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkCust[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "base_cust_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'base_cust' %}";
                        }

                    });
            } else {

            }
        });


    </script>
{% endblock %}