{% extends "layouts/base.html" %}

{% block title %} 참조 코드 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
    <form method="post" action="{% url 'base_code_save' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-2 d-md-flex align-items-center">
                    <h5 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>참조 코드 등록</h5>
                    <!--<button type="button" class="mb-0 mb-2 btn btn-white btn-icon d-flex align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                      <span class="btn-inner--icon">
                          <i class="fas fa-search me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">조회</span>
                    </button>-->
                    <button type="button" class="mb-0 mb-2 btn btn-warning btn-sm align-items-center ms-md-auto mb-sm-0 me-2" id="btnAdd" name="btnAdd">
                          <i class="fas fa-plus me-2 fs-6"></i>추가
                    </button>
                    <button type="submit" class="mb-0 btn btn-primary btn-sm align-items-center me-2" id="btnSave" name="btnSave">
                          <i class="fas fa-plus me-2 fs-6"></i>저장
                    </button>
                    <button type="button" class="mb-0 btn btn-dark btn-sm align-items-center" id="btnDlt" name="btnDlt">
                          <i class="fas fa-minus me-2 fs-6"></i>삭제
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-2 col-4"></div>
            <div class="col-lg-4 col-md-2">
                <div class="border shadow-xs card">
                    <div class="px-0 py-0 card-body" style="height: 70vh">
                      <div class="p-3 table-responsive overflow-scroll height-500" style="height: 70vh">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="10%">
                                <col width="15%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th style="font-size: 0.8rem" class="text-secondary text-center font-weight-bolder p-1">참조 코드</th>
                              <th style="font-size: 0.8rem" class="text-secondary text-center font-weight-bolder p-1">코드명</th>
                            </tr>
                          </thead>
                          <tbody id="MainTb">
                            <tr id="MainTr" class="MainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-4">
                <div class="border shadow-xs card">
                <div class="px-0 py-0 card-body" style="height: 70vh">
                  <div class="p-3 table-responsive overflow-scroll" style="height: 70vh">
                    <table class="table mb-0 align-items-center justify-content-center">
                        <colgroup>
                            <col width="2%">
                            <col width="10%">
                            <col width="15%">
                        </colgroup>
                      <thead class="bg-gray-100">
                        <tr>
                          <th class="text-center text-secondary text-center font-weight-bolder p-1"></th>
                          <th hidden style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">참조 코드</th>
                          <th hidden style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">코드명</th>
                          <th style="font-size: 0.8rem" class="text-secondary text-center font-weight-bolder p-1">보조 코드</th>
                          <th style="font-size: 0.8rem" class="text-secondary text-center font-weight-bolder p-1">보조명</th>
                        </tr>
                      </thead>
                      <tbody id="subTb">
                        <tr id="subTr" class="subTr_tr">

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $.ajax({
                type: "post",
                url: '{% url "base_code_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    $("#MainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#MainTb").append(
                            "<tr id='#MainTr' class='MainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "</tr> ");
                    }
                }
            })
        });

        {# 테이블 로우 클릭 시 #}
        $(document).on('click', '#MainTb .MainTr_tr', function () {

            let mainCode = $(this).attr('main_code');

            let data = {'mainCode': mainCode}

            $.ajax({
                type: "post",
                url: '{% url "base_code_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.subList;

                    $("#subTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#subTb").append(
                            "<tr id='#subTr' class='subTr_tr'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkSub[]' name='chkSub[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'><input type='text' class='form-control' id='mainCode' name='mainCode' value='" + list[i][0] + "'/></td> " +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'><input type='text' class='form-control' id='mainName' name='mainName' value='" + list[i][1] + "'/></td> " +
                            "<td class='p-0' style='font-size: 0.85rem'><input type='text' class='form-control shadow-none border-0 text-xs text-center' id='subCode' name='subCode' value='" + list[i][2] + "'/></td> " +
                            "<td class='p-0' style='font-size: 0.85rem'><input type='text' class='form-control shadow-none border-0 text-xs text-start' id='subName' name='subName' value='" + list[i][3] + "'/></td> " +
                            "</tr> ");
                    }
                }
            })
        });

    {# 추가 버튼 클릭 #}
    $(document).on('click', "#btnAdd", function () {
        var firstVal = "";
        var secVal = "";

        firstVal = document.getElementById('mainCode').value;
        secVal = document.getElementById('mainName').value;

        const subCount = $('#subTb tr').length;
        const i = subCount + 1

        $("#subTb").append(
            "<tr id='#subTr' class='subTr_tr'>" +
            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkSub[]' name='chkSub[]'/></div></td>" +
            "<td hidden class='text-center'><input type='text' class='form-control' id='mainCode' name='mainCode' value='" + firstVal + "'/></td>" +
            "<td hidden class='text-center'><input type='text' class='form-control' id='mainName' name='mainName' value='" + secVal + "'/></td> " +
            "<td class='p-0'><input class='form-control border-0 text-xs text-center shadow-none' type='text' id='subCode' name='subCode'></td> " +
            "<td class='p-0'><input class='form-control border-0 text-xs text-start shadow-none' type='text' id='subName' name='subName'></td>" +
            "</tr> "
        );
    });

    {# 저장 클릭 시 #}
    $(document).on('click', "btnSave", function () {

            $('form').submit();
    });

    {#체크한 내용 삭제#}
    $(document).on('click', "#btnDlt", function () {

        var chk_cust_id_arr = [];
        $('input[name="chkSub[]"]:checked').each(function (i) {
            chk_cust_id_arr.push($(this).val());
        })

        //체크가 1개라도 안되있을때
        let chk_count = $("input[name='chkSub[]']").filter(":checked").length;
        if (chk_count < 1) {
            alert('삭제하실 직원을 체크 해주세요.');
            return false;
        }

        //체크 한 거래처 삭제
        var result = confirm("삭제하시겠습니까?")

        if (result) {
            if (chk_cust_id_arr.length > 0)

                $.ajax({
                    type: "post",
                    async: false,
                    data: {
                        'arrList': JSON.stringify(chk_cust_id_arr),
                    },
                    dataType: "json",
                    url: '{% url "base_code_dlt" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        location.href = "{% url 'base_code' %}";
                    }

                });
        } else {

        }
    });

    </script>
{% endblock %}