{% extends "layouts/base.html" %}

{% block title %} base_emp {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <form method="post" action="{% url 'base_emp_save' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-2 d-md-flex align-items-center">
                    <h5 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>직원 정보 등록</h5>
                    <button type="button" class="mb-0 mb-2 btn btn-sm btn-white btn-sm align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                          <i class="fas fa-search me-2 fs-6"></i>조회
                    </button>
                    <button type="submit" class="mb-0 btn btn-sm btn-success btn-sm align-items-center me-2" id="btnSave" name="btnSave">
                          <i class="fas fa-plus me-2 fs-6"></i>저장
                    </button>
                    <button type="button" class="mb-0 btn btn-sm btn-dark btn-sm align-items-center" id="btnDlt" name="btnDlt">
                          <i class="fas fa-minus me-2 fs-6"></i>삭제
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card h-100">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row pb-0">
                          <div class="p-2 pb-0 col-lg-4 mt-lg-0">
                            <div class="input-group shadow-none justify-content-center align-content-center">
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem"><i class="fas fa-search me-2"></i>사원 번호/ 이름</label>
                                </span>
                                <input style="height: 2rem; width: 10rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center" type="text" id="inputEmpNo" name="inputEmpNo"/>
                            </div>
                          </div>
                          <div class="p-2 pb-0 col-lg-3 mt-lg-0">
                              <div class="input-group shadow-none">
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" checked value="1"/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">근무자</label>
                                </span>
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" value="2"/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">퇴직자</label>
                                </span>
                                <input type="radio" id="inputEmpCount" name="inputEmpCount" value="0"/>
                                <span class="input-group-text text-body bg-transparent border-0">
                                    <label style="font-size: 0.8rem">전 체</label>
                                </span>

                              </div>
                          </div>
                          <div class="p-2 pb-0 col-lg-3 mt-lg-0"></div>
                          <div class="p-2 pb-0 col-lg-2 mt-lg-0 text-end">
                              <div class="input-group shadow-none">
                                <label class="input-group-text tex-body border-0 bg-transparent" style="font-size: 0.8rem"><i class="fa fa-users me-2"></i>인원 수</label>
                                <input style="height: 2rem; max-width: 3rem; font-size: 1rem" readonly class="form-control border-0 bg-transparent text-center mt-2 text-success font-weight-bold" id="inputEmpNum" name="inputEmpNum"/>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="6%">
                                <col width="8%">
                                <col width="5%">
                                <col width="8%">
                                <col width="8%">
                                <col width="8%">
                                <col width="10%">
                                <!--<col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">-->
                                <col width="2%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-bolder p-2"></th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">사 번</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">이 름</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">비밀 번호</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">입사 일자</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">퇴사 일자</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">근무조</th>
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">부 서</th>
                              <!--<th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">작업 공정</th>-->
                              <!--<th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">작업 공정</th>-->
                              <!--<th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">작업 공정</th>-->
                              <!--<th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">작업 공정</th>-->
                              <th style="font-size: 0.85rem" class="text-secondary text-center font-weight-bolder p-2">구 분</th>
                            </tr>
                          </thead>
                          <tbody id="empMainTb">
                            <tr id="empMainTr" class="empMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-4 col-md-6 mb-md-0">
                <div class="card shadow-xs border h-100">
                    <div class="card-body">
                        <!--<div class="row">
                          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-white px-3 mb-0" for="btnradio1">12 months</label>
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-white px-3 mb-0" for="btnradio2">30 days</label>
                          </div>
                        </div>-->
                        <div class="row">
                            <div class="col-6">
                                <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>사 번</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpNo" name="txtEmpNo"/>
                            </div>
                            <div class="col-6">
                                <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>이 름</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpName" name="txtEmpName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>비밀 번호</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpPw" name="txtEmpPw"/>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem">전화 번호</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="text" id="txtEmpTel" name="txtEmpTel"/>
                            </div>
                            <!--<div class="col-2">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>구 분</label>
                                <input class="form-check" type="checkbox" id="chkGbn" name="chkGbn"/>
                            </div>
                            <div class="col-4"></div>-->
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem">입사 일자</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="date" id="txtEmployDate" name="txtEmployDate"/>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem">퇴사 일자</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control" type="date" id="txtQuitDate" name="txtQuitDate"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>사업장</label>
                                <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboCom" id="cboCom"></select>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem">근무조</label>
                                <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboGroup" id="cboGroup"></select>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem">부 서</label>
                                <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboDpt" id="cboDpt"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var group = "";
            var dpt = "";
            var com = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";
            document.getElementById('txtEmployDate').valueAsDate = new Date
            document.getElementById('txtQuitDate').valueAsDate = new Date

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#cboCom").html("");
            $("#inputEmpNum").html("");

            var empType = $('input[name=inputEmpCount]:checked').val();

            let data = {'empType': empType}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    $("#empMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#empMainTb").append(
                            "<tr id='#empMainTr' class='empMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkEmp[]' name='chkEmp[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkGbn[]' name='chkGbn[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "</tr> ");
                    }

                    var Num = list.length;
                    document.getElementById("inputEmpNum").value = Num;

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist6 = data.comCombo;
                    for (var i = 0; i < combolist6.length; i++) {
                        if (combolist6[i][0] == com) {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "' selected>" + combolist6[i][1] + "</option>";
                        } else {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "'>" + combolist6[i][1] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboCom").append(comTxt);

                }
            })
        });

        $(document).on('click', "#inputEmpCount", function () {
            $("#btnSearch").trigger('click');
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var group = "";
            var dpt = "";
            var com = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#cboCom").html("");
            $("#inputEmpNum").html("");

            var empType = $('input[name=inputEmpCount]:checked').val();
            let empCode = document.getElementById('inputEmpNo').value;

            let data = {'empType': empType, 'empCode': empCode}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    $("#empMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#empMainTb").append(
                            "<tr id='#empMainTr' class='empMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkEmp[]' name='chkEmp[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkGbn[]' name='chkGbn[]' value='" + list[i][0] + "," + list[i][2] + "'/></div></td>" +
                            "</tr> ");
                    }
                    var Num = list.length;
                    document.getElementById("inputEmpNum").value = Num;

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist6 = data.comCombo;
                    for (var i = 0; i < combolist6.length; i++) {
                        if (combolist6[i][0] == com) {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "' selected>" + combolist6[i][1] + "</option>";
                        } else {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "'>" + combolist6[i][1] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboCom").append(comTxt);
                }
            })
        });

        {#검색창에서 엔터 클릭시 조회 버튼 클릭 #}
        $('input[type="text"]').keydown(function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                if (event.currentTarget.id === 'inputEmpNo') {
                    $("#btnSearch").trigger('click');
                }
            }
        });

        {#  테이블 로우 클릭 시  #}
        $(document).on('click', '#empMainTb .empMainTr_tr', function () {
            var group = "";
            var dpt = "";
            var com = "";
            var groupTxt = "<option value=''>:: 선택 ::</option>";
            var dptTxt = "<option value=''>:: 선택 ::</option>";
            var comTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboGroup").html("");
            $("#cboDpt").html("");
            $("#cboCom").html("");

            let empCode = $(this).attr('main_code');
            var empType = $(this).children().eq(2).text()

            let data = {'empType': empType, 'empCode': empCode}

            $.ajax({
                type: "post",
                url: '{% url "base_emp_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                data: data,
                dataType: 'json',
                success: function (data) {
                    var list = data.empList;

                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list[i][j]);
                        }

                        $("#txtEmpNo").val(list[i][0])
                        $("#txtEmpName").val(list[i][2])
                        $("#txtEmpPw").val(list[i][3])
                        $("#txtEmpTel").val(list[i][10])
                        $("#txtEmployDate").val(list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtQuitDate").val(list[i][5].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        group = list[i][6];
                        dpt = list[i][8];
                        com = list[i][19];
                    }

                    var combolist = data.jjoCombo;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == group) {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            groupTxt = groupTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist1 = data.dptCombo;
                    for (var i = 0; i < combolist1.length; i++) {
                        if (combolist1[i][0] == dpt) {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "' selected>" + combolist1[i][1] + "</option>";
                        } else {
                            dptTxt = dptTxt + "<option value='" + combolist1[i][0] + "'>" + combolist1[i][1] + "</option>";
                        }
                    }

                    var combolist6 = data.comCombo;
                    for (var i = 0; i < combolist6.length; i++) {
                        if (combolist6[i][0] == com) {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "' selected>" + combolist6[i][1] + "</option>";
                        } else {
                            comTxt = comTxt + "<option value='" + combolist6[i][0] + "'>" + combolist6[i][1] + "</option>";
                        }
                    }

                    $("#cboGroup").append(groupTxt);
                    $("#cboDpt").append(dptTxt);
                    $("#cboCom").append(comTxt);
                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            $('form').submit();

        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkEmp[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkEmp[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "base_emp_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'base_emp' %}";
                        }

                    });
            } else {

            }
        });

    </script>

{% endblock %}