{% extends "layouts/base.html" %}

{% block title %} 계좌 잔액 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-2 d-md-flex align-items-center">
                    <h5 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>계좌 잔액 등록</h5>
                    <button type="button" class="mb-0 mb-2 btn btn-success btn-sm align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                          <i class="fas fa-search me-2 fs-6"></i>조회
                    </button>
                    <button type="button" class="mb-0 btn btn-primary btn-sm align-items-center me-2" id="btnSave" name="btnSave">
                          <i class="fas fa-plus me-2 fs-6"></i>저장
                    </button>
                    <button type="button" class="mb-0 btn btn-white btn-sm align-items-center me-2 text-dark" id="btnClear" name="btnClear">
                          <i class="fas fa-eraser me-2 fs-6"></i>초기화
                    </button>
                    <button type="button" class="mb-0 btn btn-dark btn-sm align-items-center" id="btnDlt" name="btnDlt">
                          <i class="fas fa-minus me-2 fs-6"></i>삭제
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row pb-0">
                          <div class="p-2 col-lg-3 mt-lg-0">
                            <div class="input-group shadow-none">
                                <span class="input-group-text text-body bg-transparent border-0 ">
                                    <label style="font-size: 0.8rem"><i class="fas fa-search me-2"></i>은행명</label>
                                </span>
                                <select class="form-control border border-light rounded-1 text-center p-0" name="inputBankType" id="inputBankType" style="font-size: 0.85rem; height: 2rem">

                                </select>
                            </div>
                          </div>
                          <div class="p-3 col-lg-9 mt-lg-0">

                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="10%">
                                <col width="10%">
                                <col width="10%">
                                <col width="8%">
                                <col width="6%">
                                <col width="20%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th style="font-size: 0.8rem" class="text-center p-1">선택</th>
                              <th style="font-size: 0.8rem" class="text-center p-1">계좌 번호</th>
                              <th style="font-size: 0.8rem" class="text-center p-1">계좌명</th>
                              <th style="font-size: 0.8rem" class="text-start p-1">은행명</th>
                              <th style="font-size: 0.8rem" class="text-center p-1">기준 일자</th>
                              <th style="font-size: 0.8rem" class="text-center p-1">잔 액</th>
                              <th style="font-size: 0.8rem" class="text-center p-1">비 고</th>
                            </tr>
                          </thead>
                          <tbody id="acBalMainTb">
                            <tr id="acBalMainTr" class="acBalMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-4 col-md-6 mb-md-0">
                <div class="card shadow-xs border h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>은행명</label>
                                <select  style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboBankName" id="cboBankName"></select>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>계좌 번호</label>
                                <select style="height: 2rem; font-size: 0.8rem" class="form-control border border-light rounded-1 text-center p-0" name="cboActNum" id="cboActNum"></select>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-info text-sm"></i>계좌명</label>
                                <input  style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="text" id="txtActName" name="txtActName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-2" style="font-size: 0.8rem"><i class="ni ni-calendar-grid-58 me-2 text-dark text-sm"></i>기준 일자</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control text-center" type="date" id="txtDate" name="txtDate"/>
                            </div>
                            <div class="col-6">
                                <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>잔 액</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control text-end" type="text" value="" id="txtBalance" name="txtBalance"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="mt-2" style="font-size: 0.8rem"><i class="fa fa-check-square-o me-2 text-dark text-sm"></i>비 고</label>
                                <input style="height: 2rem; font-size: 0.8rem" class="form-control text-start" type="text" id="txtRemark" name="txtRemark"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var inputBankType = "";
            var cboBankName = "";
            var cboActNum = "";
            var inputBankTypeTxt = "<option value=''>:: 전체 ::</option>";
            var cboBankNameTxt = "<option value=''>:: 전체 ::</option>";
            var cboActNumTxt = "<option value=''>:: 선택 ::</option>";

            $("#inputBankType").html("");
            $("#cboBankName").html("");
            $("#cboActNum").html("");

            var actNum = "";
            var bankCode = "";
            var regDate = "";

            let data = {"actNum": actNum, "bankCode": bankCode, "regDate": regDate}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "actBalance_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.actBalList;

                    $("#acBalMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#acBalMainTb").append(
                            "<tr id='#acBalMainTr' class='acBalMainTr_tr' main_code='" + list[i][0] + "," + list[i][2] + "," + list[i][4] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkAct[]' name='chkAct[]' value='" + list[i][0] + "," + list[i][4] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][5]) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "</tr> ");
                    }

                    var combolist = data.inputBankType;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == inputBankType) {
                            inputBankTypeTxt = inputBankTypeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            inputBankTypeTxt = inputBankTypeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.inputBankType;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboBankName) {
                            cboBankNameTxt = cboBankNameTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboBankNameTxt = cboBankNameTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }


                    $("#inputBankType").append(inputBankTypeTxt);
                    $("#cboBankName").append(cboBankNameTxt);
                    $("#cboActNum").append(cboActNumTxt);
                }
            })
        });

        {# 조회 콤보박스 클릭시 #}
        $('#inputBankType').change(function () {

            $("#btnSearch").trigger('click');
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {

            var bankCode = document.getElementById('inputBankType').value
            var actNum = ''

            var data = {'bankCode': bankCode, actNum: actNum}

            $.ajax({
                type: "post",
                url: '{% url "actBalance_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.actBalList;

                    $("#acBalMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#acBalMainTb").append(
                            "<tr id='#acBalMainTr' class='acBalMainTr_tr' main_code='" + list[i][0] + "," + list[i][2] + "," + list[i][4] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkAct[]' name='chkAct[]' value='" + list[i][0] + "," + list[i][4] + "'/></div></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][5]) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

        {# 입력란 은행명 선택시 계좌번호 바인딩 #}
        $('#cboBankName').change(function () {

            var cboActNum = "";
            var cboActNumTxt = "<option value=''>:: 선택 ::</option>";
            $("#cboActNum").html("");
            $("#txtActName").html("");
            document.getElementById('txtDate').valueAsDate = new Date
            $("#txtBalance").html("");
            $("#txtRemark").html("");

            var bankCode = document.getElementById('cboBankName').value
            var actNum = '';

            var data = {'bankCode': bankCode, "actNum": actNum}

            $.ajax({
                type: "post",
                url: '{% url "actBalance_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {

                    var combolist4 = data.cboActNum;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboActNum) {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][0] + "</option>";
                        } else {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][0] + "</option>";
                        }
                    }

                    $("#cboActNum").append(cboActNumTxt);
                }
            })
        });

        {# 입력란 계좌번호 선택시 계좌명 바인딩 #}
        $('#cboActNum').change(function () {

            var actCode = document.getElementById('cboActNum').value
            var bankCode = document.getElementById('cboBankName').value;

            var data = {'bankCode': bankCode, "actNum": actCode}

            $.ajax({
                type: "post",
                url: '{% url "actBalance_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var actName = data.txtActNme;

                    $("#txtActName").val(actName);
                }
            })
        });

        {# 테이블 로우 클릭 시 #}
        $(document).on('click', '#acBalMainTb .acBalMainTr_tr', function () {

            var cboBankName = "";
            var cboActNum = "";
            var cboBankNameTxt = "<option value=''>:: 선택 ::</option>";
            var cboActNumTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboBankName").html("");
            $("#cboActNum").html("");

            let search = $(this).attr('main_code');
            var actNum = $(this).children().eq(1).text()
            var bankCode = $(this).children().eq(3).text()
            var regDate = $(this).children().eq(5).text()

            let data = {'actNum': actNum, 'bankCode': bankCode, "regDate": regDate}

            $.ajax({
                type: "post",
                url: '{% url "actBalance_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.actBalList;

                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list[i][j]);
                        }
                        $("#txtActName").val(list[i][1])
                        $("#txtDate").val(list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtBalance").val(addComma(list[i][5]))
                        $("#txtRemark").val(list[i][6])
                        cboActNum = list[i][0];
                        cboBankName = list[i][2];
                    }

                    var combolist3 = data.cboBankName;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboBankName) {
                            cboBankNameTxt = cboBankNameTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboBankNameTxt = cboBankNameTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboActNum;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboActNum) {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][0] + "</option>";
                        } else {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][0] + "</option>";
                        }
                    }

                    $("#cboBankName").append(cboBankNameTxt);
                    $("#cboActNum").append(cboActNumTxt);

                    $("select[name=cboBankName]").attr("disabled", true)
                    document.getElementById("cboBankName").classList.add('bg-transparent')
                    $("select[name=cboActNum]").attr("disabled", true)
                    document.getElementById("cboActNum").classList.add('bg-transparent')
                    document.getElementById("txtActName").disabled = true;
                    document.getElementById("txtActName").classList.add('bg-transparent')

                }
            })
        });

        $('input[name=txtBalance]').on('input', function () {
            var txtRegNum = Number($(this).val().replaceAll(',',''));

            if(isNaN(txtRegNum)) {
                txtRegNum = 0;
            }

            var regex_txtRegNum = txtRegNum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $(this).val(regex_txtRegNum);

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            var cboActNum = document.getElementById('cboActNum').value
            var txtDate = document.getElementById('txtDate').value
            var txtBalance = document.getElementById('txtBalance').value
            var txtRemark = document.getElementById('txtRemark').value

            if(txtBalance == ''){ txtBalance == '0'}

            if(cboActNum == '')
            {
                alert("계좌번호를 선택해주세요.")
                return false
            }

            let data = {'cboActNum': cboActNum,'txtDate': txtDate,'txtBalance': txtBalance, 'txtRemark': txtRemark}

            $.ajax({
                type: "post",
                data: data,
                dataType: "json",
                url: '{% url "actBalance_reg_save" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.sucYn === 'Y') {
                        alert('저장 되었습니다.')
                        location.href = "{% url 'actBalance_reg' %}";
                    }
                }
            });

        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkAct[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkAct[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "actBalance_reg_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'actBalance_reg' %}";
                        }

                    });
            } else {

            }
        });

        {# 초기화 버튼 #}
        $(document).on('click', "#btnClear", function () {

            $("#txtActName").val("");
            $("#txtDate").val("");
            $("#txtBalance").val("");
            $("#txtRemark").val("");
            $("#cboBankName").val("");
            $("#cboActNum").val("");

        });

    </script>
{% endblock %}