{% extends "layouts/base.html" %}

{% block title %} 결재 관리 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{#         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"#}
    <div class="height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid py-1 my-2">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-lg-6 col-6 text-start">
                                <h4 class="text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>결재 관리</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card border border-white shadow-xs">
                    <div class="card-header pb-0">
                        <div class="row p-0">
                            <div class="col-lg-2 col-2">
                                <div class="input-group shadow-none">
                                    <label style="font-size: 0.85rem; width: 4rem"><i class="fas fa-search me-2"></i>결재자</label>
                                    <input readonly class="form-control border border-light rounded-1 text-center me-2" type="text" name="inputEmp" id="inputEmp" value="{{ request.session.USER_NM }}" style="height: 2rem">
                                    <input hidden class="form-control border border-light rounded-1 text-center me-2" type="text" name="empCode" id="empCode" value="{{ request.session.userId }}" style="height: 2rem">
                                </div>
                            </div>
                            <div class="col-lg-2 col-2">
                                <div class="input-group shadow-none">
                                    <label style="font-size: 0.85rem; width: 4rem"><i class="fas fa-search me-2"></i>구분</label>
                                    <select class="form-control border border-light rounded-1 text-center p-0" name="inputGbn" id="inputGbn" style="font-size: 0.8rem; height: 2rem">
                                        <option value="1">전체</option>
                                        <option value="2">미결재</option>
                                        <option value="3">결재</option>
                                        <option value="4">미승인</option>
                                        <option value="5">승인</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-7 col-7">
                                <div class="table-responsive-sm height-400 overflow-auto border border-light">
                                  <table class="table mb-0 align-items-center justify-content-center">
                                      <colgroup>
                                          <col width="2%">
                                          <col width="8%">
                                          <col width="15%">
                                          <col width="8%">
                                          <col width="6%">
                                          <col width="4%">
                                          <col width="4%">
                                      </colgroup>
                                    <thead class="text-white font-weight-bolder text-center bg-primary" style="position: sticky; top: 0">
                                      <tr>
                                        <th style="font-size: 0.85rem" class="p-1">선택</th>
                                        <th style="font-size: 0.85rem" class="p-1">등록일자</th>
                                        <th style="font-size: 0.85rem" class="p-1">제 목</th>
                                        <th style="font-size: 0.85rem" class="p-1">지출금액</th>
                                        <th style="font-size: 0.85rem" class="p-1">작성자</th>
                                        <th style="font-size: 0.85rem" class="p-1">결재</th>
                                        <th style="font-size: 0.85rem" class="p-1">승인</th>
                                      </tr>
                                    </thead>
                                    <tbody id="mainTb">
                                      <tr id="#mainTr" class="mainTr_tr">

                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                            </div>
                            <div class="col-lg-5 col-5">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="text-sm text-danger"><i class="far fa-edit me-2"></i>입/출금</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center bg-danger-soft p-1 bg-transparent" name="cboWitGbn" id="cboWitGbn" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="far fa-edit me-2"></i>제 목</label>
                                            <input readonly class="form-control text-start bg-transparent" type="text" id="txtTitle" name="txtTitle" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                        <div class="col-4 colCust">
                                            <label class="text-sm"><i class="far fa-edit me-2"></i>거래처</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center bg-danger-soft p-1 bg-transparent" name="cboWitCust" id="cboWitCust" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <label class="text-sm"><i class="far fa-calendar me-2"></i>등록 일자</label>
                                            <input readonly class="form-control text-center bg-transparent" type="date" id="txtWitRegDate" name="txtWitRegDate" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>관리계정</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center p-1 bg-transparent" name="cboAdminCode" id="cboAdminCode" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>예정일자</label>
                                            <input readonly class="form-control text-center bg-transparent" type="date" id="txtExDate" name="txtExDate" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                    </div>
                                    <div hidden class="row">
                                        <div  class="col-4">
                                            <input class="form-control text-end" type="number" id="txtWitSeq" name="txtWitSeq"/>
                                            <input class="form-control text-end" type="number" id="txtWitRecn" name="txtWitRecn"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>금액</label>
                                            <input readonly class="form-control text-end bg-transparent" type="text" id="txtWitPrice" name="txtWitPrice" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                        <div class="col-4 colAct">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>계좌번호</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center p-1 bg-transparent" name="cboWitActNum" id="cboWitActNum" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>결제방법</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center p-1 bg-transparent" name="cboWitMethod" id="cboWitMethod" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 colCard">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>카드</label>
                                            <select readonly class="form-control border border-light rounded-1 text-center bg-transparent" name="cboWitCard" id="cboWitCard" style="height: 2rem; font-size: 0.8rem"></select>
                                        </div>
                                        <div class="col-8">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>내용</label>
                                            <input readonly class="form-control text-start bg-transparent" type="text" id="txtWitRemark" name="txtWitRemark" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                    </div>
                                    <div hidden class="row">
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>직원</label>
                                            <input class="form-control text-start bg-transparent" type="text" id="txtEmpNbr" name="txtEmpNbr" value="{{ request.session.userId }}" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>폴더</label>
                                            <input class="form-control text-start bg-transparent" type="text" id="txtFolder" name="txtFolder" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                        <div class="col-4">
                                            <label class="text-sm"><i class="fas fa-edit me-2"></i>행번</label>
                                            <input class="form-control text-start bg-transparent" type="text" id="txtSeqn" name="txtSeqn" style="height: 2rem; font-size: 0.8rem"/>
                                        </div>
                                    </div>
                                    <div class="row mt-5 mb-0 pb-0">
                                        <div class="col-9">
                                            <div class="table-responsive-sm overflow-auto m-0">
                                                <table class="table mb-0 align-items-center justify-content-center">
                                                    <tbody id="subTb">
                                                    <tr id="#subTr" class="subTr_tr">
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group text-end m-0">
                                            <a class="btn btn-success text-dark btn-sm" type="button" id="btnFileLook">파일 보기</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group buttonLine pt-0 mt-0">
                                    <div class="row p-0">
                                        <div class="col-9 text-start">
                                            <div class="d-flex">
                                                <button class="btn btn-sm btn-success me-4" id="btnApv" name="btnApv"><i class="fa fa-file-signature fs-6 pe-3"></i>결 재</button>
                                                <button class="btn btn-sm btn-instagram me-4" id="btnAbt" name="btnAbt"><i class="fa fa-file-signature fs-6 pe-3"></i>전 결</button>
                                                <button class="btn btn-sm btn-warning" id="btnReturn" name="btnReturn"><i class="fa fa-file-signature fs-6 pe-3"></i>반 려</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row p-0">
                                        <div class="col-9 text-start">
                                            <div class="form-group">
                                                <label class="mt-2 text-sm">반려 사유</label>
                                                <input class="form-control" id="txtReason" name="txtReason" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="table-responsive-sm overflow-auto mt-5">
                                    <table class="table mb-0 align-items-center justify-content-center">
                                      <tbody id="subTb">
                                        <tr id="#subTr" class="subTr_tr">
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DecisionModal" tabindex="-1" role="dialog" aria-labelledby="DecisionModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 30vw">
            <div class="modal-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-header bg-dark" style="height: 5vh">
                        <h6 class="text-white font-weight-bold mt-2"><i class="fas fa-credit-card fas-4 me-3"></i>결재 승인</h6>
                        <button class="btn btn-close border border-white"><i class="fas fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row px-4 py-2">
                                <div class="col-3 text-start">
                                    <button class="btn btn-sm btn-success" id="btnApv" name="btnApv"><i class="fa fa-file-signature fs-6 pe-3"></i>결 재</button>
                                </div>
                                <div class="col-3 text-start">
                                    <button class="btn btn-sm btn-instagram" id="btnAbt" name="btnAbt"><i class="fa fa-file-signature fs-6 pe-3"></i>전 결</button>
                                </div>
                                <div class="col-3 text-start">
                                    <button class="btn btn-sm btn-warning" id="btnReturn" name="btnReturn"><i class="fa fa-file-signature fs-6 pe-3"></i>반 려</button>
                                </div>
                            </div>
                            <div hidden class="row p-0">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">순번</label>
                                        <input class="form-control" id="modalSeq" name="modalSeq" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">직원코드</label>
                                        <input class="form-control" id="modalEmp" name="modalEmp" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">폴더</label>
                                        <input class="form-control" id="modalFolder" name="modalFolder" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                            </div>
                            <div hidden class="row p-0">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">날짜</label>
                                        <input class="form-control" id="modalDate" name="modalDate" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">총순번</label>
                                        <input class="form-control" id="modalSeqn" name="modalSeqn" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="text-sm">구분</label>
                                        <input class="form-control" id="modalIogb" name="modalIogb" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-12 text-start">
                                    <div class="form-group">
                                        <label class="mt-2 text-sm">반려 사유</label>
                                        <input class="form-control" id="modalReason" name="modalReason" type="text" style="height: 2rem; font-size: 0.85rem"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        //파일선택창에서 이미지 선택 후 확인 누르면 그 동시에 발생하는 파일이벤트
        $('#file').change(function(event) {
            var file = event.target.files[0]

            var reader = new FileReader(); //1

            reader.onload = function(e) {
                $('#itemimage').attr('src', e.target.result); //3
            }

            reader.readAsDataURL(file); //2
        });

        {# 파일 보기 버튼 클릭시 #}
        $(document).on('click', '#btnFileLook', function () {
            var ioDate = $("#txtWitRegDate").val();
            var acSeqn = $("#txtWitSeq").val();
            var acIogb = $("#cboWitGbn").val();
            var acCust = $("#cboWitCust").val();

            location.href = "{% url 'download_file' %}?ioDate=" + ioDate + "&acSeqn=" + acSeqn + "&acIogb=" + acIogb + "&acCust=" + acCust;
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.buttonLine').hide();
            var empNbr = document.getElementById('inputEmp').value
            var gbn = document.getElementById('inputGbn').value

            var now = new Date
            var ioDate = now

            let data = {'empNbr': empNbr, 'gbn': gbn, "ioDate": ioDate}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "approval_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    {# 순번, 입.출금구분, 날짜 #}
                    $("#mainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr' main_code='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkApv[]' name='chkApv[]' value='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>미승인</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'></td> " +
                            "</tr> ");
                    }
                }
            })

        });

        {# 구분 콤보박스 클릭시 #}
        $('#inputGbn').change(function () {

            var empNbr = document.getElementById('inputEmp').value
            var gbn = document.getElementById('inputGbn').value

            var sDate = document.getElementById('txtWitRegDate').value
            var ioDate = sDate.replace(/\-/g, '')

            let data = {'empNbr': empNbr, 'gbn': gbn, 'ioDate': ioDate}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "approval_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    var text = "";

                    $("#mainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        if(gbn == '2'){
                            text = '미승인'
                            $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr' main_code='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkApv[]' name='chkApv[]' value='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + text + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'></td> " +
                            "</tr> ");
                        }
                        if(gbn == '3'){
                            text = '승인'
                            $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr' main_code='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkApv[]' name='chkApv[]' value='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + text + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'></td> " +
                            "</tr> ");
                        }
                        if(gbn == '4'){
                            text = '미시행'
                            $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr' main_code='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkApv[]' name='chkApv[]' value='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + text + "</td> " +
                            "</tr> ");
                        }
                        if(gbn == '5'){
                            text = '시행'
                            $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr' main_code='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkApv[]' name='chkApv[]' value='" + list[i][0] + "," + list[i][5] + "," + list[i][6] + "," + list[i][3] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + text + "</td> " +
                            "</tr> ");
                        }

                    }
                }
            })

        });

        {# 테이블 로우 클릭 시 #}
        $(document).on('click', '#mainTb .mainTr_tr', function () {

            var cboWitCust2 = "";
            var cboWitGbn = "";
            var cboAdminCode = "";
            var cboWitMethod = "";
            var cboWitActNum = "";
            var cboWitCustTxt = "";
            var cboWitGbnTxt = "";
            var cboAdminCodeTxt = "";
            var cboWitMethodTxt = "";
            var cboWitActNumTxt = "";

            $("#cboWitCust").html("");
            $("#cboWitGbn").html("");
            $("#cboAdminCode").html("");
            $("#cboWitMethod").html("");
            $("#cboWitActNum").html("");
            $("#txtWitRegDate").val("");
            $("#txtWitSeq").val("");
            $("#txtWitPrice").val("");
            $("#txtWitRemark").val("");
            $("#txtFolder").val("");
            $("#txtSeqn").val("");


            let serials = $(this).attr('main_code');
            var split = serials.split(',');
            var ioDate = split[0]
            var acSeqn = split[1]
            var acIogb = split[2]

            let data = {'ioDate': ioDate, 'acSeqn': acSeqn, 'acIogb': acIogb}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "approval_sub_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.subList;
                    var list2 = data.mainList;

                    $('.buttonLine').show();

                    for (var i = 0; i < list2.length; i++) {
                        $("#txtWitSeq").val(list2[i][11])
                        $("#txtWitRegDate").val(list2[i][3].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtExDate").val(list2[i][5].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtWitPrice").val(addComma(list2[i][6]))
                        $("#txtWitRemark").val(list2[i][10])
                        $("#txtTitle").val(list2[i][1])
                        $("#txtFolder").val(list2[i][12])
                        $("#txtSeqn").val(list2[i][13])
                        cboWitCust2 = list2[i][2];
                        cboWitGbn = list2[i][0];
                        cboWitMethod = list2[i][8];
                        cboAdminCode = list2[i][4];
                        cboWitActNum = list2[i][7];
                    }

                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboWitCust2) {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboWitGbn) {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboWitMethod) {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboMCode;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboAdminCode) {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist5 = data.cboAcnumber;
                    for (var i = 0; i < combolist5.length; i++) {
                        if (combolist5[i][0] == cboWitActNum) {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "' selected>" + combolist5[i][0] + "</option>";
                        }
                    }

                    $("#cboWitCust").append(cboWitCustTxt);
                    $("#cboWitGbn").append(cboWitGbnTxt);
                    $("#cboWitMethod").append(cboWitMethodTxt);
                    $("#cboAdminCode").append(cboAdminCodeTxt);
                    $("#cboWitActNum").append(cboWitActNumTxt);

                    var empCode = document.getElementById('empCode').value

                    $("#subTb").html("");
                    $("#subTb").append("<tr id='#subTr' class='subTr_tr'>" + "</tr> ");
                    for (var i = 0; i < list.length; i++) {
                        if(empCode == list[i][1]){
                            $("#subTb").append(
                                "<td class='text-center rounded-2 border border-warning border-2 bg-light font-weight-bolder text-dark p-2' style='font-size: 0.85rem'>" + list[i][0] + "." + list[i][2] + "</td> ");
                        }
                        else{
                            $("#subTb").append(
                                "<td class='text-center rounded-2 border border-warning border-2 bg-white font-weight-bolder text-dark p-2' style='font-size: 0.85rem'>" + list[i][0] + "." + list[i][2] + "</td> ");
                        }

                    }
                    $("#subTb").append("<tr id='#subTr' class='subTr_tr'>" + "</tr> ");
                    for (var i = 0; i < list.length; i++) {
                        $("#subTb").append(
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td> ");
                    }


                    if (cboWitMethod == '1') {
                        $('.colCust').hide();
                        $('.colAct').hide();
                        $('.colCard').hide();
                    } else if (cboWitMethod == '2') {
                        $('.colCust').show();
                        $('.colAct').hide();
                        $('.colCard').hide();
                    } else if (cboWitMethod == '3') {
                        $('.colCust').hide();
                        $('.colAct').show();
                        $('.colCard').show();
                    } else if (cboWitMethod == '4') {
                        $('.colCust').hide();
                        $('.colAct').show();
                        $('.colCard').show();
                    }

                }
            })
        });

    </script>

    <script>
        $(document).on('click', '#btnChoice', function () {

            $("#modalSeq").val("");
            $("#modalEmp").val("");
            $("#modalFolder").val("");

            {#let serials = $(this).attr('sub_code');#}
            {#var split = serials.split(',');#}
            var seq = document.getElementById('txtWitSeq').value
            var empNbr = document.getElementById('txtEmpNbr').value
            var folder = document.getElementById('txtFolder').value
            var acDate = document.getElementById('txtWitRegDate').value
            var acSeqn = document.getElementById('txtSeqn').value
            var acIogb = document.getElementById('cboWitGbn').value

            document.getElementById('modalSeq').value = seq
            document.getElementById('modalEmp').value = empNbr
            document.getElementById('modalFolder').value = folder
            document.getElementById('modalDate').value = acDate
            document.getElementById('modalSeqn').value = acSeqn
            document.getElementById('modalIogb').value = acIogb

            $('#DecisionModal').show();
        });

        {# 결재 버튼 클릭시 #}
        $(document).on('click', '#btnApv', function () {

            var seq = document.getElementById('txtWitSeq').value
            var empNbr = document.getElementById('txtEmpNbr').value
            var folder = document.getElementById('txtFolder').value
            var reason = document.getElementById('txtReason').value
            var ioDate = document.getElementById('txtWitRegDate').value
            var acSeqn = document.getElementById('txtSeqn').value
            var acIogb = document.getElementById('cboWitGbn').value
            var gbn = '1'

            var saveresult = confirm("결재하시겠습니까?")

            if(saveresult == true){
                $.ajax({
                    type: "post",
                    data: {
                        'seq': seq,
                        'empNbr': empNbr,
                        'folder': folder,
                        'reason': reason,
                        'ioDate': ioDate,
                        'acSeqn': acSeqn,
                        'acIogb': acIogb,
                        'gbn': gbn
                    },
                    dataType: "json",
                    url: '{% url "approval_reg_save" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.sucYn === 'Y') {
                            alert('결재 되었습니다.')
                            location.href = "{% url 'approval_reg' %}";
                        }
                    }
                });
            }
            if(saveresult == false){}


            {# 선택된 특정위치에 이미지를 뿌려줘야함. #}
            {#$("#subTb").append(#}
            {#    "<td class='border border-end border-light' style='height: 5vh'><img src='folder' width='100%' height='100%'/></td> ");#}

        });

        {# 전결 버튼 클릭시 #}
        $(document).on('click', '#btnAbt', function () {

            var seq = document.getElementById('txtWitSeq').value
            var empNbr = document.getElementById('txtEmpNbr').value
            var folder = document.getElementById('txtFolder').value
            var reason = document.getElementById('txtReason').value
            var ioDate = document.getElementById('txtWitRegDate').value
            var acSeqn = document.getElementById('txtSeqn').value
            var acIogb = document.getElementById('cboWitGbn').value
            var gbn = '2'

            var saveresult = confirm("전결하시겠습니까?")

            if(saveresult == true){

                $.ajax({
                    type: "post",
                    data: {
                        'seq': seq,
                        'empNbr': empNbr,
                        'folder': folder,
                        'reason': reason,
                        'ioDate': ioDate,
                        'acSeqn': acSeqn,
                        'acIogb': acIogb,
                        'gbn': gbn
                    },
                    dataType: "json",
                    url: '{% url "approval_reg_save" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.sucYn === 'Y') {
                            alert('전결 되었습니다.')
                            location.href = "{% url 'approval_reg' %}";
                        }
                    }
                });
            }
            if(saveresult == false){}

        });

        {# 반려 버튼 클릭시 #}
        $(document).on('click', '#btnReturn', function () {

            var seq = document.getElementById('txtWitSeq').value
            var empNbr = document.getElementById('txtEmpNbr').value
            var folder = document.getElementById('txtFolder').value
            var reason = document.getElementById('txtReason').value
            var ioDate = document.getElementById('txtWitRegDate').value
            var acSeqn = document.getElementById('txtSeqn').value
            var acIogb = document.getElementById('cboWitGbn').value
            var gbn = '3'

            if(reason == ''){
                alert('반려사유를 입력해주세요.')
                return false
            }
            var saveresult = confirm("반려하시겠습니까?")

            if(saveresult == true){
                $.ajax({
                    type: "post",
                    data: {
                        'seq': seq,
                        'empNbr': empNbr,
                        'folder': folder,
                        'reason': reason,
                        'ioDate': ioDate,
                        'acSeqn': acSeqn,
                        'acIogb': acIogb,
                        'gbn': gbn
                    },
                    dataType: "json",
                    url: '{% url "approval_reg_save" %}',
                    headers: {
                        'X-CSRFTOKEN': '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.sucYn === 'Y') {
                            alert('반려 되었습니다.')
                            location.href = "{% url 'approval_reg' %}";
                        }
                    }
                });
            }
            if(saveresult == false){}

        });
    </script>
{% endblock %}
{#    $("#subTb").append("<tr id='#subTr' class='subTr_tr'>" + "</tr> ");#}
{#    for (var i = 0; i < list.length; i++) {#}
{#        $("#subTb").append(#}
{#            "<td class='border' sub_code='" + list[i][0] + "," + list[i][1] + "," + list[i][3] + "," + list[i][4] + "," + list[i][5] + "," + list[i][6] + "' id='btnChoice' data-bs-toggle='modal' data-bs-target='#DecisionModal' style='height: 5vh'></td> ");#}
{#    }#}
