{% extends "layouts/base.html" %}

{% block title %} cash - 현금 시내 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
    <form method="post" action="{% url 'cashBalacne_save' %}" name="frm">
{#    <form method="post">#}
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="mx-2 mb-3 d-md-flex align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h3 class="mb-0 font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>현금 시재 관리</h3>
                    </div>
                    <button type="button" class="mb-0 mb-2 btn btn-white btn-icon d-flex align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                      <span class="btn-inner--icon">
                          <i class="fas fa-search me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">조회</span>
                    </button>
                    <button type="button" class="mb-0 btn btn-success btn-icon d-flex align-items-center me-2" id="btnSave" name="btnSave">
                      <span class="btn-inner--icon">
                          <i class="fas fa-plus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">저장</span>
                    </button>
                    <button type="submit" class="mb-0 btn btn-dark btn-icon d-flex align-items-center" id="btnDlt" name="btnDlt">
                      <span class="btn-inner--icon">
                          <i class="fas fa-minus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">삭제</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="p-3 col-lg-3 mt-lg-0">
                        <div class="input-group">
                            <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>은행명</label>
                            </span>
                            <select class="form-control border border-light rounded-1 text-center" name="cbobankType" id="cbobankType" style="font-size: 0.85rem">
                            </select>
                        </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="3%">
                                <col width="10%">
                                <col width="12%">
                                <col width="10%">
                                <col width="8%">
                                <col width="10%">
                                <col width="15%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-semibold opacity-7 p-2">선택</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">은행명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계좌명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계좌번호</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">기준일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">금액</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">비 고</th>
                            </tr>
                          </thead>
                          <tbody id="acTable">
                            <tr id="acTr" class="acTr_tr">
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-4 col-md-6 mb-md-0">
                <div class="card shadow-xs border h-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>은행명</label>
                                <select class="form-control border border-light rounded-1 text-center" name="cbobankType2" id="cbobankType2"></select>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>계좌번호</label>
                                <select class="form-control border border-light rounded-1 text-center" name="cboActNum" id="cboActNum"></select>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-info text-sm"></i>계좌명</label>
                                <input class="form-control" type="text" id="txtActName" name="txtActName"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-sm"></i>기준 일자</label>
                                <input class="form-control" type="date" id="txtRegDate" name="txtRegDate"/>
                            </div>
                            <div class="col-6">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-sm"></i>금 액</label>
                                <input class="form-control" type="number" value="0" id="txtAmount" name="txtAmount"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-sm"></i>비 고</label>
                                <input class="form-control" type="text" id="txtBigo" name="txtBigo"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var bankType = "";
            var bankTypeTxt = "<option value=''>:: 전체 ::</option>";
            $("#cbobankType").html("");
            $("#cbobankType2").html("");

            $.ajax({
                type: "post",
                url: '{% url "cashBalacne_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.acList;
                    $("#acTable").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#acTable").append(
                            "<tr id='#acTr'>" +
                            "<td class='text-center p-1'><input type='checkbox' id='AcSelect[]' name='AcSelect[]' value='" + list[i][0] + ", " + list[i][3] + ", " + list[i][4] + "'></td>" +
                            "<td hidden class='text-center p-1' id='bankCode_" + i + "' name='bankCode'>" + list[i][0] + "</td> " +
                            "<td class='text-center p-1' style='color: black' id='bankName_" + i + "' name='bankName'>" + list[i][1] + "</td> " +
                            "<td class='text-center p-1' id='acName_" + i + "' name='acName'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' id='acNum_" + i + "' name='acNum'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' id='acDate_" + i + "' name='acDate'>" + list[i][4] + "</td> " +
                            "<td class='text-end p-1' id='acAmts" + i + "' name='acAmts'>" + list[i][5] + "</td> " +
                            "<td class='text-center p-1' id='acDesc_" + i + "' name='acDesc'>" + list[i][6] + "</td> " +
                            "</tr> ");
                    }

                    var combolist = data.bankCombo;

                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == bankType) {
                            bankTypeTxt = bankTypeTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            bankTypeTxt = bankTypeTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }
                    $("#cbobankType").append(bankTypeTxt);
                    $("#cbobankType2").append(bankTypeTxt);

                }
            })
        });


        $("#btnSearch").on('click', function () {
            var bankCode = document.getElementById('cbobankType').value
            var data = {'bankCode': bankCode}



            $.ajax({
                type: "post",
                url: '{% url "cashBalance_search_scnd" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.acListScnd;
                    $("#acTable").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#acTable").append(
                            "<tr id='#acTr'>" +
                            "<td class='text-center p-1'><input type='checkbox' id='AcSelect[]' name='AcSelect[]' value='" + list[i][0] + ", " + list[i][3] + ", " + list[i][4] + "'></td>" +
                            "<td hidden class='text-center p-1' id='bankCode_" + i + "' name='bankCode'>" + list[i][0] + "</td> " +
                            "<td class='text-center p-1' style='color: black' id='bankName_" + i + "' name='bankName'>" + list[i][1] + "</td> " +
                            "<td class='text-center p-1' id='acName_" + i + "' name='acName'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' id='acNum_" + i + "' name='acNum'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' id='acDate_" + i + "' name='acDate'>" + list[i][4] + "</td> " +
                            "<td class='text-end p-1' id='acAmts" + i + "' name='acAmts'>" + list[i][5] + "</td> " +
                            "<td class='text-center p-1' id='acDesc_" + i + "' name='acDesc'>" + list[i][6] + "</td> " +
                            "</tr> ");
                    }
                }
            })
        });
        {#콤보박스 선택 시 이벤트#}
        $(document).on('change', "#cbobankType2", function () {

            var bankCode = $("#cbobankType2").val()
            var AcNumberTxt = "<option value=''>:: 전체 ::</option>";

            var data = {"bankCode":bankCode}
            $("#cboActNum").html("");

            $.ajax({
                type: "post",
                url: '{% url "cashBalance_acnum_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var acnumlist = data.acnumlist;
                    for (var i = 0; i < acnumlist.length; i++) {
                        AcNumberTxt = AcNumberTxt + "<option value='" + acnumlist[i][0] + "," + acnumlist[i][2] + "'>" + acnumlist[i][2] + "</option>";
                        {#AcNumberTxt = AcNumberTxt + "<option value='" + acnumlist[i][0] + "' selected>" + acnumlist[i][3] + "</option>";#}
                    }
                    $("#cboActNum").append(AcNumberTxt);

                }
            })
        });


        {#계좌번호 선택시 계좌명에 바인딩#}
        $(document).on('change', "#cboActNum", function (e) {
            $("#txtActName").html("");
            var acnumcodeval = document.getElementById('cboActNum')
            var acnumcode = acnumcodeval.options[acnumcodeval.selectedIndex].text

            var data = {"acnumcode":acnumcode}

            $.ajax({
                type: "post",
                url: '{% url "cashBalance_acname_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var acnamelist = data.acnamelist;
                    var acname =  acnamelist[0][0]


                    $("#txtActName").val(acname);
                }
            })

        });



        $(document).on('click', '#acTable tr', function () {

            var bankcode = $(this).children().eq(1).text()
            var acnum = $(this).children().eq(4).text()
            var acname = $(this).children().eq(3).text()
            var regdate = $(this).children().eq(5).text()
            var amount = $(this).children().eq(6).text()
            var remark = $(this).children().eq(7).text()

            var YYYY = regdate.substring(0, 4)
            var MM = regdate.substr(4, 2)
            var DD = regdate.substr(6, 2)
            var Rregdate = YYYY + '-' + MM + '-' + DD

            $("#txtActName").html(acname)
            $("#cbobankType2").val(bankcode)
            $("#cboActNum").html("")
            $("#cboActNum").append("<option value='" + acnum + "'>" + acnum + "</option>");
            $("#txtActName").val(acname)
            $("#txtRegDate").val(Rregdate)
            $("#txtAmount").val(amount)
            $("#txtBigo").val(remark)


        });

        $("#btnSave").on('click', function () {

            var bankcode = $("#cbobankType2").val()
            var acname = $("#txtActName").val()

            if(bankcode == '' || acname == '')
            {
                alert("은행명을 선택 해 주세요.")
                return false
            }
            else
            {
                $('form').submit();
            }

        });


    </script>
{% endblock %}