{% extends "layouts/base.html" %}

{% block title %} customers-ledger-report : 거래처원장 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!--<div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>-->
    <div class="px-5 py-4 container-fluid">
        <div class="row mt-n1">
            <div class="col-lg-1 col-1"></div>
            <div class="col-lg-10 col-10">
                <div class="card border border-5 border-white rounded-2 shadow-none bg-dark mx-3 rounded-3">
                    <div class="card-body">
                        <h4 class="mb-0 text-white font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>거래처 원장</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>
        <!--<div class="row">
            <div class="col-lg-6 col-6"></div>
            <div class="col-lg-5 col-5 end-0">
                <div class="nav-wrapper mt-3 position-relative start-40 max-width-500 mx-3 bg-light rounded-2">
                    <ul class="nav nav-pills nav-pills-lg nav-fill bg-light border-0" role="tablist">
                      <li class="nav-item rounded-1">
                        <a class="nav-link mb-0 px-0 active p-1" style="font-size: 1rem" data-bs-toggle="tab" href="#byItem" role="tab" aria-controls="byItem" aria-selected="true">
                          품목별
                        </a>
                      </li>
                      <li class="nav-item rounded-1">
                        <a class="nav-link mb-0 px-0 p-1" style="font-size: 1rem" data-bs-toggle="tab" href="#byCust" role="tab" aria-controls="byCust" aria-selected="false">
                          거래처별
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 col-1"></div>
        </div>-->
      <div class="row mt-4">
          <div class="col-lg-1 col-1"></div>
          <div class="col-lg-10 col-10">
            <div class="container-fluid">
                  <div class="tab-content tab-space">
                        <div class="tab-pane active" id="byItem">
                            <div class="border shadow-xs card" style="height: 75vh">
                                <div class="p-1 card-header border-bottom" style="height: 8vh">
                                    <div class="row p-2">
                                        <div class="col-lg-3 col-3 ms-2">
                                            <div class="input-group shadow-none">
                                                <label class="mt-2 me-3" for="inputYear" style="font-size: 1rem"><i class="ni ni-building pe-3"></i>거래처</label>
                                                <select class="border border-light rounded-1 text-center me-3" style="min-width: 10vw" name="inputCust" id="inputCust"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <div class="input-group shadow-none">
                                                <label class="mt-2 me-3" for="strDate" style="font-size: 1rem"><i class="ni ni-calendar-grid-58 pe-3"></i>일자</label>
                                                <input class="form-control border border-light rounded-1 text-center me-3" style="max-width: 8vw" type="date" name="strDate" id="strDate">
                                                <label class="mt-2 me-3" for="endDate" style="font-size: 1rem">-</label>
                                                <input class="form-control border border-light rounded-1 text-center me-3" style="max-width: 8vw" type="date" name="endDate" id="endDate">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-2 text-start">
                                            <button type="button" class="btn bg-gradient-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                                        </div>
                                        <div class="col-lg-3 col-3"></div>
                                    </div>
                                </div>
                                <div class="px-0 py-0 card-body">
                                    <div class="p-2 pe-3 ps-3 table-responsive-sm overflow-auto" style="height: 59vh; width: 75vw">
                                        <table class="table mb-0 align-items-center justify-content-center p-2" style="max-height: 56vh; width: 100%">
                                            <colgroup>
                                                <col width="8%">
                                                <col width="10%">
                                                <col width="15%">
                                                <col width="20%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="20%">
                                            </colgroup>
                                          <thead class="border border-dark border-top border-start-0 border-end-0 border-bottom border-3" style="position: sticky; top: 0">
                                            <tr>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">일자</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">구분</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">항목</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">품목</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">수량</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6;" class="text-dark text-center border border-dark font-weight-semibold p-2">단가</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6" class="text-dark text-center border border-dark font-weight-semibold p-2">금액</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6" class="text-dark text-center border border-dark font-weight-semibold p-2">부가세액</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6" class="text-dark text-center border border-dark font-weight-semibold p-2">잔액</th>
                                              <th style="font-size: 1rem; background-color: #e4dbf6" class="text-dark text-center border border-dark font-weight-semibold p-2">비고</th>
                                            </tr>
                                          </thead>
                                          <tbody id="mainTb">
                                            <tr id="mainTr" class="mainTr_tr">

                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="bottom-0" style="height: 3vh; width: 100%;">
                                            <colgroup>
                                                <col width="8%">
                                                <col width="10%">
                                                <col width="15%">
                                                <col width="20%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="6%">
                                                <col width="20%">
                                            </colgroup>
                                            <tbody style="background-color: #c9dae1" id="totalTb">
                                            <tr id="totalTr" class="totalTr_tr"></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="tab-pane" id="byCust">
                          <div class="border shadow-xs card" style="height: 65vh">
                                <div class="pb-0 pt-0 card-header border-bottom" style="height: 5vh">
                                </div>
                                <div class="px-0 py-0 card-body">
                                </div>
                         </div>
                      </div>
                  </div>
            </div>
          </div>
      </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            var totalQty = 0;
            var totalDanga = 0;
            var totalPrc = 0;
            var totalVat = 0;
            var totalBal = 0;
            var inputCust = "";
            var inputCustTxt = "<option value=''>:: 선택 ::</option>";

            $("#inputCust").html("");

            document.getElementById('strDate').valueAsDate = new Date
            document.getElementById('endDate').valueAsDate = new Date

            var strDate = document.getElementById('strDate').value;
            var eDate = document.getElementById('endDate').value;

            var startDate = strDate.replace(/\-/g, '')
            var endDate = eDate.replace(/\-/g, '')
            var custCode = '';

            let data = {'startDate': startDate, "endDate": endDate, 'custCode': custCode}

            $.ajax({
                type: "post",
                url: '{% url "custLedger_report_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    $("#mainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][8] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "</tr> ");

                        totalQty += list[i][4];
                        totalDanga += list[i][5];
                        totalPrc += list[i][6];
                        totalVat += list[i][7];
                        totalBal += list[i][8];
                    }

                    $("#subTb").append(
                        "<tr id='#subTr' class='subTr_tr'>" +
                        "<td class='text-center p-1' style='font-size: 0.85rem' rowspan='4'>합 계</td>" +
                        "<td class='text-end p-1' style='font-size: 0.85rem'>" + totalQty + "</td> " +
                        "<td class='text-end p-1' style='font-size: 0.85rem'>" + totalDanga + "</td> " +
                        "<td class='text-end p-1' style='font-size: 0.85rem'>" + totalPrc + "</td> " +
                        "<td class='text-end p-1' style='font-size: 0.85rem'>" + totalVat + "</td> " +
                        "<td class='text-end p-1' style='font-size: 0.85rem'>" + totalBal + "</td> " +
                        "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                        "</tr> ");

                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == inputCust) {
                            inputCustTxt = inputCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            inputCustTxt = inputCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    $("#inputCust").append(inputCustTxt);
                }
            })

        });
    </script>

{% endblock %}