{% extends "layouts/base.html" %}

{% block title %} depositWithdrawal - 입금등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-xxl py-3 my-3">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body">
                        <h3 class="mb-0 text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>입금 등록</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-4 container-fluid">
        <div class="my-4 row">
            <div class="mb-4 col-lg-1 col-1 mb-md-0"></div>
            <div class="mb-4 col-lg-3 col-md-5 mb-md-0">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom" style="height: 8vh">
                      <div class="row">
                          <div class="p-3 col-lg-6 mt-lg-0">
                            <div class="input-group">
                                <input class="form-control border border-light rounded-1 text-center me-2" type="text" maxlength="4" name="inputYear" id="inputYear">
                                <label class="mt-2 me-4" style="font-size: 1rem">년</label>
                                <input class="form-control border border-light rounded-1 text-center me-2" type="text" maxlength="2" name="inputMonth" id="inputMonth">
                                <label class="mt-2" style="font-size: 1rem">월</label>
                            </div>
                          </div>
                          <div class="p-3 col-lg-6 mt-lg-0 text-end">
                               <button type="button" class="btn bg-gradient-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive-sm">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="8%">
                                <col width="10%">
                            </colgroup>
                          <thead class="bg-success-soft">
                            <tr>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">금액</th>
                            </tr>
                          </thead>
                          <tbody id="depositMainTb">
                            <tr id="depositMainTr" class="depositMainTr_tr">

                            </tr>
                            <tr class="bg-light">
                                <td class="text-end p-1" style="font-size: 0.85rem">합계</td>
                                <td class="text-end p-1" style="font-size: 0.85rem">0</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom" style="height: 8vh">
                        <div class="row">
                          <div class="p-3 col-lg-4 mt-lg-0"></div>
                          <div class="p-3 col-lg-8 mt-lg-0 text-end">
                              <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" id="btnAdd" name="btnAdd"
                                      data-bs-target="#exampleModal"><i class="fas fa-plus me-2"></i>추가</button>
                              <!--<button type="button" class="btn bg-gradient-success" data-bs-toggle="modal"
                                      data-bs-target="#buyModal"><i class="fas fa-diamond me-2"></i>수정</button>-->
                              <!--<button type="button" class="btn bg-gradient-warning" id="btnDlt" name="btnDlt">
                                  <i class="fas fa-minus me-2"></i>삭제</button>-->
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive-sm">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="10%">
                                <col width="15%">
                                <col width="10%">
                                <col width="8%">
                                <col width="8%">
                                <col width="6%">
                                <col width="20%">
                                <col width="6%">
                                <col width="6%">
                            </colgroup>
                          <thead class="bg-danger-soft">
                            <tr>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">거래처명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계정 과목</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">결재 방법</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">금 액</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">발행 은행</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">어음 번호</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">만기 일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2"></th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2"></th>
                            </tr>
                          </thead>
                          <tbody id="depositSubTb">
                            <tr id="depositSubTr" class="depositSubTr_tr">

                            </tr>
                          <tr class="bg-light">
                              <td class="text-end p-1" style="font-size: 0.85rem" colspan="2">합계</td>
                              <td class="text-end p-1" style="font-size: 0.85rem" colspan="8">0</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-1 col-1 mb-md-0"></div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 80vw">
        <div class="modal-content">
          <div class="modal-header bg-gradient-info">
            <h4 class="modal-title text-white font-weight-bolder" id="exampleModalLabel"><i class="fas fa-credit-card me-3"></i>입금 등록</h4>
            <button type="button" class="btn-close text-lg text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'deposit_reg_save' %}">
                  <div class="row">
                      <div class="col-8">
                          <div class="card card-plain p-5">
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6 text-danger"><i class="far fa-edit me-2"></i>거래처</label>
                                      <select class="form-control border border-light rounded-1 text-center bg-danger-soft" name="cboDepCust" id="cboDepCust"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-calendar me-2"></i>등록 일자</label>
                                      <input class="form-control text-center" type="date" id="txtDepRegDate" name="txtDepRegDate"/>
                                  </div>
                                  <div class="col-4">
                                      <input hidden class="form-control text-center" type="number" id="txtDepSeq" name="txtDepSeq"/>
                                      <input hidden class="form-control text-center" type="number" id="txtDepRecn" name="txtDepRecn"/>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>구분</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboDepGbn" id="cboDepGbn"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>계정과목</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboDepCode" id="cboDepCode"></select>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2"></i>금액</label>
                                      <input class="form-control text-end" type="number" id="txtDepPrice" name="txtDepPrice"/>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>계좌번호</label>
                                      <input class="form-control border border-light rounded-1 text-center" name="cboDepActNum" id="cboDepActNum">
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-edit me-2"></i>결제방법</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboDepMethod" id="cboDepMethod"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6 font-weight-bolder me-4"><i class="fas fa-edit me-2"></i>처리</label>
                                      <input type="radio" id="txtDeal" name="depEmpCount" checked value="0"/>
                                      <label class="mt-4 h6 text-info me-4">현금</label>
                                      <input type="radio" id="txtDeal" name="depEmpCount" value="1"/>
                                      <label class="mt-4 h6 text-danger">계산서</label>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-box me-2"></i>발행처</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboDepIssueCust" id="cboDepIssueCust"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>어음번호</label>
                                      <input class="form-control text-end" type="text" id="txtDepCashNum" name="txtDepCashNum"/>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>만기일자</label>
                                      <input class="form-control text-center" type="date" id="txtDepDeadline" name="txtDepDeadline"/>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-8">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>비고</label>
                                      <input class="form-control text-start" type="text" id="txtDepRemark" name="txtDepRemark"/>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="card card-plain p-3">
                              <h5><i class="fas fa-list me-3"></i>매출 리스트</h5>
                             <div class="table-responsive-sm border border-light height-600 mt-2">
                                <table class="table mb-0 align-items-center justify-content-center">
                                    <colgroup>
                                        <col width="2%">
                                        <col width="8%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="8%">
                                        <col width="8%">
                                    </colgroup>
                                  <thead class="bg-success-soft">
                                    <tr>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2"></th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">일자</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">매입처</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">품목</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">합계</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">잔액</th>
                                    </tr>
                                  </thead>
                                  <tbody id="modalBuyTb">
                                    <tr id="modalBuyTr" class="modalBuyTr_tr">

                                    </tr>
                                  </tbody>
                                </table>
                             </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="m-1 btn btn-primary text-lg" id="btnSave" name="btnSave">저 장</button>
            <button type="button" class="m-1 btn btn-secondary text-lg" data-bs-dismiss="modal">닫 기</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {
            date = new Date();
            var year = date.getFullYear();
            var month = date.getMonth();

            document.getElementById("inputYear").value = year;
            document.getElementById("inputMonth").value = month;

            let data = {"inputYear": year, "inputyear": year}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "deposit_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    $("#depositMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#depositMainTb").append(
                            "<tr id='#depositMainTr' class='depositMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {

            var year = document.getElementById("inputYear").value;
            var month = document.getElementById("inputMonth").value;

            if (year <= 0 || year == '') {
                alert('년을 입력 해 주세요.')
                return false
            }
            if (month > 12 || month <= 0 || month == '') {
                alert('월을 다시 확인 해 주세요.')
                return false
            }

            if (month < 10){
                month = 0 + month
            }

            let data = {"inputYear": year, "inputMonth":  month}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "deposit_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    $("#depositMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#depositMainTb").append(
                            "<tr id='#depositMainTr' class='depositMainTr_tr' main_code='" + list[i][0] + "'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

        {# 테이블 로우 클릭 시 #}
        $(document).on('click', '#depositMainTb .depositMainTr_tr', function () {

            let date = $(this).attr('main_code');
            {#var year = date.substring(0, 4)#}
            {#var month = date.substring(4, 6)#}

            let data = {'date': date}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "deposit_reg_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.subList;
                    $("#depositSubTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#depositSubTb").append(
                            "<tr id='#depositSubTr' class='depositSubTr_tr'>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][11] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><button type='button' class='btn btn-success btn-sm m-0' data-bs-toggle='modal' data-bs-target='#exampleModal' id='btnEdit' name='btnEdit' main_code='" + list[i][11] + "," + list[i][0] + "," + list[i][1] + "' ><i class='fas fa-diamond me-2'></i>수정</button></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><button type='button' class='btn btn-warning btn-sm m-0' id='btnDlt' name='btnDlt' value='" + list[i][11] + "," + list[i][0] + "," + list[i][1] + "'><i class='fas fa-minus me-2'></i>삭제</button></td> " +
                            "</tr> ");
                    }

                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            $('form').submit();

        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkDep[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkDep[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "deposit_reg_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'deposit_reg' %}";
                        }

                    });
            } else {

            }
        });

        {# 추가 버튼 #}
        $(document).on('click', "#btnAdd", function () {

            var cboCust2 = "";
            var cboDepGbn = "";
            var cboDepCode = "";
            var cboDepMethod = "";
            var cboDepIssueCust = "";
            var cboCustTxt = "";
            var cboDepGbnTxt = "";
            var cboDepCodeTxt = "";
            var cboDepMethodTxt = "<option value=''>:: 전체 ::</option>";
            var cboDepIssueCustTxt = "";

            $("#cboDepCust").html("");
            $("#cboDepGbn").html("");
            $("#cboDepCode").html("");
            $("#cboDepMethod").html("");
            $("#cboDepIssueCust").html("");

            var year = document.getElementById("inputYear").value;
            var month = document.getElementById("inputMonth").value;
            var custCode = document.getElementById("cboDepCust").value;

            if (month < 10) {
                month = 0 + month
            }

            let data = {"inputYear": year, "inputMonth": month, 'custCode': custCode}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "deposit_reg_out" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.modalList;

                    $("#modalBuyTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#modalBuyTb").append(
                            "<tr id='#modalBuyTr' class='modalBuyTr_tr' main_code='" + list[i][0] + "," + list[i][1] + "," + list[i][5] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkBuy[]' name='chkBuy[]' value='" + list[i][0] + "," + list[i][1] + "," + list[i][2] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "</tr> ");
                    }

                    var combolist = data.cboCust;
                    console.log(combolist)
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboCust2) {
                            cboCustTxt = cboCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            cboCustTxt = cboCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboDepGbn) {
                            cboDepGbnTxt = cboDepGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboDepGbnTxt = cboDepGbnTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    console.log(combolist3)
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboDepMethod) {
                            cboDepMethodTxt = cboDepMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboDepMethodTxt = cboDepMethodTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    $("#cboDepCust").append(cboCustTxt);
                    $("#cboDepGbn").append(cboDepGbnTxt);
                    $("#cboDepMethod").append(cboDepMethodTxt);
                }
            })

            $('#exampleModal').show();

        });

        {# 수정 버튼 #}
        $(document).on('click', "#btnEdit", function () {
            var cboCust2 = "";
            var cboDepGbn = "";
            var cboDepCode = "";
            var cboDepMethod = "";
            var cboDepIssueCust = "";
            var cboCustTxt = "";
            var cboDepGbnTxt = "";
            var cboDepCodeTxt = "";
            var cboDepMethodTxt = "<option value=''>:: 전체 ::</option>";
            var cboDepIssueCustTxt = "";

            $("#cboDepCust").html("");
            $("#cboDepGbn").html("");
            $("#cboDepCode").html("");
            $("#cboDepMethod").html("");
            $("#cboDepIssueCust").html("");

            let serials = $(this).attr('main_code');
            var split = serials.split(',');
            var custCode = split[2]
            var seq = split[1]
            var date = split[0]

            let data = {"custCode": custCode, "seq": seq, "date": date}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "deposit_reg_out" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list2 = data.modalform;

                    for (var i = 0; i < list2.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list2[i][j]);
                        }
                        $("#txtDepSeq").val(list2[i][1])
                        $("#txtDepRecn").val(list2[i][2])
                        $("#txtDepRegDate").val(list2[i][0].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtDepPrice").val(list2[i][7])
                        {#$("#depEmpCount").val(list2[i][4])#}
                        {#$("#txtDepCashNum").val(list2[i][5])#}
                        {#$("#txtDepDeadline").val(list2[i][6].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))#}
                        $("#txtDepRemark").val(list2[i][12])
                        cboCust2 = list2[i][4];
                        cboDepGbn = list2[i][3];
                        cboDepCode = list2[i][11];
                        cboDepMethod = list2[i][9];
                        {#cboDepIssueCust = list2[i][10];#}
                    }

                    {##}
                    {#$("#modalBuyTb").html("");#}
                    {#for (var i = 0; i < list.length; i++) {#}
                    {#    $("#modalBuyTb").append(#}
                    {#        "<tr id='#modalBuyTr' class='modalBuyTr_tr'>" +#}
                    {#        "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkBuy[]' name='chkBuy[]' value='" + list[i][0] + "," + list[i][1] + "," + list[i][2] + "'/></div></td>" +#}
                    {#        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +#}
                    {#        "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +#}
                    {#        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +#}
                    {#        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][3] + "</td>" +#}
                    {#        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +#}
                    {#        "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +#}
                    {#        "</tr> ");#}
                    {#}#}

                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboCust2) {
                            cboCustTxt = cboCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            cboCustTxt = cboCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboDepGbn) {
                            cboDepGbnTxt = cboDepGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboDepGbnTxt = cboDepGbnTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    console.log(combolist3)
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboDepMethod) {
                            cboDepMethodTxt = cboDepMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboDepMethodTxt = cboDepMethodTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    $("#cboDepCust").append(cboCustTxt);
                    $("#cboDepGbn").append(cboDepGbnTxt);
                    $("#cboDepMethod").append(cboDepMethodTxt);
                }
            })

            $('#exampleModal').show();
        });

    </script>
{% endblock %}