{% extends "layouts/base.html" %}

{% block title %} depositWithdrawal - 입금등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-xxl py-3 my-3">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body">
                        <h3 class="mb-0 text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>입금 등록</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-4 container-fluid">
        <div class="my-4 row">
            <div class="mb-4 col-lg-4 col-md-6 mb-md-0">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom" style="height: 8vh">
                      <div class="row">
                          <div class="p-3 col-lg-6 mt-lg-0">
                            <div class="input-group">
                                <select class="form-control border border-light rounded-1 text-center me-2" name="inputYear" id="inputYear"></select>
                                <label class="mt-2 me-4" style="font-size: 1rem">년</label>
                                <select class="form-control border border-light rounded-1 text-center me-2" name="inputMonth" id="inputMonth"></select>
                                <label class="mt-2" style="font-size: 1rem">월</label>
                            </div>
                          </div>
                          <div class="p-3 col-lg-6 mt-lg-0 text-end">
                               <button type="button" class="btn bg-gradient-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive-sm">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="8%">
                                <col width="10%">
                            </colgroup>
                          <thead class="bg-success-soft">
                            <tr>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">금액</th>
                            </tr>
                          </thead>
                          <tbody id="depositMainTb">
                            <tr id="depositMainTr" class="depositMainTr_tr">

                            </tr>
                            <tr class="bg-light">
                                <td class="text-end p-1" style="font-size: 0.85rem">합계</td>
                                <td class="text-end p-1" style="font-size: 0.85rem">0</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom" style="height: 8vh">
                        <div class="row">
                          <div class="p-3 col-lg-4 mt-lg-0"></div>
                          <div class="p-3 col-lg-8 mt-lg-0 text-end">
                              <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal"
                                      data-bs-target="#exampleModal"><i class="fas fa-plus me-2"></i>추가</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive-sm">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="10%">
                                <col width="15%">
                                <col width="10%">
                                <col width="8%">
                                <col width="8%">
                                <col width="6%">
                                <col width="20%">
                            </colgroup>
                          <thead class="bg-danger-soft">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-semibold opacity-7 p-2"></th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">은행명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">계좌 번호</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">통장명</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">가입 일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">만기 일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">월 납입액</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">비 고</th>
                            </tr>
                          </thead>
                          <tbody id="depositSubTb">
                            <tr id="depositSubTr" class="depositSubTr_tr">

                            </tr>
                          <tr class="bg-light">
                              <td class="text-end p-1" style="font-size: 0.85rem" colspan="2">합계</td>
                              <td class="text-end p-1" style="font-size: 0.85rem" colspan="6">0</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 80vw">
        <div class="modal-content">
          <div class="modal-header bg-gradient-info">
            <h4 class="modal-title text-white font-weight-bolder" id="exampleModalLabel"><i class="fas fa-credit-card me-3"></i>입금 등록</h4>
            <button type="button" class="btn-close text-lg text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post">
                  <div class="row">
                      <div class="col-4">
                          <div class="card card-plain p-3">
                              <h5><i class="fas fa-list me-3"></i>매입 리스트</h5>
                             <div class="table-responsive-sm border border-light height-600 mt-2">
                                <table class="table mb-0 align-items-center justify-content-center">
                                    <colgroup>
                                        <col width="8%">
                                        <col width="10%">
                                        <col width="10%">
                                        <col width="10%">
                                    </colgroup>
                                  <thead class="bg-success-soft">
                                    <tr>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">일자</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">매입처</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">품목</th>
                                      <th style="font-size: 1rem" class="text-dark text-center font-weight-semibold opacity-7 p-2">합계</th>
                                    </tr>
                                  </thead>
                                  <tbody id="modalBuyTb">
                                    <tr id="modalBuyTr" class="modalBuyTr_tr">

                                    </tr>
                                  </tbody>
                                </table>
                             </div>
                          </div>
                      </div>
                      <div class="col-8">
                          <div class="card card-plain p-5">
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6 text-danger"><i class="far fa-edit me-2"></i>거래처</label>
                                      <select class="form-control border border-light rounded-1 text-center bg-danger-soft" name="cboCust" id="cboCust"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-calendar me-2"></i>등록 일자</label>
                                      <input class="form-control text-center" type="date" id="txtRegDate" name="txtRegDate"/>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>구분</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboBuyGbn" id="cboBuyGbn"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>계정과목</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboCode" id="cboCode"></select>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2"></i>금액</label>
                                      <input class="form-control text-end" type="text" id="txtPrice" name="txtPrice"/>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>계좌번호</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboActNum" id="cboActNum"></select>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-edit me-2"></i>결제방법</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboMethod" id="cboMethod"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6 font-weight-bolder me-4"><i class="fas fa-edit me-2"></i>처리</label>
                                      <input type="radio" id="txtDeal" name="inputEmpCount" checked value="0"/>
                                      <label class="mt-4 h6 text-info me-4">현금</label>
                                      <input type="radio" id="txtDeal" name="inputEmpCount" value="1"/>
                                      <label class="mt-4 h6 text-danger">계산서</label>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                              <div class="row">
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-box me-2"></i>발행처</label>
                                      <select class="form-control border border-light rounded-1 text-center" name="cboIssueCust" id="cboIssueCust"></select>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>어음번호</label>
                                      <input class="form-control text-end" type="text" id="txtCashNum" name="txtCashNum"/>
                                  </div>
                                  <div class="col-4">
                                      <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>만기일자</label>
                                      <input class="form-control text-end" type="date" id="txtDeadline" name="txtDeadline"/>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-8">
                                      <label class="mt-4 h6"><i class="far fa-edit me-2"></i>비고</label>
                                      <input class="form-control text-end" type="text" id="txtRemark" name="txtRemark"/>
                                  </div>
                                  <div class="col-4"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="m-1 btn btn-primary text-lg">저 장</button>
            <button type="button" class="m-1 btn btn-secondary text-lg" data-bs-dismiss="modal">닫 기</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
{% endblock %}