{% extends "layouts/base.html" %}

{% block title %} 감가상각비명세서 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{#         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"#}
    <div class="height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid py-1 my-2">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-lg-6 col-6 text-start">
                                <h4 class="text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>감가 상각비 명세서</h4>
                            </div>
                            <div class="col-lg-6 col-6 text-end">
                                <button type="button" class="btn btn-sm btn-primary text-white text-sm" id="btnSave" name="btnSave">저 장</button>
                                <button type="button" class="btn btn-sm btn-linkedin text-white text-sm" id="btnCal" name="btnCal">계산</button>
                                <button type="button" class="btn btn-sm btn-light text-dark text-sm" id="btnDlt" name="btnDlt">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card border border-white shadow-xs">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-3 col-3">
                                <div class="input-group shadow-none">
                                    <label class="text-sm" style="width: 5rem"><i class="far fa-calendar me-2"></i>년도</label>
                                    <input class="form-control border border-light rounded-1 text-center me-2" type="number" name="inputYear" id="inputYear" style="height: 2rem; max-width: 6rem">
                                </div>
                            </div>
                            <div class="col-lg-4 col-4">
                                <div class="input-group shadow-none">
                                  <label class="text-sm" style="width: 5rem"><i class="far fa-calendar me-2"></i>상각 기간</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputStrDate" id="inputStrDate" style="height: 2rem; max-width: 10rem">
                                  <label class="me-4" style="font-size: 1rem">-</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputEndDate" id="inputEndDate" style="height: 2rem; max-width: 10rem">
                                </div>
                            </div>
                            <div class="col-lg-3 col-3">
                                <button type="button" class="btn btn-sm btn-success text-white" id="btnSearch" name="btnSearch">조회</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm height-500 overflow-auto border border-light">
                          <table class="table mb-0 align-items-center justify-content-center" id="grid">
                              <colgroup>
                                  <col width="6%">
                                  <col width="10%">
                                  <col width="8%">
                                  <col width="4%">
                                  <col width="8%">
                                  <col width="6%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="8%">
                              </colgroup>
                            <thead class="text-white font-weight-bolder text-center bg-primary">
                              <tr>
                                <th style="font-size: 0.85rem" class="p-2">순번</th>
                                <th style="font-size: 0.85rem" class="p-2">자산명칭</th>
                                <th style="font-size: 0.85rem" class="p-2">규 격</th>
                                <th style="font-size: 0.85rem" class="p-2">수 량</th>
                                <th style="font-size: 0.85rem" class="p-2">취득일자</th>
                                <th style="font-size: 0.85rem" class="p-2">내용년수</th>
                                <th style="font-size: 0.85rem" class="p-2">취득금액</th>
                                <th style="font-size: 0.85rem" class="p-2">자본적지출액</th>
                                <th style="font-size: 0.85rem" class="p-2">전기상각누계</th>
                                <th style="font-size: 0.85rem" class="p-2">차감잔액</th>
                                <th style="font-size: 0.85rem" class="p-2">일반상각비</th>
                                <th style="font-size: 0.85rem" class="p-2">상각누계액</th>
                                <th style="font-size: 0.85rem" class="p-2">미상각잔액</th>
                                <th style="font-size: 0.85rem" class="p-2">세무조정금액</th>
                              </tr>
                            </thead>
                            <tbody id="mainTb">
                              <tr id="#mainTr" class="mainTr_tr">

                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var date = new Date();
            var year = date.getFullYear()
            date.setMonth(date.getMonth() - 1);

            document.getElementById("inputYear").value = year;
            document.getElementById("inputStrDate").valueAsDate = date;
            document.getElementById("inputEndDate").valueAsDate = new Date;

            var yymm = document.getElementById("inputYear").value;

            let data = {"yymm": yymm}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "dpt_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    $("#mainTb").html("");
                    for (var i = 0; i < list.length; i++) {

                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td readonly class='text-center p-1' style='font-size: 0.85rem'><input readonly id='txtFixNo_" + i + "' name='txtFixNo' class='form-control bg-transparent border-0 text-dark text-center shadow-none' type='text' value='" + list[i][0] + "' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'><input id='txtFixNme_" + i + "' name='txtFixNme' class='form-control border-0 text-dark text-center shadow-none' type='text' value='" + list[i][1] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGrd_" + i + "' name='txtFixGrd' class='form-control border-0 text-dark text-center shadow-none' type='text' value='" + list[i][2] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixQty_" + i + "' name='txtFixQty' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][3] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGDt_" + i + "' name='txtFixGDt' class='form-control border-0 text-dark text-center shadow-none' type='date' value='" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixYYYY_" + i + "' name='txtFixYYYY' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][5] + "' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixGAmts_" + i + "' name='txtFixGAmts' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][6] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixFund_" + i + "' name='txtFixFund' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][7] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixRepay_" + i + "' name='txtFixRepay' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][8] + "' style='height: 1.5rem; font-size: 0.85rem'/></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixTaxc_" + i + "' name='txtFixTaxc' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][9] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "</tr> ");
                    }
                    var len = list.length

                    for (var i = 0; i < 10; i++) {

                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td readonly class='text-center p-1' style='font-size: 0.85rem'><input readonly id='txtFixNo_" + (len + i) + "' name='txtFixNo' class='form-control bg-transparent border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'><input id='txtFixNme_" + (len + i) + "' name='txtFixNme' class='form-control border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGrd_" + (len + i) + "' name='txtFixGrd' class='form-control border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixQty_" + (len + i) + "' name='txtFixQty' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGDt_" + (len + i) + "' name='txtFixGDt' class='form-control border-0 text-dark text-center shadow-none' type='date' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixYYYY_" + (len + i) + "' name='txtFixYYYY' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixGAmts_" + (len + i) + "' name='txtFixGAmts' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixFund_" + (len + i) + "' name='txtFixFund' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixRepay_" + (len + i) + "' name='txtFixRepay' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixTaxc_" + (len + i) + "' name='txtFixTaxc' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "</tr> ");
                    }
                }
            })
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            document.getElementById("inputYear").value = year;
            document.getElementById("inputStrDate").valueAsDate = date;
            document.getElementById("inputEndDate").valueAsDate = new Date;

            var yymm = document.getElementById("inputYear").value;

            let data = {"yymm": yymm}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "dpt_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;

                    $("#mainTb").html("");
                    for (var i = 0; i < list.length; i++) {

                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td readonly class='text-center p-1' style='font-size: 0.85rem'><input readonly id='txtFixNo_" + i + "' name='txtFixNo' class='form-control bg-transparent border-0 text-dark text-center shadow-none' type='text' value='" + list[i][0] + "' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'><input id='txtFixNme_" + i + "' name='txtFixNme' class='form-control border-0 text-dark text-center shadow-none' type='text' value='" + list[i][1] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGrd_" + i + "' name='txtFixGrd' class='form-control border-0 text-dark text-center shadow-none' type='text' value='" + list[i][2] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixQty_" + i + "' name='txtFixQty' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][3] + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGDt_" + i + "' name='txtFixGDt' class='form-control border-0 text-dark text-center shadow-none' type='date' value='" + list[i][4].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixYYYY_" + i + "' name='txtFixYYYY' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][5] + "' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixGAmts_" + i + "' name='txtFixGAmts' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][6] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixFund_" + i + "' name='txtFixFund' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][7] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixRepay_" + i + "' name='txtFixRepay' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][8] + "' style='height: 1.5rem; font-size: 0.85rem'/></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixTaxc_" + i + "' name='txtFixTaxc' class='form-control border-0 text-dark text-end shadow-none' type='number' value='" + list[i][9] + "' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "</tr> ");
                    }
                    var len = list.length

                    for (var i = 1; i < 11; i++) {

                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td readonly class='text-center p-1' style='font-size: 0.85rem'><input readonly id='txtFixNo_" + (len + i) + "' name='txtFixNo' class='form-control bg-transparent border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'><input id='txtFixNme_" + (len + i) + "' name='txtFixNme' class='form-control border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGrd_" + (len + i) + "' name='txtFixGrd' class='form-control border-0 text-dark text-center shadow-none' type='text' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixQty_" + (len + i) + "' name='txtFixQty' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixGDt_" + (len + i) + "' name='txtFixGDt' class='form-control border-0 text-dark text-center shadow-none' type='date' value='' style='height: 1.5rem; font-size: 0.85rem' /></td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'><input id='txtFixYYYY_" + (len + i) + "' name='txtFixYYYY' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem' /></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixGAmts_" + (len + i) + "' name='txtFixGAmts' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixFund_" + (len + i) + "' name='txtFixFund' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixRepay_" + (len + i) + "' name='txtFixRepay' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'><input id='txtFixTaxc_" + (len + i) + "' name='txtFixTaxc' class='form-control border-0 text-dark text-end shadow-none' type='number' value='' style='height: 1.5rem; font-size: 0.85rem'/></td> " +
                            "</tr> ");

                    }
                }
            })
        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {
            var saveresult = confirm("저장 하시겠습니까? 입력한 정보가 맞다면 확인 버튼을 눌러주세요.")

            if (saveresult == true) {

                var mainTableCount = 0;
                $("#grid tr td input[name='txtFixNme']").each(function (index, ele) {
                    var ele_val = $(ele).val();

                    if(ele_val){
                        mainTableCount += 1;
                    }
                });

                {#let mainTable = document.getElementById('grid')#}
                {#var mainTableCount = mainTable.rows.length#}
                {#var mainRowList = mainTable.rows;#}

                var fixArr = [];
                for (var i = 0; i < mainTableCount; i++) {

                    var fixCode = $('#txtFixNo_' + i).val();
                    var fixNme = $('#txtFixNme_' + i).val();
                    var fixGrd = $('#txtFixGrd_' + i).val();
                    var fixQty = $('#txtFixQty_' + i).val();
                    var fixGdt = $('#txtFixGDt_' + i).val();
                    var fixYYYY = $('#txtFixYYYY_' + i).val();
                    var fixAmts = $('#txtFixGAmts_' + i).val();
                    var fixFund = $('#txtFixFund_' + i).val();
                    var fixRepay = $('#txtFixRepay_' + i).val();
                    var fixTaxc = $('#txtFixTaxc_' + i).val();

                    let data = {
                        'fixCode': fixCode,
                        'fixNme': fixNme,
                        'fixGrd': fixGrd,
                        'fixQty': fixQty,
                        'fixGdt': fixGdt,
                        'fixYYYY': fixYYYY,
                        'fixAmts': fixAmts,
                        'fixFund': fixFund,
                        'fixRepay': fixRepay,
                        'fixTaxc': fixTaxc
                    };
                    fixArr.push(data);
                }

                $.ajax({
                method: "POST",
                async: false,
                dataType: "json",
                data: {
                    'fixArrList': JSON.stringify(fixArr),
                },
                url: "{% url 'dpt_save' %}",
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.arrList === "Y") {
                        alert("저장되었습니다.")
                        location.href = "{% url 'depreciation_reg' %}";
                    }
                }
            });
            }
        });
    </script>

{% endblock %}
