{% extends "layouts/base.html" %}

{% block title %} 감가상각비명세서 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{#         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"#}
    <div class="height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid py-1 my-2">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-lg-6 col-6 text-start">
                                <h4 class="text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>감가 상각비 명세서</h4>
                            </div>
                            <div class="col-lg-6 col-6 text-end">
                                <button type="button" class="btn btn-sm btn-primary text-white text-sm" id="btnSave" name="btnSave">저 장</button>
                                <button type="button" class="btn btn-sm btn-linkedin text-white text-sm" id="btnClear" name="btnClear">초기화</button>
                                <!--<button type="button" class="btn btn-sm btn-light text-dark text-sm" id="btnDlt" name="btnDlt">삭제</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card border border-white shadow-xs">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-4 col-4">
                                <div class="input-group shadow-none">
                                    <label class="text-sm" style="width: 5rem"><i class="far fa-calendar me-2"></i>년도</label>
                                    <input class="form-control border border-light rounded-1 text-center me-2" type="number" name="inputYear" id="inputYear" style="height: 2rem; max-width: 6rem">
                                </div>
                            </div>
                            <div class="col-lg-5 col-5">
                              <div class="input-group shadow-none">
                                  <label class="text-sm" style="width: 5rem"><i class="far fa-calendar me-2"></i>상각 기간</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputStrDate" id="inputStrDate" style="height: 2rem; max-width: 10rem">
                                  <label class="me-4" style="font-size: 1rem">-</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputEndDate" id="inputEndDate" style="height: 2rem; max-width: 10rem">
                              </div>
                            </div>
                            <div class="col-lg-3 col-3"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm height-500 overflow-auto border border-light">
                          <table class="table mb-0 align-items-center justify-content-center">
                              <colgroup>
                                  <col width="8%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="8%">
                                  <col width="8%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                              </colgroup>
                            <thead class="text-white font-weight-bolder text-center bg-primary">
                              <tr>
                                <th style="font-size: 0.85rem" class="p-2">거래일시</th>
                                <th style="font-size: 0.85rem" class="p-2">맡기신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">찾으신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">잔금</th>
                                <th style="font-size: 0.85rem" class="p-2">통장명</th>
                                <th style="font-size: 0.85rem" class="p-2">거래일시</th>
                                <th style="font-size: 0.85rem" class="p-2">맡기신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">찾으신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">잔금</th>
                                <th style="font-size: 0.85rem" class="p-2">통장명</th>
                                <th style="font-size: 0.85rem" class="p-2">거래일시</th>
                                <th style="font-size: 0.85rem" class="p-2">맡기신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">찾으신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">잔금</th>
                              </tr>
                            </thead>
                            <tbody id="mainTb">
                              <tr id="#mainTr" class="mainTr_tr">

                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
