{% extends "layouts/base.html" %}

{% block title %} 임금대장 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{#         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"#}
    <div class="height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid py-1 my-2">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-lg-6 col-6 text-start">
                                <div class="input-group shadow-none">
                                    <input readonly class="form-control border-0 bg-transparent rounded-1 text-center text-dark text-lg font-weight-bolder" type="number" name="inputMonth" id="inputMonth" style="height: 2rem; max-width: 4rem">
                                    <label class="text-lg">월 임금대장: 연봉직</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6 text-end">
                                <button type="button" class="btn btn-sm btn-light text-primary text-sm" id="btnTrsf" name="btnTrsf">불러오기</button>
                                <button type="button" class="btn btn-sm btn-primary text-white text-sm" id="btnSave" name="btnSave">저 장</button>
                                <button type="button" class="btn btn-sm btn-linkedin text-white text-sm" id="btnClear" name="btnClear">계 산</button>
                                <button type="button" class="btn btn-sm btn-light text-success text-sm" id="btnExcel" name="btnExcel">엑셀</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card border border-white shadow-xs">
                    <div class="card-header pb-0">
                        <div class="row p-0">
                            <div class="col-lg-4 col-4">
                                <div class="input-group shadow-none">
                                    <label class="text-sm" style="width: 5rem"><i class="far fa-calendar me-2"></i>년월</label>
                                    <input class="form-control border border-light rounded-1 text-center me-2" type="month" name="inputYYYYMM" id="inputYYYYMM" style="height: 2rem; max-width: 6rem">
                                </div>
                            </div>
                            <div class="col-lg-8 col-8 text-end">
                                <button type="button" class="btn btn-sm btn-warning text-white text-sm" id="btnSend" name="btnSend" data-bs-toggle='modal' data-bs-target='#sendModal'>보내기</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm height-500 overflow-auto border border-light">
                          <table class="table mb-0 align-items-center justify-content-center">
                            <thead class="text-white font-weight-bolder text-center bg-primary" id="mainHd">
                              <tr id="#mainTh" class="mainTh_tr">

                              </tr>
                            </thead>
                            <tbody id="mainTb">
                              <tr id="#mainTr" class="mainTr_tr">

                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 30vw">
        <div class="modal-content">
          <form method="post">
          {% csrf_token %}
          <div class="modal-header bg-warning text-end" style="height: 5vh">
              <button class="btn btn-close border border-white"><i class="fas fa-xmark"></i></button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <div class="row p-0">
                      <div class="col-2"></div>
                      <div class="col-8">
                          <label class="h6 text-dark"><i class="fas fa-file-invoice-dollar me-2"></i>계좌 번호</label>
                          <select class="form-control border border-light rounded-1 text-center"
                                  name="cboActNum" id="cboActNum"></select>
                      </div>
                  </div>
                  <div class="row p-0">
                      <div class="col-2"></div>
                      <div class="col-8">
                          <label class="mt-4 h6 text-dark"><i class="fas fa-bars me-2"></i>계정 과목</label>
                          <select class="form-control border border-light rounded-1 text-center"
                                  name="cboMCode" id="cboMCode"></select>
                      </div>
                  </div>
                  <div class="row p-0">
                      <div class="col-2"></div>
                      <div class="col-4">
                          <label class="mt-4 h6 text-dark"><i class="far fa-calendar me-2"></i>출금 일자</label>
                          <input class="form-control border border-light rounded-1 text-center" type="date"
                                  name="txtWithDate" id="txtWithDate"/>
                      </div>
                      <div class="col-4">
                          <label class="mt-4 h6 text-dark"><i class="far fa-square-check me-2"></i>구 분</label>
                          <select class="form-control border border-light rounded-1 text-center"
                                  name="cboGbn" id="cboGbn">
                              <option value="1">일괄</option>
                              <option value="2">개별</option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn btn-linkedin text-sm vw-100" id="btnSave" name="btnSave">보내기</button>
          </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var date = new Date();
            var yyyy = date.getFullYear()
            var mm = date.getMonth();

            {#document.getElementById("inputYYYYMM").valueAsDate = yyyy;#}
            document.getElementById("inputMonth").value = mm;

            {# 헤더 그려주기 #}
            $.ajax({
                type: "post",
                url: '{% url "payroll_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.headList;
                    var list2 = data.empList;


                    $("#mainHd").append(
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>성 명</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>기본 시급</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>기본 입금</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>기본 시간</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>기본급</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>연장시간</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴게시간</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴일시간</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴일연장</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>심야시간</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>연장근로수당</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴게수당</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴일수당</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>휴일연장수당</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>야간심야수당</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>주차시간</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>주차수당</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>유급시간</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>유급수당</th>");

                    for (var i = 0; i < list.length; i++) {
                        if(list[i][0] < 10) {
                            $("#mainHd").append(
                                "<th class='text-center bg-dark border border-top text-danger p-2' style='font-size: 0.85rem'>" + list[i][1] + "</th>");
                        }
                    }

                    $("#mainHd").append(
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>총액</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>국민연금</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>의료보험</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>갑근세</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>주민세</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>고용보험</th>");

                    for (var i = 0; i < list.length; i++) {
                        if (list[i][0] > 10 && list[i][0] < 20) {
                            $("#mainHd").append(
                                "<th class='text-center bg-dark border border-top text-danger p-2' style='font-size: 0.85rem'>" + list[i][1] + "</th>");
                        }
                    }

                    $("#mainHd").append(
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>공재금액</th>" +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>실지급액</th> " +
                        "<th class='text-center bg-dark border border-top text-white p-2' style='font-size: 0.85rem'>선택</th> ");


                {#    직원정보  #}
                    $("#mainTb").html("");
                    for (var i = 0; i < list2.length; i++) {
                        $("#mainTb").append(
                            "<tr id='#mainTr' class='mainTr_tr'>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list2[i][1] + "</td>" +
                            "</tr> ");
                    }
                }
            })


        });


        {# 보내기 버튼 누를시 #}
        $(document).on('click', '#btnSend', function () {

            var cboActNum = "";
            var cboMCode = "";
            var cboActNumTxt = "<option value=''>:: 선택 ::</option>";
            var cboMCodeTxt = "<option value=''>:: 선택 ::</option>";

            $("#cboActNum").html("");
            $("#cboMCode").html("");

            var date = new Date();

            document.getElementById("txtWithDate").valueAsDate = date;
            var modal = 'modal';

            let data = {"modal": modal}

            {# 헤더 그려주기 #}
            $.ajax({
                type: "post",
                data: data,
                url: '{% url "payroll_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {

                    var combolist = data.cboAct;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboActNum) {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][0] + "</option>";
                        } else {
                            cboActNumTxt = cboActNumTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][0] + "</option>";
                        }
                    }

                    var combolist2 = data.cboMCode;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboMCode) {
                            cboMCodeTxt = cboMCodeTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboMCodeTxt = cboMCodeTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    $("#cboActNum").append(cboActNumTxt);
                    $("#cboMCode").append(cboMCodeTxt);

                }
            });

            $('#sendModal').show();
        });
    </script>
{% endblock %}
