{% extends "layouts/base.html" %}

{% block title %} purchase - 매입 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pt-6 pb-6 bg-cover height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-xxl py-3 my-3">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body">
                        <h3 class="mb-0 text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>매입 등록</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-4 container-fluid">
        <div class="my-4 row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-6">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row">
                          <div class="p-3 col-lg-4 mt-lg-0">
                            <div class="input-group">
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none me-2">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>일 자</label>
                                </span>
                                <input class="form-control border border-light rounded-1 text-center" type="date" id="inputStrDate" name="inputStrDate"/>
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                    <label style="font-size: 1rem">-</label>
                                </span>
                                <input class="form-control border border-light rounded-1 text-center" type="date" id="inputEndDate" name="inputEndDate"/>
                            </div>
                          </div>
                          <div class="p-3 col-lg-8 mt-lg-0 text-end">
                              <button type="button" class="btn bg-gradient-info" id="btnSearch" name="btnSearch">
                                  <i class="fas fa-search me-2"></i>조회</button>
                              <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal"
                                      data-bs-target="#buyModal"><i class="fas fa-plus me-2"></i>추가</button>
                              <button type="button" class="btn bg-gradient-success" data-bs-toggle="modal"
                                      data-bs-target="#buyModal"><i class="fas fa-diamond me-2"></i>수정</button>
                              <button type="button" class="btn bg-gradient-warning" id="btnDlt" name="btnDlt">
                                  <i class="fas fa-minus me-2"></i>삭제</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive height-600 overflow-scroll">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="8%">
                                <col width="15%">
                                <col width="8%">
                                <col width="8%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="10%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-semibold opacity-7 p-2">선택</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">입고 일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">품 목</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">구 분</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">결 제</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">단 가</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">수 량</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">공급 가액</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">합 계</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">매입처</th>
                            </tr>
                          </thead>
                          <tbody id="buyMainTb">
                            <tr id="buyMainTr" class="buyMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-2">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 50vw">
        <div class="modal-content">
          <div class="modal-header bg-gradient-info">
            <h4 class="modal-title text-white font-weight-bolder" id="exampleModalLabel"><i class="fas fa-credit-card me-3"></i>매입 등록</h4>
            <button type="button" class="btn-close text-lg text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body m-5">
              <form method="post" action="{% url 'purchase_reg_save'%}">
                  <div class="row">
                      <div class="col-4">
                          <label class="h6"><i class="far fa-calendar me-2"></i>입고 일자</label>
                          <input class="form-control text-center" type="date" id="txtInDate" name="txtInDate"/>
                      </div>
                      <div class="col-4">
                          <label class="h6"><i class="far fa-edit me-2"></i>매입처</label>
                          <select class="form-control border border-light rounded-1 text-center" name="cboInCust" id="cboInCust"></select>
                      </div>
                      <div class="col-4"></div>
                  </div>
                  <!--<div class="row">
                      <div class="col-4"></div>
                      <div class="col-6"></div>
                  </div>-->
                  <div class="row">
                      <div class="col-6">
                          <label class="mt-4 h6"><i class="fas fa-box me-2"></i>제품명</label>
                          <input class="form-control text-end" type="text" id="txtItem" name="txtItem"/>
                      </div>
                      <div hidden class="col-6">
                          <input class="form-control text-end" type="text" id="txtSeq" name="txtSeq"/>
                          <input class="form-control text-end" type="text" id="txtRecn" name="txtRecn"/>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-2">
                        <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>수 량</label>
                        <input class="form-control text-end" type="number" id="txtQty" name="txtQty"/>
                      </div>
                      <div class="col-2">
                          <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>단 가</label>
                          <input class="form-control text-end" type="number" id="txtBaseCost" name="txtBaseCost"/>
                      </div>
                      <div class="col-2">
                        <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>공급 가액</label>
                        <input class="form-control text-end" type="number" id="txtPrice" name="txtPrice"/>
                      </div>
                      <div class="col-2">
                          <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>부가세</label>
                          <input class="form-control text-end" type="number" id="txtTax" name="txtTax"/>
                      </div>
                      <div class="col-2">
                          <label class="mt-4 h6"><i class="fas fa-circle me-2 text-xs"></i>합 계</label>
                          <input class="form-control text-end" type="number" id="txtTotal" name="txtTotal"/>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-4">
                          <label class="mt-4 h6"><i class="far fa-edit me-2"></i>구 분</label>
                          <select class="form-control border border-light rounded-1 text-center" name="cboBuyGbn" id="cboBuyGbn"></select>
                      </div>
                      <div class="col-4">
                        <label class="mt-4 h6"><i class="far fa-edit me-2"></i>결 제</label>
                        <select class="form-control border border-light rounded-1 text-center" name="cboPayGbn" id="cboPayGbn"></select>
                      </div>
                      <div class="col-4"></div>
                  </div>
                  <div class="row">
                      <div class="col-10">
                          <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-sm"></i>비 고</label>
                          <input class="form-control text-end" type="number" id="txtRemark" name="txtRemark"/>
                      </div>
                      <div class="col-2"></div>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="m-1 btn btn-primary text-lg" id="btnSave">저 장</button>
            <button type="button" class="m-1 btn btn-secondary text-lg" data-bs-dismiss="modal">닫 기</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function () {
            document.getElementById('inputStrDate').valueAsDate = new Date
            document.getElementById('inputEndDate').valueAsDate = new Date

            var sDate = $("#inputStrDate").val();
            var eDate = $("#inputEndDate").val();
            var strDate = sDate.replace(/\-/g, '')
            var endDate = eDate.replace(/\-/g, '')

            let data = {"strDate": strDate, "endDate": endDate}

            $.ajax({
                type: "post",
                url: '{% url "purchase_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.buyList;

                    $("#buyMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#buyMainTb").append(
                            "<tr id='#buyMainTr' class='buyMainTr_tr' main_code='" + list[i][1] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkBuy[]' name='chkBuy[]' value='" + list[i][0] + "," + list[i][1] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][8] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][11] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][12] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][15] + "</td> " +
                            "</tr> ");
                    }
                }
            })
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var sDate = document.getElementById('inputStrDate').value;
            var eDate = document.getElementById('inputEndDate').value;

            var strDate = sDate.replace(/\-/g, '')
            var endDate = eDate.replace(/\-/g, '')

            let data = {"strDate": strDate, "endDate": endDate}

            $.ajax({
                type: "post",
                url: '{% url "purchase_reg_search" %}',
                data: data,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.buyList;

                    $("#buyMainTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        $("#buyMainTb").append(
                            "<tr id='#buyMainTr' class='buyMainTr_tr' main_code='" + list[i][1] + "'>" +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkBuy[]' name='chkBuy[]' value='" + list[i][0] + "," + list[i][1] + "," + list[i][2] + "," + list[i][3] + "," + list[i][5] + "'/></div></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1] + "</td>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][4] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][6] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][8] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][10] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][11] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + list[i][12] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][15] + "</td> " +
                            "</tr> ");
                    }
                }
            })
        });

        {# 모달이 뜰 때 #}
        $('#buyModal').on('show.bs.modal', function (e){


        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            $('form').submit();

        });


        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkBuy[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkBuy[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "purchase_reg_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'purchase_reg' %}";
                        }

                    });
            } else {

            }
        });
    </script>
{% endblock %}