{% extends "layouts/base.html" %}

{% block title %} purchase - 매입 등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="px-5 py-4 container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <img src="/static/assets/img/header-blue-purple.jpg" alt="pattern-lines"
                         class="top-0 rounded-2 position-absolute start-0 w-100 h-100">
                    <div class="p-3 card-body z-index-2 border-radius-lg">
                        <div class="row">
                            <div class="col-lg-5">
                                <h3 class="mb-0 text-white font-weight-bold"><i class="fas fa-user-circle fas-4 me-3"></i>매입 등록</h3>
                            </div>
                            <div class="col-lg-7">
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mx-2 mb-3 d-md-flex align-items-center">
                    <div class="mb-3 mb-md-0">
                    </div>
                    <button type="button" class="mb-0 mb-2 btn btn-white btn-icon d-flex align-items-center ms-md-auto mb-sm-0 me-2" id="btnSearch" name="btnSearch">
                      <span class="btn-inner--icon">
                          <i class="fas fa-search me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">조회</span>
                    </button>
                    <button type="button" class="mb-0 btn btn-success btn-icon d-flex align-items-center me-2" id="btnSave" name="btnSave">
                      <span class="btn-inner--icon">
                          <i class="fas fa-plus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">저장</span>
                    </button>
                    <button type="submit" class="mb-0 btn btn-dark btn-icon d-flex align-items-center" id="btnDlt" name="btnDlt">
                      <span class="btn-inner--icon">
                          <i class="fas fa-minus me-2 fs-5"></i>
                      </span>
                      <span class="btn-inner--text text-lg">삭제</span>
                    </button>
                </div>-->
            </div>
        </div>
        <hr class="my-0">
        <div class="my-4 row">
            <div class="col-lg-10 col-md-8">
                <div class="border shadow-xs card">
                    <div class="pb-0 pt-0 card-header border-bottom">
                      <div class="row">
                          <div class="p-3 col-lg-5 mt-lg-0">
                            <div class="input-group">
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none me-2">
                                    <label style="font-size: 1rem"><i class="fas fa-search me-2"></i>일 자</label>
                                </span>
                                <input class="form-control border border-light rounded-1" type="date" id="inputStrDate" name="inputStrDate"/>
                                <span class="input-group-text text-body bg-transparent border-0 shadow-none">
                                    <label style="font-size: 1rem">-</label>
                                </span>
                                <input class="form-control border border-light rounded-1" type="date" id="inputEndDate" name="inputEndDate"/>
                            </div>
                          </div>
                          <div class="p-3 col-lg-7 mt-lg-0 text-end">
                              <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                      data-bs-target="#exampleModal">추 가</button>
                          </div>
                      </div>
                    </div>
                    <div class="px-0 py-0 card-body height-600">
                      <div class="p-3 table-responsive">
                        <table class="table mb-0 align-items-center justify-content-center">
                            <colgroup>
                                <col width="2%">
                                <col width="8%">
                                <col width="15%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="6%">
                                <col width="10%">
                            </colgroup>
                          <thead class="bg-gray-100">
                            <tr>
                              <th class="text-center text-secondary text-center font-weight-semibold opacity-7 p-2"></th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">입고 일자</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">품 목</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">구 분</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">결 제</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">단 가</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">수 량</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">금 액</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">부가세 포함</th>
                              <th style="font-size: 1rem" class="text-secondary text-center font-weight-semibold opacity-7 p-2">매입처</th>
                            </tr>
                          </thead>
                          <tbody id="custMainTb">
                            <tr id="custMainTr" class="custMainTr_tr">

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 col-lg-2 mb-md-0">
            </div>
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 30vw">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">매입 등록</h4>
            <button type="button" class="btn-close text-lg text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>입고 일자
                            </span>
                            <input class="form-control" type="date" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>구 분
                            </span>
                            <select class="form-control border border-light rounded-1 text-center" name="cboCom" id="cboCom"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>결 제
                            </span>
                            <select class="form-control border border-light rounded-1 text-center" name="cboCom" id="cboCom"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>매입처
                            </span>
                            <input class="form-control" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>제품명
                            </span>
                            <input class="form-control" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>수 량
                            </span>
                            <input class="form-control text-end" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>단 가
                            </span>
                            <input class="form-control text-end" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>금 액
                            </span>
                            <input class="form-control text-end" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="mb-4 input-group">
                            <span class="input-group-text" style="font-size: 1rem">
                                <i class="far fa-edit me-2"></i>부가세 포함
                            </span>
                            <input class="form-control text-end" type="number" id="txtQuitDate" name="txtQuitDate"/>
                        </div>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-8">
                        <label class="mt-4" style="font-size: 1rem"><i class="fas fa-circle me-2 text-sm"></i>비 고</label>
                        <select class="form-control border border-light rounded-1 text-center" name="cboBom" id="cboBom"></select>
                    </div>
                    <div class="col-4"></div>
                </div>-->
              </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="m-1 btn btn-primary text-lg">저 장</button>
            <button type="button" class="m-1 btn btn-secondary text-lg" data-bs-dismiss="modal">닫 기</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
{% endblock %}