{% extends "layouts/base.html" %}

{% block title %} depositWithdrawal - 출금등록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{#         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"#}
    <div class="height-100"
         style="background-image: url('/static/assets/img/header-blue-purple.jpg'); background-position: bottom;"></div>
    <div class="container-fluid py-1 my-2">
        <div class="row mt-n7">
            <div class="col-lg-12">
                <div class="card blur border border-white rounded-2 shadow-xs">
                    <div class="card-body pb-2">
                        <div class="row">
                            <div class="col-lg-6 col-6 text-start">
                                <h4 class="text-dark font-weight-bold"><i class="fas fa-credit-card fas-4 me-3"></i>출금 등록</h4>
                            </div>
                            <div class="col-lg-6 col-6 text-end">
                                <button type="button" class="btn btn-sm btn-primary text-white text-sm" id="btnSave" name="btnSave">저 장</button>
                                <button type="button" class="btn btn-sm btn-linkedin text-white text-sm" id="btnClear" name="btnClear">초기화</button>
                                <button type="button" class="btn btn-sm btn-light text-dark text-sm" id="btnDlt" name="btnDlt">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-4">
                <div class="card border border-white shadow-xs">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-8 col-8 text-start">
                              <div class="input-group shadow-none">
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputStrDate" id="inputStrDate" style="height: 2rem">
                                  <label class="mt-2 me-4" style="font-size: 1rem">-</label>
                                  <input class="form-control border border-light rounded-1 text-center me-2" type="date" name="inputEndDate" id="inputEndDate" style="height: 2rem">
                              </div>
                            </div>
                            <div class="col-lg-4 col-4 text-end">
                                 <button type="button" class="btn btn-sm bg-gradient-info" id="btnSearch" name="btnSearch"><i class="fas fa-search me-2"></i>조회</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm height-500 overflow-auto border border-light">
                          <table class="table mb-0 align-items-center justify-content-center">
                              <colgroup>
                                  <col width="8%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="8%">
                              </colgroup>
                            <thead class="text-white font-weight-bolder text-center bg-primary">
                              <tr>
                                <th style="font-size: 0.85rem" class="p-2">거래일시</th>
                                <th style="font-size: 0.85rem" class="p-2">맡기신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">찾으신 금액</th>
                                <th style="font-size: 0.85rem" class="p-2">잔금</th>
                                <th style="font-size: 0.85rem" class="p-2">통장명</th>
                              </tr>
                            </thead>
                            <tbody id="withMainTb">
                              <tr id="withMainTr" class="withMainTr_tr">

                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-8 mb-md-0">
                <div class="card border border-white shadow-xs">
                    <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-3">
                                    <label class="mt-2 text-sm text-danger"><i class="far fa-edit me-2"></i>거래처</label>
                                    <select class="form-control border border-light rounded-1 text-center bg-danger-soft p-1" name="cboWitCust" id="cboWitCust" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="far fa-calendar me-2"></i>등록 일자</label>
                                    <input class="form-control text-center" type="date" id="txtWitRegDate" name="txtWitRegDate" style="height: 2rem; font-size: 0.8rem"/>
                                </div>
                                <div hidden class="col-4">
                                    <input hidden class="form-control text-end" type="number" id="txtWitSeq" name="txtWitSeq"/>
                                    <input hidden class="form-control text-end" type="number" id="txtWitRecn" name="txtWitRecn"/>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="far fa-edit me-2"></i>구분</label>
                                    <select class="form-control border border-light rounded-1 text-center p-1" name="cboWitGbn" id="cboWitGbn" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="far fa-edit me-2"></i>관리계정</label>
                                    <select class="form-control border border-light rounded-1 text-center p-1" name="cboAdminCode" id="cboAdminCode" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-circle me-2"></i>금액</label>
                                    <input class="form-control text-end" type="text" id="txtWitPrice" name="txtWitPrice" style="height: 2rem; font-size: 0.8rem"/>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-circle me-2 text-xs"></i>계좌번호</label>
                                    <select class="form-control border border-light rounded-1 text-center p-1" name="cboWitActNum" id="cboWitActNum" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-edit me-2"></i>결제방법</label>
                                    <select class="form-control border border-light rounded-1 text-center p-1" name="cboWitMethod" id="cboWitMethod" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-box me-2"></i>발행처</label>
                                    <select class="form-control border border-light rounded-1 text-center" name="cboWitIssueCust" id="cboWitIssueCust" style="height: 2rem; font-size: 0.8rem"></select>
                                </div>
                                <!--<div class="col-4">
                                    <label class="mt-4 h6"><i class="far fa-edit me-2"></i>회계계정</label>
                                    <select class="form-control border border-light rounded-1 text-center" name="cboActCode" id="cboActCode"></select>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-circle me-2 text-xs"></i>어음번호</label>
                                    <input class="form-control text-center" type="text" id="txtWitCashNum" name="txtWitCashNum" style="height: 2rem; font-size: 0.8rem"/>
                                </div>
                                <div class="col-3">
                                    <label class="mt-2 text-sm"><i class="fas fa-circle me-2 text-xs"></i>만기일자</label>
                                    <input class="form-control text-center" type="date" id="txtWitDeadline" name="txtWitDeadline" style="height: 2rem; font-size: 0.8rem"/>
                                </div>
                                <div hidden class="col-4">
                                    <label class="mt-4 text-sm font-weight-bolder me-4"><i class="fas fa-edit me-2"></i>처리</label>
                                    <input type="radio" id="WitEmpCount" name="WitEmpCount" checked value="1"/>
                                    <label class="mt-4 text-sm text-info me-4">현금</label>
                                    <input type="radio" id="WitEmpCount" name="WitEmpCount" value="2"/>
                                    <label class="mt-4 text-sm text-danger">계산서</label>
                                </div>
                                <div class="col-4">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="mt-2 text-sm"><i class="far fa-edit me-2"></i>비고</label>
                                    <input class="form-control text-start" type="text" id="txtWitRemark" name="txtWitRemark" style="height: 2rem; font-size: 0.8rem"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-sm height-300 border border-light">
                          <table class="table mb-0 align-items-center justify-content-center">
                              <colgroup>
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="8%">
                                  <col width="10%">
                                  <col width="10%">
                                  <col width="8%">
                                  <col width="2%">
                              </colgroup>
                            <thead class="text-white font-weight-bolder text-center" style="background-color: rgb(0, 92, 151);">
                              <tr>
                                <th style="font-size: 0.85rem" class="p-2">거래처명</th>
                                <th style="font-size: 0.85rem" class="p-2">관리계정</th>
                                <th style="font-size: 0.85rem" class="p-2">결재 방법</th>
                                <th style="font-size: 0.85rem" class="p-2">금 액</th>
                                <th style="font-size: 0.85rem" class="p-2">발행 은행</th>
                                <th style="font-size: 0.85rem" class="p-2">어음 번호</th>
                                <th style="font-size: 0.85rem" class="p-2">만기 일자</th>
                                  <th style="font-size: 0.85rem" class="p-2"></th>
                              </tr>
                            </thead>
                            <tbody id="withSubTb">
                              <tr id="#withSubTr" class="withSubTr_tr">

                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            var cboWitCust2 = "";
            var cboWitGbn = "";
            var cboAdminCode = "";
            var cboWitMethod = "";
            var cboWitActNum = "";
            var cboWitIssueCust = "";
            var cboWitCustTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitGbnTxt = "";
            var cboAdminCodeTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitMethodTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitActNumTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitIssueCustTxt = "";

            $("#cboWitCust").html("");
            $("#cboWitGbn").html("");
            $("#cboAdminCode").html("");
            $("#cboWitMethod").html("");
            $("#cboWitActNum").html("");
            $("#cboWitIssueCust").html("");
            $("#txtWitRegDate").val("");
            $("#txtWitSeq").val("");
            $("#txtWitRecn").val("");
            $("#txtWitPrice").val("");
            $("#txtWitCashNum").val("");
            $("#txtWitRemark").val("");

            var date = new Date();
            date.setMonth(date.getMonth() - 6);

            document.getElementById("inputStrDate").valueAsDate = date;
            document.getElementById("inputEndDate").valueAsDate = new Date;
            document.getElementById("txtWitRegDate").valueAsDate = new Date;

            var sDate = document.getElementById('inputStrDate').value;
            var eDate = document.getElementById('inputEndDate').value;

            var strDate = sDate.replace(/\-/g, '')
            var endDate = eDate.replace(/\-/g, '')
            var acIogb = "";
            var acDate = "";
            var acNum = "";
            var acCust = "";
            var acMcode = "";

            let data = {"strDate": strDate, "endDate": endDate, "acIogb": acIogb, "acDate": acDate,"acNum": acNum, "acCust": acCust, "acMcode": acMcode}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "with_reg_sheet_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    var list2 = data.balList;
                    var list3 = data.subList;
                    var total = 0;

                    $("#withMainTb").html("");
                    $("#withSubTb").html("");
                    for (var i = 0; i < list2.length; i++) {

                        total = list2[i][0]

                        $("#withMainTb").append(
                            "<tr id='#withMainTr' class='withMainTr_tr'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>이월잔액</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'></td> " +
                            "</tr> ");
                    }

                    for (var i = 0; i < list.length; i++) {

                        {# 입금 #}
                        if(list[i][0] == '2'){
                            total += list[i][2]
                        }
                        {# 출금 #}
                        if(list[i][0] == '1'){
                            total -= list[i][3]
                        }

                        $("#withMainTb").append(
                            "<tr id='#withMainTr' class='withMainTr_tr' main_code='" + list[i][0] + "," + list[i][1] + "," + list[i][6] + "," + list[i][4] + "," + list[i][8] + "'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][3]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "</tr> ");
                    }

                    for (var j = 0; j < list3.length; j++) {

                        $("#withSubTb").append(
                            "<tr id='#withSubTr' class='withSubTr_tr'>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][2] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][9] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][5] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list3[j][10]) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][14] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list3[j][15] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list3[j][11].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkWith[]' name='chkWith[]' value='" + list3[j][0] + "," + list3[i][6] + "," + list3[j][11] + "," + list3[j][12] + "," + list3[j][1] + "," + list3[j][8] + "'/></div></td>" +
                            "</tr> ");
                    }

                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboWitCust2) {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboWitGbn) {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboWitMethod) {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboMCode;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboAdminCode) {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        } else {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist5 = data.cboAcnumber;
                    for (var i = 0; i < combolist5.length; i++) {
                        if (combolist5[i][0] == cboWitActNum) {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "' selected>" + combolist5[i][0] + "</option>";
                        } else {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "'>" + combolist5[i][0] + "</option>";
                        }
                    }

                    $("#cboWitCust").append(cboWitCustTxt);
                    $("#cboWitGbn").append(cboWitGbnTxt);
                    $("#cboWitMethod").append(cboWitMethodTxt);
                    $("#cboAdminCode").append(cboAdminCodeTxt);
                    $("#cboWitActNum").append(cboWitActNumTxt);
                }
            })
        });

        {# 조회 버튼 누를시 #}
        $(document).on('click', '#btnSearch', function () {
            var sDate = document.getElementById('inputStrDate').value;
            var eDate = document.getElementById('inputEndDate').value;

            var strDate = sDate.replace(/\-/g, '')
            var endDate = eDate.replace(/\-/g, '')
            var acIogb = "";
            var acDate = "";
            var acNum = ""
            var acCust = "";
            var acMcode = "";

            let data = {"strDate": strDate, "endDate": endDate, "acIogb": acIogb, "acDate": acDate, "acNum": acNum, "acCust": acCust, "acMcode": acMcode}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "with_reg_sheet_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.mainList;
                    var list2 = data.balList;
                    var total = 0;

                    $("#withMainTb").html("");
                    $("#withSubTb").html("");
                    for (var i = 0; i < list2.length; i++) {

                        total = list2[i][0]

                        $("#withMainTb").append(
                            "<tr id='#withMainTr' class='withMainTr_tr'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'></td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>이월잔액</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'></td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'></td> " +
                            "</tr> ");
                    }

                    for (var i = 0; i < list.length; i++) {

                        {# 입금 #}
                        if(list[i][0] == '2'){
                            total += list[i][2]
                        }
                        {# 출금 #}
                        if(list[i][0] == '1'){
                            total -= list[i][3]
                        }

                        $("#withMainTb").append(
                            "<tr id='#withMainTr' class='withMainTr_tr' main_code='" + list[i][0] + "," + list[i][1] + "," + list[i][6] + "," + list[i][4] + "," + list[i][8] + "'>" +
                            "<td hidden class='text-center p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][1].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td>" +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][2]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][3]) + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(total) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][7] + "</td> " +
                            "</tr> ");
                    }

                }
            })
        });

        {# 테이블 로우 클릭 시 #}
        $(document).on('click', '#withMainTb .withMainTr_tr', function () {

            var cboWitCust2 = "";
            var cboWitGbn = "";
            var cboAdminCode = "";
            var cboWitMethod = "";
            var cboWitActNum = "";
            var cboWitIssueCust = "";
            var cboWitCustTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitGbnTxt = "";
            var cboAdminCodeTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitMethodTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitActNumTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitIssueCustTxt = "";

            $("#cboWitCust").html("");
            $("#cboWitGbn").html("");
            $("#cboAdminCode").html("");
            $("#cboWitMethod").html("");
            $("#cboWitActNum").html("");
            $("#cboWitIssueCust").html("");
            $("#txtWitRegDate").val("");
            $("#txtWitSeq").val("");
            $("#txtWitRecn").val("");
            $("#txtWitPrice").val("");
            $("#txtWitCashNum").val("");
            $("#txtWitRemark").val("");

            let search = $(this).attr('main_code');
            var split = search.split(',');
            var acIogb = split[0]
            var acDate = split[1]
            var acNum = split[2]
            var acCust = split[3]
            var acMcode= split[4]
            var strDate = "";
            var endDate = "";


            let data = {'acIogb': acIogb, 'acDate': acDate, 'acNum': acNum, "acCust": acCust, 'acMcode': acMcode, 'strDate': strDate, 'endDate': endDate}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "with_reg_sheet_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    var list = data.subList;

                    $("#withSubTb").html("");
                    for (var i = 0; i < list.length; i++) {
                        for (var j = 0; j < 21; j++) {
                            console.log("===================" + j + ":::" + list[i][j]);
                        }
                        $("#txtWitSeq").val(list[i][0])
                        $("#txtWitRecn").val(list[i][3])
                        $("#txtWitRegDate").val(list[i][11].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3'))
                        $("#txtWitPrice").val(list[i][10])
                        $("#txtWitCashNum").val(list[i][15])
                        $("#txtWitRemark").val(list[i][19])
                        cboWitCust2 = list[i][1];
                        cboWitGbn = list[i][6];
                        cboWitMethod = list[i][4];
                        cboAdminCode = list[i][8];
                        cboWitActNum = list[i][12];

                        $("#withSubTb").append(
                            "<tr id='#withSubTr' class='withSubTr_tr'>" +
                            "<td hidden class='text-start p-1' style='font-size: 0.85rem'>" + list[i][0] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][2] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][9] + "</td>" +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][5] + "</td> " +
                            "<td class='text-end p-1' style='font-size: 0.85rem'>" + addComma(list[i][10]) + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][14] + "</td> " +
                            "<td class='text-start p-1' style='font-size: 0.85rem'>" + list[i][15] + "</td> " +
                            "<td class='text-center p-1' style='font-size: 0.85rem'>" + list[i][11].replace(/(\d{4})(\d{2})(\d{2})/g, '$1-$2-$3') + "</td> " +
                            "<td class='text-center p-1'><div class='form-check text-xs'><input class='form-check-input' type='checkbox' id='chkWith[]' name='chkWith[]' value='" + list[i][0] + "," + list[i][6] + "," + list[i][11] + "," + list[i][12] + "," + list[i][1] + "," + list[i][8] + "'/></div></td>" +
                            "</tr> ");
                    }



                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboWitCust2) {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboWitGbn) {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboWitMethod) {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboMCode;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboAdminCode) {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        } else {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist5 = data.cboAcnumber;
                    for (var i = 0; i < combolist5.length; i++) {
                        if (combolist5[i][0] == cboWitActNum) {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "' selected>" + combolist5[i][0] + "</option>";
                        } else {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "'>" + combolist5[i][0] + "</option>";
                        }
                    }

                    $("#cboWitCust").append(cboWitCustTxt);
                    $("#cboWitGbn").append(cboWitGbnTxt);
                    $("#cboWitMethod").append(cboWitMethodTxt);
                    $("#cboAdminCode").append(cboAdminCodeTxt);
                    $("#cboWitActNum").append(cboWitActNumTxt);
                }
            })

        });

        {# 저장 버튼 #}
        $(document).on('click', "#btnSave", function () {

            var cboWitCust = document.getElementById('cboWitCust').value
            var txtWitRegDate = document.getElementById('txtWitRegDate').value
            var txtWitSeq = document.getElementById('txtWitSeq').value
            var txtWitRecn = document.getElementById('txtWitRecn').value
            var cboWitGbn = document.getElementById('cboWitGbn').value
            var cboAdminCode = document.getElementById('cboAdminCode').value
            var txtWitPrice = document.getElementById('txtWitPrice').value
            var cboWitActNum = document.getElementById('cboWitActNum').value
            var cboWitMethod = document.getElementById('cboWitMethod').value
            var cboWitIssueCust = document.getElementById('cboWitIssueCust').value
            var txtWitCashNum = document.getElementById('txtWitCashNum').value
            var txtWitDeadline = document.getElementById('txtWitDeadline').value
            var WitEmpCount = document.getElementById('WitEmpCount').value
            var txtWitRemark = document.getElementById('txtWitRemark').value


            if(cboWitCust == '')
            {
                alert("거래처를 입력해주세요.")
                return false
            }

            let data = {'cboWitCust': cboWitCust,'txtWitRegDate': txtWitRegDate,'txtWitSeq': txtWitSeq
                , 'txtWitRecn': txtWitRecn, 'cboWitGbn': cboWitGbn, 'cboAdminCode': cboAdminCode, 'txtWitPrice': txtWitPrice
                , 'cboWitActNum': cboWitActNum, 'cboWitMethod': cboWitMethod, 'cboWitIssueCust': cboWitIssueCust, 'txtWitCashNum': txtWitCashNum
                , 'txtWitDeadline': txtWitDeadline, 'WitEmpCount': WitEmpCount, 'txtWitRemark': txtWitRemark}

            $.ajax({
                type: "post",
                data: data,
                dataType: "json",
                url: '{% url "with_reg_sheet_save" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.sucYn === 'Y') {
                        alert('저장 되었습니다.')
                        location.href = "{% url 'with_reg_sheet' %}";
                    }
                }
            });

        });


        {# 초기화 버튼 #}
        $(document).on('click', "#btnClear", function () {
            var cboWitCust2 = "";
            var cboWitGbn = "";
            var cboAdminCode = "";
            var cboWitMethod = "";
            var cboWitActNum = "";
            var cboWitIssueCust = "";
            var cboWitCustTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitGbnTxt = "";
            var cboAdminCodeTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitMethodTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitActNumTxt = "<option value=''>:: 선택 ::</option>";
            var cboWitIssueCustTxt = "";

            $("#cboWitCust").html("");
            $("#cboWitGbn").html("");
            $("#cboAdminCode").html("");
            $("#cboWitMethod").html("");
            $("#cboWitActNum").html("");
            $("#cboWitIssueCust").html("");
            $("#txtWitRegDate").val("");
            $("#txtWitSeq").val("");
            $("#txtWitRecn").val("");
            $("#txtWitPrice").val("");
            $("#txtWitCashNum").val("");
            $("#txtWitRemark").val("");

            document.getElementById('txtWitRegDate').valueAsDate = new Date
            var strDate = "";
            var endDate = "";
            var acIogb = "";
            var acDate = "";
            var acNum = "";
            var acCust = "";
            var acMcode = "";

            let data = {'acIogb': acIogb, 'acDate': acDate, 'acNum': acNum, "acCust": acCust, 'acMcode': acMcode, 'strDate': strDate, 'endDate': endDate}

            $.ajax({
                type: "post",
                data: data,
                url: '{% url "with_reg_sheet_search" %}',
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                dataType: 'json',
                success: function (data) {
                    $("#withSubTb").html("");

                    var combolist = data.cboCust;
                    for (var i = 0; i < combolist.length; i++) {
                        if (combolist[i][0] == cboWitCust2) {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "' selected>" + combolist[i][1] + "</option>";
                        } else {
                            cboWitCustTxt = cboWitCustTxt + "<option value='" + combolist[i][0] + "'>" + combolist[i][1] + "</option>";
                        }
                    }

                    var combolist2 = data.cboGgn;
                    for (var i = 0; i < combolist2.length; i++) {
                        if (combolist2[i][0] == cboWitGbn) {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "' selected>" + combolist2[i][1] + "</option>";
                        } else {
                            cboWitGbnTxt = cboWitGbnTxt + "<option value='" + combolist2[i][0] + "'>" + combolist2[i][1] + "</option>";
                        }
                    }

                    var combolist3 = data.cboPay;
                    for (var i = 0; i < combolist3.length; i++) {
                        if (combolist3[i][0] == cboWitMethod) {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "' selected>" + combolist3[i][1] + "</option>";
                        } else {
                            cboWitMethodTxt = cboWitMethodTxt + "<option value='" + combolist3[i][0] + "'>" + combolist3[i][1] + "</option>";
                        }
                    }

                    var combolist4 = data.cboMCode;
                    for (var i = 0; i < combolist4.length; i++) {
                        if (combolist4[i][0] == cboAdminCode) {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "' selected>" + combolist4[i][1] + "</option>";
                        } else {
                            cboAdminCodeTxt = cboAdminCodeTxt + "<option value='" + combolist4[i][0] + "'>" + combolist4[i][1] + "</option>";
                        }
                    }

                    var combolist5 = data.cboAcnumber;
                    for (var i = 0; i < combolist5.length; i++) {
                        if (combolist5[i][0] == cboWitActNum) {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "' selected>" + combolist5[i][0] + "</option>";
                        } else {
                            cboWitActNumTxt = cboWitActNumTxt + "<option value='" + combolist5[i][0] + "'>" + combolist5[i][0] + "</option>";
                        }
                    }

                    $("#cboWitCust").append(cboWitCustTxt);
                    $("#cboWitGbn").append(cboWitGbnTxt);
                    $("#cboWitMethod").append(cboWitMethodTxt);
                    $("#cboAdminCode").append(cboAdminCodeTxt);
                    $("#cboWitActNum").append(cboWitActNumTxt);

                }
            })
        });

        {#체크한 내용 삭제#}
        $(document).on('click', "#btnDlt", function () {

            var chk_cust_id_arr = [];
            $('input[name="chkWith[]"]:checked').each(function (i) {
                chk_cust_id_arr.push($(this).val());
            })

            //체크가 1개라도 안되있을때
            let chk_count = $("input[name='chkWith[]']").filter(":checked").length;
            if (chk_count < 1) {
                alert('삭제하실 직원을 체크 해주세요.');
                return false;
            }

            //체크 한 거래처 삭제
            var result = confirm("삭제하시겠습니까?")

            if (result) {
                if (chk_cust_id_arr.length > 0)

                    $.ajax({
                        type: "post",
                        async: false,
                        data: {
                            'arrList': JSON.stringify(chk_cust_id_arr),
                        },
                        dataType: "json",
                        url: '{% url "with_reg_sheet_dlt" %}',
                        headers: {
                            'X-CSRFTOKEN': '{{ csrf_token }}'
                        },
                        success: function (data) {
                            location.href = "{% url 'with_reg_sheet' %}";
                        }

                    });
            } else {

            }
        });
    </script>

{% endblock %}